<div
  style="display: flex; margin-bottom: 8px;">
  <h3 style="margin-right: 24px;">
    ผู้ป่วยแต่ละสถานะ
  </h3>
  <div style="width: 200px; margin-right: 16px;">
    <label> วันที่เริ่ม </label>
    <my-date-picker-th
        [(ngModel)]="startDate"
        [options]="myDatePickerOptions"
        name="startDatePatientsVase"
        (dateChanged)="selectStartDate($event)">
    </my-date-picker-th>
  </div>
  <div style="width: 200px; margin-right: 16px;">
    <label> วันที่สิ้นสุด </label>
    <my-date-picker-th
        [(ngModel)]="endDate"
        [options]="myDatePickerOptions"
        name="endDatePatientsVase"
        (dateChanged)="selectEndDate($event)">
    </my-date-picker-th>
  </div>
</div>
<div style="display: flex;">
  <div
    style="margin-right: 24px"
    class="card dashboard-national__bed-card">
    <div class="card-block">
        <div  class="card-title">
          Admit
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          12312
        </div>
    </div>
  </div>
  <div
    style="margin-right: 24px"
    class="card dashboard-national__bed-card">
    <div class="card-block">
        <div class="card-title">
          Discharge
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          12312
        </div>
    </div>
  </div>
  <div
    style="margin-right: 24px"
    class="card dashboard-national__bed-card">
    <div class="card-block">
        <div class="card-title">
          Dead
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          1231
        </div>
    </div>
  </div>
</div>
<div
  style="width: 636px;"
  class="card">
  <div class="card-block">
    <highcharts-chart
        [Highcharts] = "highcharts"
        [options] = "lineChartOptions">
    </highcharts-chart>
  </div>
</div>
