<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานจำนวนบุคลากร</span>
</nav>

<div class="clr-row" style="padding-bottom: 0rem;">
  <div class="clr-col-12">
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('')">
      ทั้งหมด
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('01')">
      เขต 1
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('02')">
      เขต 2
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('03')">
      เขต 3
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('04')">
      เขต 4
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('05')">
      เขต 5
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('06')">
      เขต 6
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('07')">
      เขต 7
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('08')">
      เขต 8
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('09')">
      เขต 9
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('10')">
      เขต 10
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('11')">
      เขต 11
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('12')">
      เขต 12
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('13')">
      เขต 13
    </button>
  </div>
</div>

<div *ngFor="let l of list">
  <h3> {{l.provinces == 1 ? '' : 'เขต '+l.name}}</h3>
  <table class="table table-compact" style="position: relative; border-collapse: collapse;" *ngFor="let p of l.provinces">
    <thead>
      <tr>
        <th colspan="13" style="text-align: left;">
          <h4>{{p.province_name}}</h4>
        </th>
      </tr>
      <tr>
        <th class="right" style="position: sticky; top: 0;">โรงพยาบาล</th>
        <th class="right" style="position: sticky; top: 0;">อายุรศาสตร์โรคติดเชื้อ</th>
        <th class="right" style="position: sticky; top: 0;">อายุรศาสตร์เวชบำบัดวิกฤติ</th>
        <th class="right" style="position: sticky; top: 0;">วิสัญญีแพทย์</th>
        <th class="right" style="position: sticky; top: 0;">แพทย์อายุรศาสตร์โรคระบบการหายใจ</th>
        <th class="right" style="position: sticky; top: 0;">แพทย์อายุรกรรม</th>
        <th class="right" style="position: sticky; top: 0;">แพทย์รังสี</th>
        <th class="right" style="position: sticky; top: 0;">แพทย์เวชปฏิบัติทั่วไป</th>
        <th class="right" style="position: sticky; top: 0;">พยาบาลผู้ป่วยวิกฤติ(ICU)</th>
        <th class="right" style="position: sticky; top: 0;">พยาบาลเฉพาะทางด้านเวชบำบัดวิกฤติ</th>
        <th class="right" style="position: sticky; top: 0;">พยาบาล</th>
        <th class="right" style="position: sticky; top: 0;">นักเทคนิคการแพทย์</th>
        <th class="right" style="position: sticky; top: 0;">เภสัชกร</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of p.hospitals">
        <td class="left">{{h.hospname}}</td>
        <td class="right">{{h['p_1'] }}</td>
        <td class="right">{{h['p_2'] }}</td>
        <td class="right">{{h['p_3'] }}</td>
        <td class="right">{{h['p_4'] }}</td>
        <td class="right">{{h['p_5'] }}</td>
        <td class="right">{{h['p_6'] }}</td>
        <td class="right">{{h['p_7'] }}</td>
        <td class="right">{{h['p_8'] }}</td>
        <td class="right">{{h['p_9'] }}</td>
        <td class="right">{{h['p_10'] }}</td>
        <td class="right">{{h['p_11'] }}</td>
        <td class="right">{{h['p_12'] }}</td>
      </tr>
      <!-- <tr>
        <td class="right" style="font-weight: bold;">รวม</td>
        <td class="right" style="font-weight: bold;">{{l.count}}</td>
        <td class="right" style="font-weight: bold;">{{l.severe}}</td>
        <td class="right" style="font-weight: bold;">{{l.moderate}}</td>
        <td class="right" style="font-weight: bold;">{{l.mild}}</td>
        <td class="right" style="font-weight: bold;">{{l.asymptomatic}}</td>
        <td class="right" style="font-weight: bold;">{{l.ippui}}</td>
      </tr> -->
    </tbody>
  </table>
</div>

<app-loadding #loading></app-loadding>