<div class="clr-row">
  <div class="clr-col-1">
    ชื่อสถานบริการ :
  </div>
  <div class="clr-col-3">
    <app-autocomplete-hospital style="padding: 0px" #hospital (onselect)="onSelectHosp($event)">
    </app-autocomplete-hospital>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-6">
    <clr-datagrid [clrDgLoading]="loading" [style.height.px]="200">
      <clr-dg-column>รหัส</clr-dg-column>
      <clr-dg-column>รายการ</clr-dg-column>
      <clr-dg-column></clr-dg-column>
      <clr-dg-row *ngFor="let l of hospList; let idx=index;">
        <clr-dg-cell>{{l.hospcode}}</clr-dg-cell>
        <clr-dg-cell>{{l.hospname}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-sm btn-danger" (click)="remove(l)" title="ลบ">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  <div class="clr-col-6">
    <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
      <clr-dg-column>#</clr-dg-column>
      <clr-dg-column>รหัสเวชภัณฑ์</clr-dg-column>
      <clr-dg-column>รายการ</clr-dg-column>
      <clr-dg-column>จำนวนเติม</clr-dg-column>
      <clr-dg-column>หน่วย</clr-dg-column>

      <clr-dg-row *ngFor="let l of list; let idx=index;">
        <clr-dg-cell>{{idx+1}}</clr-dg-cell>
        <clr-dg-cell>{{l.code}}</clr-dg-cell>
        <clr-dg-cell>{{l.name}}</clr-dg-cell>
        <clr-dg-cell>
          <input style="text-align: right;" type="number" name="qty" [(ngModel)]="l.qty" class="clr-input width-fit">
        </clr-dg-cell>
        <clr-dg-cell>{{l.unit}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>