<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานจำนวนประเภทเครื่องช่วยหายใจ ณ. วันที่ {{date | dateTh:'DD/MM/YYYY'}}</span>
</nav>
<br>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">รายงานจำนวนประเภทเครื่องช่วยหายใจ(เขต)</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <div class="clr-row">
        <div class="clr-col-4">
          <!-- <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th> -->
        </div>
        <div class="clr-col-1">
          <!-- <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button> -->
        </div>
        <div class="clr-col-7" style="text-align: right;">
          <button class="btn btn-sm btn-primary" (click)="doExportExcel1()">
            <clr-icon shape="download"></clr-icon>export excel
          </button>
        </div>
      </div>

      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="td-border">เขต</th>
          <th colspan="2" class="td-border">Non-invasive ventilator (NIV)</th>
          <th colspan="2" class="td-border">Invasive ventilator</th>
          <th colspan="2" class="td-border">High Flow</th>
        </tr>
        <tr>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
        </tr>
        <tr>
          <th class="left td-border" รวม></th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
        </tr>
        <tr *ngFor="let i of listSector;let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="text-left td-border">{{i.zone_code}}
          </td>
          <td class="td-border text-right">{{i.non_invasive_ventilator| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_qty| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.invasive_ventilator| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.invasive_qty| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow_qty| number:'1.0-0'}}</td>
        </tr>
        <tr>
          <th class="text-left td-border" รวม></th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
        </tr>
      </table>
      <label>{{listSector.length | number:'1.0-0' }} รายการ</label>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>รายงานจำนวนประเภทเครื่องช่วยหายใจ(สังกัด)</button>
    <clr-tab-content *clrIfActive>
      <div class="clr-row">
        <div class="clr-col-4">
          <!-- <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th> -->
        </div>
        <div class="clr-col-1">
          <!-- <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button> -->
        </div>
        <div class="clr-col-7" style="text-align: right;">
          <button class="btn btn-sm btn-primary" (click)="doExportExcel2()">
            <clr-icon shape="download"></clr-icon>export excel
          </button>
        </div>
      </div>

      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="td-border">สังกัด</th>
          <th colspan="2" class="td-border">Non-invasive ventilator (NIV)</th>
          <th colspan="2" class="td-border">Invasive ventilator</th>
          <th colspan="2" class="td-border">High Flow</th>
        </tr>
        <tr>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
        </tr>
        <tr>
          <th class="left td-border" รวม></th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          
        </tr>
        <tr *ngFor="let i of listMinistry;let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="text-left td-border">{{i.sub_ministry_name}}
          </td>
          <td class="td-border text-right">{{i.non_invasive_ventilator| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_qty| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.invasive_ventilator| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.invasive_qty| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow_qty| number:'1.0-0'}}</td>
        </tr>
        <tr>
          <th class="text-left td-border" รวม></th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          
        </tr>
      </table>
      <label>{{listMinistry.length | number:'1.0-0' }} รายการ</label>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>รายงานจำนวนประเภทเครื่องช่วยหายใจ(โรงพยาบาล)</button>
    <clr-tab-content *clrIfActive>
      <div class="clr-row">
        <div class="clr-col-4">
          <!-- <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th> -->
        </div>
        <div class="clr-col-1">
          <!-- <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button> -->
        </div>
        <div class="clr-col-7" style="text-align: right;">
          <button class="btn btn-sm btn-primary" (click)="doExportExcel3()">
            <clr-icon shape="download"></clr-icon>export excel
          </button>
        </div>
      </div>

      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="td-border">โรงพยาบาล</th>
          <th colspan="2" class="td-border">Non-invasive ventilator (NIV)</th>
          <th colspan="2" class="td-border">Invasive ventilator</th>
          <th colspan="2" class="td-border">High Flow</th>
          <th rowspan="2">หน่วยงาน</th>
        </tr>
        <tr>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
        </tr>
        <tr>
          <th class="left td-border" รวม></th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th></th>
        </tr>
        <tr *ngFor="let i of listHospital;let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="text-left td-border">{{i.hospname}}
            <br>
            <label style="color: red;">
              ข้อมูลล่าสุด: {{ i.updated_entry | dateTh:'DD/MM/YYYY hh:mm'}}
            </label>
          </td>
          <td class="td-border text-right">{{i.non_invasive_ventilator| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_qty| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.invasive_ventilator| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.invasive_qty| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow_qty| number:'1.0-0'}}</td>
          <td>{{i.sub_ministry_name}}</td>
        </tr>
        <tr>
          <th class="text-left td-border" รวม></th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th></th>
        </tr>
      </table>
      <label>{{listHospital.length | number:'1.0-0' }} รายการ</label>

    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<app-loadding #loading></app-loadding>