<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานจำนวนประเภทเครื่องช่วยหายใจ ณ. วันที่ {{date | dateTh:'DD/MM/YYYY'}}</span>
</nav>
<br>
<div *ngIf="tab!=2">
  <div class="clr-row">
    <div class="clr-col-1">
      <span>ค้นหาเขตสุขภาพ</span>
    </div>
    <div class="clr-col-2">
      <div class="clr-select-wrapper" style="width: 100%;">
        <select name="zone" class="clr-select" [(ngModel)]="selectedZone" style="width: 100%;"
          (change)="onChangeZone()">
          <option value="all">เลือกเขต</option>
          <option *ngFor="let v of zone" [value]="v">เขต {{v}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="tab==1" class="clr-col-2">
      <button [disabled]="!selectedZone" class="btn btn-primary btn-outline btn-sm" (click)="onClickSearch()">ค้นหา
        <clr-icon shape="search">
        </clr-icon>
      </button>
    </div>
  </div>
  <div *ngIf="tab!=1" class="clr-row">
    <div class="clr-col-1">
      <span>ค้นหาจังหวัด</span>
    </div>
    <div class="clr-col-2">
      <div class="clr-select-wrapper" style="width: 100%;">
        <select name="province" class="clr-select" [(ngModel)]="selectedProvince" style="width: 100%;">
          <option value="all">เลือกจังหวัด</option>
          <option *ngFor="let v of listProvince" [value]="v.code">{{v.name_th}}</option>
        </select>
      </div>
    </div>
    <div class="clr-col-2">
      <button [disabled]="!selectedZone" class="btn btn-primary btn-outline btn-sm" (click)="onClickSearch()">ค้นหา
        <clr-icon shape="search">
        </clr-icon>
      </button>
    </div>
  </div>
</div>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">รายงานจำนวนประเภทเครื่องช่วยหายใจ(เขต)</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <div class="clr-row">
        <div class="clr-col-4">
          <!-- <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th> -->
        </div>
        <div class="clr-col-1">
          <!-- <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button> -->
        </div>
        <div class="clr-col-7" style="text-align: right;">
          <button class="btn btn-sm btn-primary" (click)="doExportExcel1()">
            <clr-icon shape="download"></clr-icon>export excel
          </button>
        </div>
      </div>

      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="td-border">เขต</th>
          <th colspan="3" class="td-border">Invasive ventilator</th>
          <th colspan="3" class="td-border">Non-invasive ventilator (NIV)</th>
          <th colspan="3" class="td-border">High Flow</th>
        </tr>
        <tr>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
        </tr>
        <tr>
          <th class="left td-border" รวม></th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll - ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll - nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll - hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
        </tr>
        <tr *ngFor="let i of listSectorFilter;let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="text-left td-border">{{i.zone_code}}
          </td>
          <td class="td-border text-right">{{i.invasive_qty || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.invasive_qty || 0) - (i.invasive_ventilator || 0) | number:'1.0-0'}}
          </td>
          <td class="td-border text-right">{{i.invasive_ventilator || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_qty || 0| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.non_invasive_qty || 0) - (i.non_invasive_ventilator || 0) |
            number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_ventilator || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow_qty || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.high_flow_qty || 0) - (i.high_flow || 0) | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow || 0 | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <th class="text-left td-border" รวม></th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll - ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll - nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll - hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
        </tr>
      </table>
      <label>{{listSectorFilter.length | number:'1.0-0' }} รายการ</label>

    </clr-tab-content>
  </clr-tab>
  <!-- <clr-tab>
    <button clrTabLink>รายงานจำนวนประเภทเครื่องช่วยหายใจ(สังกัด)</button>
    <clr-tab-content *clrIfActive>
      <div class="clr-row">
        <div class="clr-col-4">
        </div>
        <div class="clr-col-1">
        </div>
        <div class="clr-col-7" style="text-align: right;">
          <button class="btn btn-sm btn-primary" (click)="doExportExcel2()">
            <clr-icon shape="download"></clr-icon>export excel
          </button>
        </div>
      </div>

      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="td-border">สังกัด</th>
          <th colspan="3" class="td-border">Non-invasive ventilator (NIV)</th>
          <th colspan="3" class="td-border">Invasive ventilator</th>
          <th colspan="3" class="td-border">High Flow</th>
        </tr>
        <tr>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
        </tr>
        <tr>
          <th class="left td-border" รวม></th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll - ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll - nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll - hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>

        </tr>
        <tr *ngFor="let i of listMinistryFilter;let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="text-left td-border">{{i.sub_ministry_name}}
          </td>
          <td class="td-border text-right">{{i.invasive_qty || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.invasive_qty || 0) - (i.invasive_ventilator || 0) | number:'1.0-0'}}
          </td>
          <td class="td-border text-right">{{i.invasive_ventilator || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_qty || 0| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.non_invasive_qty || 0) - (i.non_invasive_ventilator || 0) |
            number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_ventilator || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow_qty || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.high_flow_qty || 0) - (i.high_flow || 0) | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow || 0 | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <th class="text-left td-border" รวม></th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll - ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll - nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll - hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>

        </tr>
      </table>
      <label>{{listMinistryFilter.length | number:'1.0-0' }} รายการ</label>

    </clr-tab-content>
  </clr-tab> -->
  <clr-tab>
    <button clrTabLink>รายงานจำนวนประเภทเครื่องช่วยหายใจ(โรงพยาบาล)</button>
    <clr-tab-content *clrIfActive>
      <div class="clr-row">
        <div class="clr-col-4">
          <!-- <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th> -->
        </div>
        <div class="clr-col-1">
          <!-- <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button> -->
        </div>
        <div class="clr-col-7" style="text-align: right;">
          <button class="btn btn-sm btn-primary" (click)="doExportExcel3()">
            <clr-icon shape="download"></clr-icon>export excel
          </button>
        </div>
      </div>

      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="td-border">โรงพยาบาล</th>
          <th colspan="3" class="td-border">Non-invasive ventilator (NIV)</th>
          <th colspan="3" class="td-border">Invasive ventilator</th>
          <th colspan="3" class="td-border">High Flow</th>
          <th rowspan="2">หน่วยงาน</th>
        </tr>
        <tr>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
          <th class="td-border">ทั้งหมด</th>
          <th class="td-border">เตรียมสำหรับผู้ป่วย Covid</th>
          <th class="td-border">ใช้กับผู้ป่วย Covid</th>
        </tr>
        <tr>
          <th class="left td-border" รวม></th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll - ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll - nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll - hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th></th>
        </tr>
        <tr *ngFor="let i of listHospitalFilter;let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="text-left td-border">{{i.hospname}}
            <br>
            <label style="color: red;">
              ข้อมูลล่าสุด: {{ i.updated_entry | dateTh:'DD/MM/YYYY hh:mm'}}
            </label>
          </td>
          <td class="td-border text-right">{{i.invasive_qty || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.invasive_qty || 0) - (i.invasive_ventilator || 0) | number:'1.0-0'}}
          </td>
          <td class="td-border text-right">{{i.invasive_ventilator || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_qty || 0| number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.non_invasive_qty || 0) - (i.non_invasive_ventilator || 0) |
            number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.non_invasive_ventilator || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow_qty || 0 | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{(i.high_flow_qty || 0) - (i.high_flow || 0) | number:'1.0-0'}}</td>
          <td class="td-border text-right">{{i.high_flow || 0 | number:'1.0-0'}}</td>
          <td>{{i.sub_ministry_name}}</td>
        </tr>
        <tr>
          <th class="text-left td-border" รวม></th>
          <th class="td-border text-right">{{ivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivAll - ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{ivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivAll - nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{nivCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfAll - hfCovid| number:'1.0-0'}}</th>
          <th class="td-border text-right">{{hfCovid| number:'1.0-0'}}</th>
          <th></th>
        </tr>
      </table>
      <label>{{listHospitalFilter.length | number:'1.0-0' }} รายการ</label>

    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<app-loadding #loading></app-loadding>