<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานจำนวนผู้ป่วย COVID ADMIT แยกรายโรงพยาบาล</span>
</nav>

<!-- <table class="table">
  <thead>
    <tr>
      <th colspan="2" class="left"></th>
      <th class="left">จำนวนผู้ป่วย</th>
      <th class="left">IP PUI</th>
      <th class="left">Severve</th>
      <th class="left">Moderate</th>
      <th class="left">Mild</th>
      <th class="left">Asymptomatic</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="2" class="right" style="font-weight: bold;">รวมทั้งสิ้น</th>
      <th class="right" style="font-weight: bold;">{{total}}</th>
      <th class="right" style="font-weight: bold;">{{ippui}}</th>
      <th class="right" style="font-weight: bold;">{{severe}}</th>
      <th class="right" style="font-weight: bold;">{{moderate}}</th>
      <th class="right" style="font-weight: bold;">{{mild}}</th>
      <th class="right" style="font-weight: bold;">{{asymptomatic}}</th>
    </tr>
  </thead>
</table> -->
<br>

<input type="date" name="date" [(ngModel)]="date" (change)="onChangeDate()">

<clr-datagrid>
  <clr-dg-column>เขตสุขภาพ</clr-dg-column>

  <clr-dg-row *ngFor="let b of list">
    <clr-dg-cell>{{b.name}}</clr-dg-cell>
    <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
      <clr-dg-column>จังหวัด</clr-dg-column>
      <clr-dg-row *ngFor="let p of b.provinces">
        <clr-dg-cell>{{p.province_name}}</clr-dg-cell>
       
        <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
          <clr-dg-column>โรงพยาบาล</clr-dg-column>
          <clr-dg-column>Severe</clr-dg-column>
          <clr-dg-column>Moderate</clr-dg-column>
          <clr-dg-column>Mild</clr-dg-column>
          <clr-dg-column>Asymptomatic</clr-dg-column>
          <clr-dg-column>IP PUI</clr-dg-column>
          <clr-dg-row *ngFor="let h of p.hospitals">
            <clr-dg-cell>{{h.hospname}}</clr-dg-cell>
            <clr-dg-cell>{{h['Severe']}}</clr-dg-cell>
            <clr-dg-cell>{{h['Moderate']}}</clr-dg-cell>
            <clr-dg-cell>{{h['Mild']}}</clr-dg-cell>
            <clr-dg-cell>{{h['Asymptomatic']}}</clr-dg-cell>
            <clr-dg-cell>{{h['IP PUI']}}</clr-dg-cell>
             <!-- <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
              <clr-dg-column>aiir</clr-dg-column>
              <clr-dg-column>จังหวัด</clr-dg-column>
              <clr-dg-column>จังหวัด</clr-dg-column>
              <clr-dg-column>จังหวัด</clr-dg-column>
              <clr-dg-column>จังหวัด</clr-dg-column>
              <clr-dg-row *ngFor="let p of p.hospitals">
                <clr-dg-cell>{{h.hospname}}</clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>  -->
          </clr-dg-row>
          <!-- <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
        </clr-datagrid>
      </clr-dg-row>
      <!-- <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
    </clr-datagrid>
  </clr-dg-row>

  <!-- <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
</clr-datagrid>

<app-loadding #loading></app-loadding>