<nav
  style="margin-bottom: 16px;"
  class="breadcrumb">
  <div class="breadcrumb-item active">
    Dashboard ภาพรวมระดับประเทศ
  </div>
</nav>

<div class="dashboard-national__menus">
  <button
    style="margin-right: 24px;"
    class="btn btn-primary btn-sm"
    routerLink="beds-type">
    การใช้งานเตียงแต่ละประเภท
  </button>
  <button
    style="margin-right: 24px;"
    class="btn btn-primary btn-sm"
    routerLink="patients-case">
    ผู้ป่วยแต่ละอาการ
  </button>
  <button
    style="margin-right: 24px;"
    class="btn btn-primary btn-sm"
    routerLink="patients-status-part1">
    ผู้ป่วยแต่ละสถานะ (ส่วนที่ 1)
  </button>
  <button
    class="btn btn-primary btn-sm"
    routerLink="patients-status-part2">
    ผู้ป่วยแต่ละสถานะ (ส่วนที่ 2)
  </button>
</div>

<router-outlet></router-outlet>

<!-- <div *ngIf="tabs === 0">
  <app-beds-type></app-beds-type>
</div>

<div *ngIf="tabs === 1">
  <app-patients-case></app-patients-case>
</div>

<div *ngIf="tabs === 2">
  <app-patients-sum-status></app-patients-sum-status>
</div>


<div *ngIf="tabs === 3">
  <app-patients-daily-status></app-patients-daily-status>
</div> -->
