<nav
  style="margin-bottom: 16px;"
  class="breadcrumb">
  <div class="breadcrumb-item active">
    Dashboard ภาพรวมระดับประเทศ
  </div>
</nav>

<div class="dashboard-national__menus">
  <button
    style="margin-right: 24px;"
    class="btn btn-primary btn-sm"
    (click)="setTabs(0)">
    การใช้งานเตียงแต่ละประเภท
  </button>
  <button
    style="margin-right: 24px;"
    class="btn btn-primary btn-sm"
    (click)="setTabs(1)">
    ผู้ป่วยแต่ละอาการ
  </button>
  <button
    style="margin-right: 24px;"
    class="btn btn-primary btn-sm"
    (click)="setTabs(2)">
    ผู้ป่วยแต่ละสถานะ
  </button>
</div>

<!-- การใช้งานเตียงแต่ละประเภท -->
<div *ngIf="tabs === 0">
  <app-beds-type></app-beds-type>
</div>

<!-- ผู้ป่วยแต่ละอาการ -->
<div *ngIf="tabs === 1">
  <app-patients-case></app-patients-case>
</div>

<!-- ผู้ป่วยแต่ละสถานะ -->
<div *ngIf="tabs === 2">
  <app-patients-status></app-patients-status>
</div>
