<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานผู้ป่วย ADMIT PUI+ATK </span>
</nav>
<div class="clr-row">
  <div class="clr-col-6">
    ข้อมูล ณ​ {{dataDate1 | dateTh:'DD/MM/YYYY hh:mm'}}
  </div>
  <div class="clr-col-6" style="text-align: right;">
  <button class="btn btn-primary btn-sm" (click)="onClickExport()">Export</button>
  <button class="btn btn-primary btn-sm" (click)="onClickExportDms()">Export DMS</button>
</div>
</div>
<table class="table table-compact" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th class="text-left td-border">เขต</th>
      <th class="text-left td-border">รวม</th>
      <th class="text-left td-border">pui</th>
      <th class="text-left td-border">atk</th>
      <th class="text-left td-border">aiir</th>
      <th class="text-left td-border">modified aiir</th>
      <th class="text-left td-border">isolate</th>
      <th class="text-left td-border">cohort</th>
      <th class="text-left td-border">Hospitel</th>
      <th class="text-left td-border">cohort icu</th>
      <th class="text-left td-border">invasive</th>
      <th class="text-left td-border">noninvasive</th>
      <th class="text-left td-border">high_flow</th>
      <!-- <th class="text-left td-border">Hydroxychloroquine 200 mg.</th>
      <th class="text-left td-border">Chloroquine 250 mg.</th> -->
      <th class="text-left td-border">Darunavir 600 mg.</th>
      <th class="text-left td-border">Lopinavir 200 mg./Ritonavir 50 mg.</th>
      <th class="text-left td-border">Ritonavir 100 mg.</th>
      <th class="text-left td-border">Azithromycin 250 mg.</th>
      <th class="text-left td-border">Favipiravi</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of summary; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
      <td class="text-left td-border">{{+l.zone_code}}</td>
      <td class="text-right td-border">{{+l.pui++l.atk || 0}}</td>
      <td class="text-right td-border">{{l.pui || 0}}</td>
      <td class="text-right td-border">{{l.atk || 0}}</td>
      <td class="text-right td-border"> {{l.aiir || 0}}</td>
      <td class="text-right td-border"> {{l.modified_aiir || 0}}</td>
      <td class="text-right td-border"> {{l.isolate || 0}}</td>
      <td class="text-right td-border"> {{l.cohort || 0}}</td>
      <td class="text-right td-border"> {{l.hospitel || 0}}</td>
      <td class="text-right td-border"> {{l.cohort_icu || 0}}</td>
      <td class="text-right td-border"> {{l.invasive || 0}}</td>
      <td class="text-right td-border"> {{l.noninvasive || 0}}</td>
      <td class="text-right td-border"> {{l.high_flow || 0}}</td>
      <!-- <td class="text-right td-border">{{l.d1 || 0}}</td>
      <td class="text-right td-border">{{l.d2 || 0}}</td> -->
      <td class="text-right td-border">{{l.d3 || 0}}</td>
      <td class="text-right td-border">{{l.d4 || 0}}</td>
      <td class="text-right td-border">{{l.d5 || 0}}</td>
      <td class="text-right td-border">{{l.d7 || 0}}</td>
      <td class="text-right td-border">{{l.d8 || 0}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td class="text-left td-border">รวม</td>
      <td class="text-right td-border">{{total}}</td>
      <td class="text-right td-border">{{pui}}</td>
      <td class="text-right td-border">{{atk}}</td>
      <td class="text-right td-border"> {{aiir}}</td>
      <td class="text-right td-border"> {{modifiedAiir}}</td>
      <td class="text-right td-border"> {{isolate}}</td>
      <td class="text-right td-border"> {{cohort}}</td>
      <td class="text-right td-border"> {{hospitel}}</td>
      <td class="text-right td-border"> {{cohortIcu}}</td>
      <td class="text-right td-border"> {{invasive}}</td>
      <td class="text-right td-border"> {{noninvasive}}</td>
      <td class="text-right td-border"> {{highFlow}}</td>
      <!-- <td class="text-right td-border">{{d1}}</td>
      <td class="text-right td-border">{{d2}}</td> -->
      <td class="text-right td-border">{{d3}}</td>
      <td class="text-right td-border">{{d4}}</td>
      <td class="text-right td-border">{{d5}}</td>
      <td class="text-right td-border">{{d7}}</td>
      <td class="text-right td-border">{{d8}}</td>

    </tr>
  </tfoot>
</table>
<br>
ข้อมูล ณ​ {{dataDate2 | dateTh:'DD/MM/YYYY hh:mm'}}

<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loadings" [style.height.px]="500">
  <!-- <clr-dg-column>เขต</clr-dg-column> -->
  <clr-dg-column>จังหวัด</clr-dg-column>
  <clr-dg-column [style.width.%]="20">โรงพยาบาล</clr-dg-column>
  <clr-dg-column>HN/AN</clr-dg-column>
  <clr-dg-column *ngIf='showPersons'>CID</clr-dg-column>
  <clr-dg-column *ngIf='showPersons'>ชื่อ</clr-dg-column>
  <clr-dg-column *ngIf='showPersons'>นามสกุล</clr-dg-column>
  <clr-dg-column *ngIf='showPersons'>SAT ID</clr-dg-column>
  <clr-dg-column *ngIf='showPersons'>เพศ</clr-dg-column>
  <clr-dg-column *ngIf='showPersons'>อายุ</clr-dg-column>
  <clr-dg-column>วันที่ ADMIT</clr-dg-column>
  <clr-dg-column>ความรุนแรง</clr-dg-column>
  <clr-dg-column>เตียง</clr-dg-column>
  <clr-dg-column>เครื่องช่วยหายใจ</clr-dg-column>
  <!-- <clr-dg-column>วันที่บันทึกล่าสุด</clr-dg-column> -->
  <clr-dg-column>ไม่ได้บันทึกมา</clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Darunavir 600 mg.
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Lopinavir 200 mg./Ritonavir 50 mg.
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Ritonavir 100 mg.
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Azithromycin 250 mg.
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Favipiravi
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index" [ngClass]="{isWarning: idx % 2 === 0}">
    <!-- <clr-dg-cell></clr-dg-cell> -->
    <clr-dg-cell>{{+l.zone_code}}) {{l.province_name}}</clr-dg-cell>
    <clr-dg-cell [style.flexBasis.%]="20">{{l.hospname}}</clr-dg-cell>
    <clr-dg-cell> {{l.hn}}<br>{{l.an}}</clr-dg-cell>
    <clr-dg-cell *ngIf='showPersons'> {{l.cid}}</clr-dg-cell>
    <clr-dg-cell *ngIf='showPersons'> {{l.first_name}}</clr-dg-cell>
    <clr-dg-cell *ngIf='showPersons'> {{l.last_name}}</clr-dg-cell>
    <clr-dg-cell *ngIf='showPersons'> {{l.sat_id}}</clr-dg-cell>
    <clr-dg-cell *ngIf='showPersons'> {{l.sex}}</clr-dg-cell>
    <clr-dg-cell *ngIf='showPersons'> {{l.age}}</clr-dg-cell>
    <clr-dg-cell> {{l.date_admit | dateTh:'DD/MM/YY'}}</clr-dg-cell>
    <clr-dg-cell> {{l.gcs_name}}</clr-dg-cell>
    <clr-dg-cell> {{l.bed_name}}</clr-dg-cell>
    <clr-dg-cell> {{l.medical_supplies_name}}</clr-dg-cell>
    <clr-dg-cell class="text-left"> {{l.updated_entry_last| dateTh:'DD/MM/YY'}} ({{l.days}}d)</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="times" class="is-error" *ngIf='!l.d3 || l.d3 == 0'></clr-icon>
      <clr-icon shape="check" class="is-success" *ngIf='l.d3 > 0'></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="times" class="is-error" *ngIf='!l.d4 || l.d4 == 0'></clr-icon>
      <clr-icon shape="check" class="is-success" *ngIf='l.d4 > 0'></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="times" class="is-error" *ngIf='!l.d5 || l.d5 == 0'></clr-icon>
      <clr-icon shape="check" class="is-success" *ngIf='l.d5 > 0'></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="times" class="is-error" *ngIf='!l.d7 || l.d7 == 0'></clr-icon>
      <clr-icon shape="check" class="is-success" *ngIf='l.d7 > 0'></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>
      <clr-icon shape="times" class="is-error" *ngIf='!l.d8 || l.d8 == 0'></clr-icon>
      <clr-icon shape="check" class="is-success" *ngIf='l.d8 > 0'></clr-icon>
    </clr-dg-cell>

  </clr-dg-row>

  <!-- <clr-dg-footer>
   
    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="totalList">
        <clr-dg-page-size [clrPageSizeOptions]="[10,100,500,1000,5000,10000,100000]" >
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{totalList}} rows
        </clr-dg-page-size>

    </clr-dg-pagination>
</clr-dg-footer> -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="totalList" [clrDgPageSize]="limit">
      <clr-dg-page-size [clrPageSizeOptions]="[100,500,1000,5000]">จำนวนรายการต่อหน้า</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{totalList}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-loadding #loading></app-loadding>