<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานยอดคงเหลือเวชภัณฑ์แยกรายโรงพยาบาล</span>
</nav>

<div class="clr-row">
  <div class="clr-col-3">
    <my-date-picker-th name="dateset" [options]="myDatePickerOptions" [(ngModel)]="dateset" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-3">
    <input class="clr-input width-fit" name="query" [(ngModel)]="query" placeholder="ค้นหาชื่อสถานบริการ,รหัสสถานบริการ" />
  </div>

  <div class="clr-col-1">
    <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button>
  </div>
</div>

<clr-datagrid [style.height.px]="700">
  <clr-dg-column>โรงพยาบาล</clr-dg-column>
  <clr-dg-column>Sugical mask</clr-dg-column>
  <clr-dg-column>N95</clr-dg-column>
  <clr-dg-column>Cover All-1 (Industrial grade)</clr-dg-column>
  <clr-dg-column>Cover All-2 (Medical grade)</clr-dg-column>
  <clr-dg-column>Shoe Cover</clr-dg-column>
  <clr-dg-column>Hood cover</clr-dg-column>
  <clr-dg-column>Nitrile Glove</clr-dg-column>
  <clr-dg-column>Face shield</clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index;">
    <clr-dg-cell>{{l.hospname}}</clr-dg-cell>
    <clr-dg-cell>{{l.surgical_mask}}</clr-dg-cell>
    <clr-dg-cell>{{l.N95}}</clr-dg-cell>
    <clr-dg-cell>{{l.cover_all_1}}</clr-dg-cell>
    <clr-dg-cell>{{l.cover_all_2}}</clr-dg-cell>
    <clr-dg-cell>{{l.shoe_cover}}</clr-dg-cell>
    <clr-dg-cell>{{l.surgical_mask}}</clr-dg-cell>
    <clr-dg-cell>{{l.long_glove}}</clr-dg-cell>
    <clr-dg-cell>{{l.face_shield}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<app-loadding #loading></app-loadding>