<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานยอดคงเหลือเวชภัณฑ์แยกรายโรงพยาบาล</span>
</nav>

<clr-datagrid [style.height.px]="700">
  <clr-dg-column>โรงพยาบาล</clr-dg-column>
  <clr-dg-column>จำนวนผู้ป่วย (ราย)</clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index;">
    <clr-dg-cell>{{l.hospname}}</clr-dg-cell>
    <clr-dg-cell>{{l.count}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
<app-loadding #loading></app-loadding>