<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานยอดคงเหลือเวชภัณฑ์รายวัน</span>
</nav>


<br>

<div class="clr-row">
  <div class="clr-col-3">
    <my-date-picker-th name="dateset" (dateChanged)="onChangeDate($event)" [options]="myDatePickerOptions" [(ngModel)]="dateset" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-3">
    <input class="clr-input width-fit" name="query" [(ngModel)]="query" placeholder="ค้นหาชื่อสถานบริการ,รหัสสถานบริการ" />
  </div>
  <div class="clr-col-1">
    <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button>
  </div>
</div>
<div class="clr-row" style="padding-bottom: 0rem;">
  <div class="clr-col-12">
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('01')">
      เขต 1
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('02')">
      เขต 2
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('03')">
      เขต 3
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('04')">
      เขต 4
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('05')">
      เขต 5
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('06')">
      เขต 6
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('07')">
      เขต 7
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('08')">
      เขต 8
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('09')">
      เขต 9
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('10')">
      เขต 10
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('11')">
      เขต 11
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('12')">
      เขต 12
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('13')">
      เขต 13
    </button>
  </div>
</div>


<div *ngFor="let l of list"  style="padding: 0rem;">
  <h4> {{l.provinces == 1 ? '' : 'เขต '+l.name}}</h4>
  <table class="table" *ngFor="let p of l.provinces">
    <thead>
      <tr>
        <th colspan="11" style="text-align: left;">
          <h3>{{p.province_name}}</h3>
        </th>
      </tr>
      <tr>
        <th class="right">โรงพยาบาล</th>
        <th class="right">Surgical Gown</th>
        <th class="right">Cover All-1</th>
        <th class="right">Cover All-2</th>
        <th class="right">N95</th>
        <th class="right">Shoe Cover</th>
        <th class="right">Surgical hood</th>
        <th class="right">Long glove</th>
        <th class="right">Face shield</th>
        <th class="right">Surgical Mask</th>
        <th class="right">Powered air-purifying respirator</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of p.hospitals">
        <td class="left">{{h.hospname}}</td>
        <td class="right">{{h['9'] }}</td>
        <td class="right">{{h['10']}}</td>
        <td class="right">{{h['11']}}</td>
        <td class="right">{{h['12']}}</td>
        <td class="right">{{h['13']}}</td>
        <td class="right">{{h['14']}}</td>
        <td class="right">{{h['15']}}</td>
        <td class="right">{{h['16']}}</td>
        <td class="right">{{h['17']}}</td>
        <td class="right">{{h['18']}}</td>
      </tr>
      <!-- <tr>
        <td class="right" style="font-weight: bold;">รวม</td>
        <td class="right" style="font-weight: bold;">{{l.sum}}</td>
        <td class="right" style="font-weight: bold;">{{l.ippui}}</td>
        <td class="right" style="font-weight: bold;">{{l.severe}}</td>
        <td class="right" style="font-weight: bold;">{{l.moderate}}</td>
        <td class="right" style="font-weight: bold;">{{l.mild}}</td>
        <td class="right" style="font-weight: bold;">{{l.asymptomatic}}</td>
      </tr> -->
    </tbody>
  </table>
</div>
<!-- <clr-datagrid [style.height.px]="700">
  <clr-dg-column>โรงพยาบาล</clr-dg-column>
  <clr-dg-column>Sugical mask</clr-dg-column>
  <clr-dg-column>N95</clr-dg-column>
  <clr-dg-column>Cover All-1 (Industrial grade)</clr-dg-column>
  <clr-dg-column>Cover All-2 (Medical grade)</clr-dg-column>
  <clr-dg-column>Shoe Cover</clr-dg-column>
  <clr-dg-column>Surgical hood</clr-dg-column>
  <clr-dg-column>Long glove</clr-dg-column>
  <clr-dg-column>Face shield</clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index;">
    <clr-dg-cell>{{l.hospname}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.surgical_mask | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.N95 | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.cover_all_1 | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.cover_all_2 | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.shoe_cover | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.surgical_hood | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.long_glove | number:'1.0-0'}}</clr-dg-cell>
    <clr-dg-cell class="right">{{l.face_shield | number:'1.0-0'}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid> -->

<app-loadding #loading></app-loadding>