<nav class="breadcrumb">
  <span class="breadcrumb-item active">สถานะ Case COVID</span>
</nav>

<h3 style="float: left;">วันที่ {{date | dateTh:'DD/MM/YYYY'}} </h3>
<h5>&nbsp;สถานะจะต้องบันทึกทุกวัน ก่อนเวลา 23:00 (ไม่สามารถบันทึกย้อนหลังได้)</h5>

<!-- <div class="clr-row">
  <div class="clr-col-4">
    <table class="table">
      <tr>
        <td *ngFor="let i of gcsSum">
          {{i.name}}
          <br>
          {{i.qty || 0}}
        </td>
      </tr>
    </table>
  </div>
  <div class="clr-col-4">
    <table class="table">
      <tr>
        <td *ngFor="let i of BedsSum">
          {{i.name}}
          <br>
          {{i.usage_qty || 0}}/{{i.covid_qty || 0}}
        </td>
      </tr>
    </table>
  </div>
  <div class="clr-col-4">
    <table class="table">
      <tr>
        <td *ngFor="let i of medicalSuppliesSum">
          {{i.name}}
          <br>
          {{i.usage_qty || 0}}/{{i.covid_qty || 0}}
        </td>
      </tr>
    </table>
  </div>
</div> -->
<div class="card">
  <div class="card-body">
    <div class="clr-row" style="padding-top: 0.5rem; padding-bottom: -5rem; padding-left: 1rem;">
      <div class="clr-col-3">
        <input class="clr-input width-fit" (keyup)="doEnter($event)" name="query" [(ngModel)]="query" placeholder="ระบุ HN,ชื่อ,นามสกุล เพื่อค้นหา" />
      </div>
      <div class="clr-col-2">
        <button class="btn btn-sm btn-primary" (click)="onClickSearch()">
          <clr-icon shape="search"></clr-icon>
        </button>
      </div>
      <div class="clr-col-7" style="text-align: right;" *ngIf="hospitalType == 'HOSPITEL' && demo" >
        <button class="btn btn-sm btn-success"  (click)="onClickSaveAll()">บันทึกทั้งหมด</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="left">HN/ชื่อ</th>
          <th class="left">ความรุนแรง</th>
          <th class="left">เตียง</th>
          <th class="left">เครื่องช่วยหายใจ</th>
          <th class="left">ยา</th>
          <th class="left"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list;let idx=index;" [ngClass]="{isWarning: idx%2==0}">
          <td class="left">{{l.hn}}<br>
            <div>
              {{l.title_name}}{{l.first_name}} {{l.last_name}}
            </div>
            <div style="margin-top: 0.2rem;">
              อัพเดทล่าสุด
            </div>
            <div>
              <span >
                : {{l.updated_entry | dateTh:'DD/MM/YYYY hh:mm'}}
              </span>
              <!-- <span *ngIf="!(l.updated_date)">
                : {{l.create_date | dateTh:'DD/MM/YYYY hh:mm'}}
              </span> -->
            </div>
          </td>
          <td class="left">
            <div *ngFor="let i of gcs" >
              <input [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" 
              *ngIf="!(l.old_gcs_id!=6 && i.id == 6) && !((l.old_gcs_id != 5 && l.old_gcs_id != 6 ) && i.id == 5) "
              type="radio" name="gcs-{{l.covid_case_id}}" id="gcs-{{i.id}}-{{l.covid_case_id}}"
                [(ngModel)]="l.gcs_id" [value]="i.id" (click)="checkGcs(i,l)">
              <label *ngIf="!(l.old_gcs_id!=6 && i.id == 6) && !((l.old_gcs_id != 5 && l.old_gcs_id != 6 ) && i.id == 5)" [title]="i.name" class="pointer" for="gcs-{{i.id}}-{{l.covid_case_id}}">
                {{i.name}}
              </label>
            </div>
          </td>
          <td class="left">
            <div *ngFor="let i of beds">
              <input *ngIf="!(l.bed_id!=6 && i.id == 6)" [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" type="radio" name="bed-{{l.covid_case_id}}" id="bed-{{i.id}}-{{l.covid_case_id}}"
                [(ngModel)]="l.bed_id" [value]="i.id" (click)="checkMedicalSupplies(i,l)">
              <label *ngIf="!(l.bed_id!=6 && i.id == 6)" [title]="i.name" class="pointer" for="bed-{{i.id}}-{{l.covid_case_id}}">
                {{i.name}}
              </label>
            </div>
          </td>
          <td class="left">
            <div *ngFor="let i of medicalSupplies">
              <input [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" type="radio" (click)='uncheckRadioMedicalSupplies(l.covid_case_id,i.id)'
                name="medicalSupplie-id-{{l.covid_case_id}}" id="medicalSupplie-{{i.id}}-{{l.covid_case_id}}" [(ngModel)]="l.medical_supplie_id"
                [value]="i.id">
              <label [title]="i.name" class="pointer" for="medicalSupplie-{{i.id}}-{{l.covid_case_id}}">
                {{i.name}}
              </label>
            </div>
          </td>
          <td class="left">
            <div class="clr-control-inline">
              <div *ngFor="let i of s1" class="clr-col-6" style="padding: 0rem;">
                <input [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" (click)='uncheckRadio(l.covid_case_id,i.generic,"set1")'
                  type="radio" name="s1-{{l.covid_case_id}}" id="s1-{{i.generic}}-{{l.covid_case_id}}" [value]="i.generic" [(ngModel)]="l.set1">
                <label [title]="i.name" class="pointer" for="s1-{{i.generic}}-{{l.covid_case_id}}"> {{i.name}}</label>
              </div>
            </div>
            <div class="clr-control-inline">
              <div *ngFor="let i of s2" class="clr-col-6" style="padding: 0rem;">
                <input [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" (click)='uncheckRadio(l.covid_case_id,i.generic,"set2")'
                  type="radio" name="s2-{{l.covid_case_id}}" id="s2-{{i.generic}}-{{l.covid_case_id}}" [value]="i.generic" [(ngModel)]="l.set2">
                <label [title]="i.name" class="pointer" for="s2-{{i.generic}}-{{l.covid_case_id}}"> {{i.name}}</label>
              </div>
            </div>
            <div class="clr-control-inline">
              <div *ngFor="let i of s3" class="clr-col-6" style="padding: 0rem;">
                <input [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" (click)='uncheckRadio(l.covid_case_id,i.generic,"set3")'
                  type="radio" name="s3-{{l.covid_case_id}}" id="s3-{{i.generic}}-{{l.covid_case_id}}" [value]="i.generic" [(ngModel)]="l.set3">
                <label [title]="i.name" class="pointer" for="s3-{{i.generic}}-{{l.covid_case_id}}"> {{i.name}}</label>
              </div>
            </div>
            <div class="clr-control-inline">
              <div *ngFor="let i of s4" class="clr-col-6" style="padding: 0rem;">
                <input [disabled]="(!(l.entry_date | checkCutTime) && !l.is_edit)" (click)='uncheckRadio(l.covid_case_id,i.generic,"set4")'
                  type="radio" name="s4-{{l.covid_case_id}}" id="s4-{{i.generic}}-{{l.covid_case_id}}" [value]="i.generic" [(ngModel)]="l.set4">
                <label [title]="i.name" class="pointer" for="s4-{{i.generic}}-{{l.covid_case_id}}"> <span [innerHTML]="i.name"></span></label>
              </div>
            </div>
          </td>
          <td style="text-align: right;">
            <div *ngIf="l.entry_date | checkCutTime">
              <button class="btn btn-sm btn-success" (click)="onClickSave(l.covid_case_id)" [disabled]="!(l.entry_date | checkCutTime)">บันทึก</button>
            </div>
            <div *ngIf="!(l.entry_date | checkCutTime)">
              <button class="btn btn-sm " [ngClass]="{'btn-primary-outline': !l.is_edit, 'btn-primary': l.is_edit}"
                (click)="onClickEdit(l.covid_case_id)" [disabled]="">
                <label *ngIf="l.is_edit">บันทึก</label>
                <label *ngIf="!l.is_edit">แก้ไข</label>
              </button>
            </div>
            <div>
              <button class="btn btn-sm btn-danger" (click)="onClickOpenModalDischarge(l)">จำหน่าย</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalDischarge" [clrModalSize]="'md'">
  <h3 class="modal-title">กรุณาเลือกสาเหตุ</h3>
  <div class="modal-body">
    <clr-radio-container clrInline>
      <!-- <label>กรุณาเลือกประเภท</label> -->
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="HOME" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
        <label>รักษาหาย กลับบ้าน</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="NEGATIVE" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
        <label>ตรวจไม่พบเชื้อ</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="DEATH" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
        <label>เสียชีวิต</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="REFER" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
        <label>ส่งต่อรพ.</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
      </clr-radio-wrapper>
    </clr-radio-container>

    <!-- <form class="clr-form"> -->
    <div class="clr-form-control" *ngIf="modalDischargeType == 'HOME'">
      <label for="basic" class="clr-control-label">วันเวลาที่กลับบ้าน</label>
      <div class="clr-row" style="padding-bottom: 10rem;">
        <div class="clr-col-6">
          <my-date-picker-th name="dateDischarge" [options]="myDatePickerOptions" [(ngModel)]="dateDischarge" required>
          </my-date-picker-th>
        </div>
        <div class="clr-col-6">
          <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
            <option *ngFor="let i of hours" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-right: 1em;padding-left: 1em;"> : </span>
          <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute" style="width: 30%;">
            <option *ngFor="let i of minutes" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-left: 1em;"> น. </span>
        </div>
      </div>
    </div>
    <div class="clr-form-control" *ngIf="modalDischargeType == 'NEGATIVE'">
      <label for="basic" class="clr-control-label">วันเวลาที่กลับบ้าน</label>
      <div class="clr-row" style="padding-bottom: 10rem;">
        <div class="clr-col-6">
          <my-date-picker-th name="dateDischarge" [options]="myDatePickerOptions" [(ngModel)]="dateDischarge" required>
          </my-date-picker-th>
        </div>
        <div class="clr-col-6">
          <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
            <option *ngFor="let i of hours" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-right: 1em;padding-left: 1em;"> : </span>
          <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute" style="width: 30%;">
            <option *ngFor="let i of minutes" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-left: 1em;"> น. </span>
        </div>
      </div>
    </div>
    <div class="clr-form-control" *ngIf="modalDischargeType == 'DEATH'">
      <label for="basic" class="clr-control-label">วันเวลาที่เสียชีวิต</label>
      <div class="clr-row" style="padding-bottom: 10rem;">
        <div class="clr-col-6">
          <my-date-picker-th style="padding-bottom: 10rem;" name="dateDischarge" [options]="myDatePickerOptions"
            [(ngModel)]="dateDischarge" required>
          </my-date-picker-th>
        </div>
        <div class="clr-col-6">
          <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
            <option *ngFor="let i of hours" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-right: 1em;padding-left: 1em;"> : </span>
          <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute" style="width: 30%;">
            <option *ngFor="let i of minutes" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-left: 1em;"> น. </span>
        </div>
      </div>
    </div>
    <div class="clr-form-control" *ngIf="modalDischargeType == 'REFER'">
      <label for="basic" class="clr-control-label">โรงพยาบาลที่ส่งต่อ</label>
      <app-autocomplete-hospital style="padding: 0px; width: 100%;" #hospital (onchange)="onSelectHosp($event)"
        (onselect)="onSelectHosp($event)">
      </app-autocomplete-hospital>
      <label for="basic" class="clr-control-label" style="padding-top: 1rem; padding-bottom: 0.2rem;">สาเหตุที่ส่งต่อ</label>
      <input type="text" name="reason" style="padding: 0px; width: 100%;" [(ngModel)]="reason" class="clr-col-9 clr-input width-fit"
        placeholder="สาเหตุที่ส่งต่อ">
      <label for="basic" class="clr-control-label" style="padding-top: 1rem;">วันเวลา</label>
      <div class="clr-row" style="padding-bottom: 10rem;">
        <div class="clr-col-6">
          <my-date-picker-th name="dateDischarge" [options]="myDatePickerOptions" [(ngModel)]="dateDischarge" required>
          </my-date-picker-th>
        </div>
        <div class="clr-col-6">
          <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
            <option *ngFor="let i of hours" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-right: 1em;padding-left: 1em;"> : </span>
          <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute" style="width: 30%;">
            <option *ngFor="let i of minutes" [value]="i">
              <span *ngIf="i < 10">0</span>{{ i }}
            </option>
          </select>
          <span style="padding-left: 1em;"> น. </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-block" (click)="save()" [disabled]="(!hospitalId && modalDischargeType=='REFER') || ((!hour || !minute )&& modalDischargeType!='REFER') ">บันทึก</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="confirmDetail" [clrModalSize]="'xl'">
  <h3 class="modal-title">กรุณาตรวจสอบรายการให้ถูกต้อง</h3>
  <div class="modal-body">
    <div></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-block" (click)="onClickSave(saveId)">บันทึก</button>
  </div>
</clr-modal>
<app-loadding #loading></app-loadding>