<div class="main-container">
  <header class="header">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <!-- <img src="./assets/images/tt.png" alt="logo" style="width: 200px; padding-right: 10px;"> -->
        <span class="title">COVID-SUPPLIES (MANAGER)</span>
      </a>
    </div>
    <div class="header-nav">
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{fullname}}-{{hospname}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a href="javascript://" clrDropdownItem>เปลี่ยนรหัสผ่าน</a> -->
          <a href="javascript://" (click)="logout()" clrDropdownItem>ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse">
      <a *ngIf="reportResource" clrVerticalNavLink routerLink="/manager/report-supplies-summary" title="รายงานเวชภัณฑ์"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="folder-open" class="is-solid"></clr-icon>
        รายงานเวชภัณฑ์คงคลัง
      </a>
      <a *ngIf="reportResource" clrVerticalNavLink routerLink="/manager/report-supplies" title="รายงานเวชภัณฑ์"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="folder-open" class="is-solid"></clr-icon>
        รายงานเวชภัณฑ์
      </a>
      <a *ngIf="reportResource" clrVerticalNavLink routerLink="/manager/report-medicals" title="รายงานจำนวนการเบิกยา"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="folder-open" class="is-solid"></clr-icon>
        รายงานจำนวนการเบิกยา
      </a>
      <a *ngIf="reportResource" clrVerticalNavLink routerLink="/manager/report-patients" title="รายงานยอดผู้ป่วย"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user" class="is-solid"></clr-icon>
        รายงานยอดผู้ป่วย
      </a>
      <a *ngIf="reportResource" clrVerticalNavLink routerLink="/manager/report-beds" title="รายงานเตียงผู้ป่วย"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        รายงานเตียงผู้ป่วย
      </a>
      <a *ngIf="reportResource" clrVerticalNavLink routerLink="/manager/report-professionals" title="รายงานบุคลากร"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="employee-group"></clr-icon>
        รายงานบุคลากร
      </a>
      <a *ngIf="reportPatient" clrVerticalNavLink routerLink="/manager/patient-info" title="ค้นหาผู้ป่วย"
        routerLinkActive="active">
        <clr-icon shape="user" class="is-solid"></clr-icon>
        ค้นหาผู้ป่วย
      </a>
      <clr-vertical-nav-group routerLinkActive="active">
        <a clrVerticalNavLink href="javascript://">
          <clr-icon shape="folder" class="is-solid" clrVerticalNavIcon></clr-icon>
          รายงาน
        </a>
        <clr-vertical-nav-group-children *clrIfExpanded="true">
          <a *ngIf="reportBed" clrVerticalNavLink routerLink="/manager/report-dms1" title="รายงานเตียงตามสังกัดหน่วยงาน"
            routerLinkActive="active">
            <clr-icon shape="folder-open" class="is-solid"></clr-icon>
            1. รายงานเตียงตามสังกัดหน่วยงาน
          </a>
          <a *ngIf="reportBed" clrVerticalNavLink routerLink="/manager/report-dms2" title="ประเภทความรุนแรงของผู้ป่วยที่ยังรักษาตัวอยู่"
            routerLinkActive="active">
            <clr-icon shape="folder-open" class="is-solid"></clr-icon>
            2. ประเภทความรุนแรงของผู้ป่วยที่ยังรักษาตัวอยู่
          </a>
          <a *ngIf="reportBed" clrVerticalNavLink routerLink="/manager/report-dms3" title="รายงานการแจ้งจำนวนผู้ป่วยเพื่อเบิกเวชภัณฑ์​สิ้นเปลืองประจำวัน"
            routerLinkActive="active">
            <clr-icon shape="folder-open" class="is-solid"></clr-icon>
            3. รายงานการแจ้งจำนวนผู้ป่วยเพื่อเบิกเวชภัณฑ์​สิ้นเปลืองประจำวัน
          </a>
          <a *ngIf="reportBed" clrVerticalNavLink routerLink="/manager/report-bed-by-types" title="รายงานเตียงว่างแยกประเภท"
            routerLinkActive="active">
            <clr-icon shape="folder-open" class="is-solid"></clr-icon>
            6. รายงานเตียงว่างแยกประเภท
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</div>