<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff/covid-case">Case Covid</a>
  <span class="breadcrumb-item active">บันทึก Case Covid</span>
</nav>
<button class="btn btn-sm btn-success" (click)="onClickOpenModalCid()" style="padding-top: 0;" *ngIf="!isKey">
  <clr-icon shape="plus"></clr-icon> ผู้ป่วยเก่า
</button>

<div class="clr-row" [ngClass]="{hidden: !isKey}">
  <div class="clr-col-6">
    <div class="card" style="margin-top: 0;">
      <div class="card-header">
        ข้อมูลผู้ป่วย
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">HN <span class="required">*</span></label>
                <div class="clr-control-container clr-error  width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="hn" [(ngModel)]="hn" class="clr-input  width-fit">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="errorHN"></clr-icon>
                  </div>
                  <span class="clr-subtext" *ngIf="errorHN">กรุณาระบบ HN</span>
                </div>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">AN <span class="required">*</span></label>
                <div class="clr-control-container clr-error  width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="an" [(ngModel)]="an" class="clr-input  width-fit">
                    <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="erroran"></clr-icon> -->
                  </div>
                  <!-- <span class="clr-subtext" *ngIf="errorAN">กรุณาระบบ an</span> -->
                </div>
              </div>
            </div>
            <div class="clr-col-6 clr-form" *ngIf="typeRegister == 'CID'">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">เลขที่บัตรประชาชน <span class="required">*</span></label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper ">
                    <input type="text" id="example" name="cid" maxlength="13" [(ngModel)]="cid"
                      class="clr-input width-fit" readonly>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-6 clr-form" *ngIf="typeRegister == 'PASSPORT'">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">เลขที่หนังสือเดินทาง</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="passport" [(ngModel)]="passport" class="clr-input  width-fit"
                      readonly>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="clr-row">
            <div class="clr-col-2 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">คำนำหน้าชื่อ <span class="required">*</span></label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-select-wrapper width-fit">
                    <select [(ngModel)]="titleId" name="titleId" class="clr-select width-fit">
                      <option [value]="null">กรุณาเลือกคำนำหน้าชื่อ</option>
                      <option [value]="t.id" *ngFor="let t of titles">{{t.name}}</option>
                    </select>
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="errorTitleName"></clr-icon>
                  </div>
                  <span class="clr-subtext" *ngIf="errorTitleName">กรุณาเลือกคำนำหน้าชื่อ</span>
                </div>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">ชื่อ <span class="required">*</span></label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="fname" [(ngModel)]="fname" class="clr-input  width-fit">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="errorFname"></clr-icon>
                  </div>
                  <span class="clr-subtext" *ngIf="errorFname">กรุณาระบุชื่อ</span>
                </div>
              </div>
            </div>
            <div class="clr-col-2 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">ชื่อกลาง</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="mname" [(ngModel)]="mname" class="clr-input  width-fit">
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">นามสกุล <span class="required">*</span></label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="lname" [(ngModel)]="lname" class="clr-input  width-fit">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="errorLname"></clr-icon>
                  </div>
                  <span class="clr-subtext" *ngIf="errorLname">กรุณาระบุนามสกุล</span>
                </div>
              </div>
            </div>
            <div class="clr-col-2 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">เพศ <span class="required">*</span></label>
                <clr-radio-container clrInline style="margin-top: 0;">
                  <!-- <label>เพศ</label> -->
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio name="genderId" required value="1" [(ngModel)]="genderId" />
                    <label>ชาย</label>
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio name="genderId" required value="2" [(ngModel)]="genderId" />
                    <label>หญิง</label>
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <label>
                      <clr-icon shape="exclamation-circle" *ngIf="errorGender"></clr-icon>
                    </label>
                  </clr-radio-wrapper>

                </clr-radio-container>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">วันเกิด <span class="required">*</span></label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <!-- <input type="date" name="admitDate" [(ngModel)]="admitDate" class="clr-input  width-fit"> -->
                    <my-date-picker-th name="birthDate" [options]="myDatePickerOptions" [(ngModel)]="birthDate"
                      required>
                    </my-date-picker-th>
                    <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="!reason.length">  </clr-icon>-->
                  </div>
                  <!-- <span class="clr-subtext" *ngIf="!reason.length">กรุณาระบุเหตุผล</span> -->
                </div>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">เบอร์โทรศัพท์</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" name="tel" appNumberOnly maxlength="10" [(ngModel)]="tel"
                      class="clr-input  width-fit">
                    <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="!tel.length"></clr-icon> -->
                  </div>
                  <!-- <span class="clr-subtext" *ngIf="!tel.length">กรุณาระบุเบอร์โทรศัพท์</span> -->
                </div>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">ประเภท</label>
                <div class="clr-control-container clr-error">
                  <div class="clr-select-wrapper">
                    <select class="clr-select" name="peopleType" [(ngModel)]="peopleType">
                      <option value="" disabled>กรุณาเลือก</option>
                      <option value="1">Thai</option>
                      <option value="2">Stateless</option>
                      <option value="3">Forient Passport</option>
                      <option value="4">Escape</option>
                      <option value="8">Two Nation</option>
                      <option value="9">Other</option>
                    </select>
                    <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-6">
    <div class="card" style="margin-top: 0;">
      <div class="card-header">
        ที่อยู่
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">ประเทศ</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <app-autocomplete-countries style="padding: 0px" #countries [query]="'ไทย'"
                      (onselect)="onSelectCountry($event)">
                    </app-autocomplete-countries>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row" [ngClass]="{hidden: countryId != 20}">
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">บ้านเลขที่</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example" name="houseNo" [(ngModel)]="houseNo" class="clr-input  width-fit">
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">หมายเลขห้อง</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" name="roomNo" [(ngModel)]="roomNo" class="clr-input  width-fit">
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">หมู่บ้าน</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" name="village" [(ngModel)]="village" class="clr-input  width-fit">
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">ชื่อหมู่บ้าน</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" name="villageName" [(ngModel)]="villageName" class="clr-input  width-fit">
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">ชื่อถนน</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <input type="text" name="road" [(ngModel)]="road" class="clr-input  width-fit">
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2"></div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">ตำบล</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <app-autocomplete-subdistrict style="padding: 0px" #tambon (onselect)="onSelectTambon($event)">
                    </app-autocomplete-subdistrict>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">อำเภอ</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <app-autocomplete-district style="padding: 0px" #ampur (onselect)="onSelectAmpur($event)">
                    </app-autocomplete-district>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">จังหวัด</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <app-autocomplete-province style="padding: 0px" #province (onselect)="onSelectProvince($event)">
                    </app-autocomplete-province>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col-2 form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label class="clr-control-label">รหัสไปรษณีย์</label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <app-autocomplete-zipcode style="padding: 0px" #zipcode (onselect)="onSelectZipcode($event)">
                    </app-autocomplete-zipcode>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-6">
    <div class="card">
      <div class="card-header">
        ข้อมูลการรักษา
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">วันที่ตรวจพบ </label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <!-- <input type="date" name="admitDate" [(ngModel)]="admitDate" class="clr-input  width-fit"> -->
                    <my-date-picker-th name="confirmDate" [options]="myDatePickerOptions" [(ngModel)]="confirmDate"
                      required>
                    </my-date-picker-th>
                    <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="!reason.length">  </clr-icon>-->
                  </div>
                  <!-- <span class="clr-subtext" *ngIf="!reason.length">กรุณาระบุเหตุผล</span> -->
                </div>
              </div>
            </div>
            <div class="clr-col-3 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">วันที่ Admit <span class="required">*</span></label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <!-- <input type="date" name="admitDate" [(ngModel)]="admitDate" class="clr-input  width-fit"> -->
                    <my-date-picker-th name="admitDate" [options]="myDatePickerOptions" [(ngModel)]="admitDate"
                      required>
                    </my-date-picker-th>
                    <!-- <clr-icon class="clr-validate-icon" shape="exclamation-circle" *ngIf="!reason.length">  </clr-icon>-->
                  </div>
                  <!-- <span class="clr-subtext" *ngIf="!reason.length">กรุณาระบุเหตุผล</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-6">
    <div class="card" style="margin-top: 0;">
      <div class="card-header">
        กรุณาเลือกสาเหตุการ Discharge
      </div>
      <div class="card-block">
        <div class="card-text">
          <clr-radio-container clrInline>
            <clr-radio-wrapper>
              <input type="radio" clrRadio value="HOME" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
              <label>รักษาหาย กลับบ้าน</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio value="NEGATIVE" name="modalDischargeType"
                [(ngModel)]="modalDischargeType" />
              <label>ตรวจไม่พบเชื้อ</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio value="DEATH" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
              <label>เสียชีวิต</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio value="REFER" name="modalDischargeType" [(ngModel)]="modalDischargeType" />
              <label>ส่งต่อรพ.</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
            </clr-radio-wrapper>
          </clr-radio-container>

          <!-- <form class="clr-form"> -->
          <div class="clr-form-control" *ngIf="modalDischargeType == 'HOME'">
            <label for="basic" class="clr-control-label">วันเวลาที่กลับบ้าน</label>
            <div class="clr-row" style="padding-bottom: 10rem;">
              <div class="clr-col-12">
                <my-date-picker-th name="dateDischarge" [options]="myDatePickerOptions" [(ngModel)]="dateDischarge"
                  required>
                </my-date-picker-th>
              </div>
              <div class="clr-col-12">
                <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
                  <option *ngFor="let i of hours" [value]="i">
                    <span *ngIf="i < 10">0</span>{{ i }}
                  </option>
                </select>
                <span style="padding-right: 1em;padding-left: 1em;"> : </span>
                <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute"
                  style="width: 30%;">
                  <option *ngFor="let i of minutes" [value]="i">
                    <span *ngIf="i < 10">0</span>{{ i }}
                  </option>
                </select>
                <span style="padding-left: 1em;"> น. </span>
              </div>
            </div>
          </div>
          <div class="clr-form-control" *ngIf="modalDischargeType == 'NEGATIVE'">

            <div class="clr-col-5 clr-form">
              <div class="clr-form-control" style="margin-top: 0;">
                <label for="example" class="clr-control-label">ตรวจไม่พบเชื้อ </label>
                <div class="clr-control-container clr-error width-fit">
                  <div class="clr-input-wrapper">
                    <my-date-picker-th name="dateDischarge" [options]="myDatePickerOptions" [(ngModel)]="dateDischarge"
                      required>
                    </my-date-picker-th>
                  </div>
                </div>
              </div>
            </div>

            <!-- <label for="basic" class="clr-control-label">วันเวลาที่กลับบ้าน</label>
            <div class="clr-row" style="padding-bottom: 10rem;">
              <div class="clr-col-12">
                <my-date-picker-th name="dateDischarge" [options]="myDatePickerOptions" [(ngModel)]="dateDischarge"
                  required>
                </my-date-picker-th>
              </div>
              <div class="clr-col-12">
                <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
                  <option *ngFor="let i of hours" [value]="i">
                    <span *ngIf="i < 10">0</span>{{ i }}
                  </option>
                </select>
                <span style="padding-right: 1em;padding-left: 1em;"> : </span>
                <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute"
                  style="width: 30%;">
                  <option *ngFor="let i of minutes" [value]="i">
                    <span *ngIf="i < 10">0</span>{{ i }}
                  </option>
                </select>
                <span style="padding-left: 1em;"> น. </span>
              </div>
            </div> -->
          </div>
          <div class="clr-form-control" *ngIf="modalDischargeType == 'DEATH'">
            <label for="basic" class="clr-control-label">วันเวลาที่เสียชีวิต</label>
            <div class="clr-row" style="padding-bottom: 10rem;">
              <div class="clr-col-12">
                <my-date-picker-th style="padding-bottom: 10rem;" name="dateDischarge" [options]="myDatePickerOptions"
                  [(ngModel)]="dateDischarge" required>
                </my-date-picker-th>
              </div>
              <div class="clr-col-12">
                <select name="hour" class="clr-select width-fit" [(ngModel)]="hour" name="hour" style="width: 30%;">
                  <option *ngFor="let i of hours" [value]="i">
                    <span *ngIf="i < 10">0</span>{{ i }}
                  </option>
                </select>
                <span style="padding-right: 1em;padding-left: 1em;"> : </span>
                <select name="minute" class="clr-select width-fit" [(ngModel)]="minute" name="minute"
                  style="width: 30%;">
                  <option *ngFor="let i of minutes" [value]="i">
                    <span *ngIf="i < 10">0</span>{{ i }}
                  </option>
                </select>
                <span style="padding-left: 1em;"> น. </span>
              </div>
            </div>
          </div>
          <div class="clr-form-control" *ngIf="modalDischargeType == 'REFER'">
            <label for="basic" class="clr-control-label">โรงพยาบาลที่ส่งต่อ</label>
            <app-autocomplete-hospital style="padding: 0px; width: 100%;" #hospital (onchange)="onSelectHosp($event)"
              (onselect)="onSelectHosp($event)">
            </app-autocomplete-hospital>
            <label for="basic" class="clr-control-label"
              style="padding-top: 1rem; padding-bottom: 0.2rem;">สาเหตุที่ส่งต่อ</label>
            <input type="text" name="reason" style="padding: 0px; width: 100%;" [(ngModel)]="reason"
              class="clr-col-9 clr-input width-fit" placeholder="สาเหตุที่ส่งต่อ">
          </div>
          <!-- <button type="button" class="btn btn-success btn-block" (click)="save()"
            [disabled]="(!hospitalId && modalDischargeType=='REFER') || ((!hour || !minute )&& modalDischargeType!='REFER') ">บันทึก</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="clr-col-12">
    <button class="btn btn-success btn-block" *ngIf="modalDischargeType !='NEGATIVE'" (click)="onClickSave()" title="บันทึก"
      [disabled]="!admitDate || isSave || (!hospitalId && modalDischargeType=='REFER') || ((!hour || !minute )&& modalDischargeType!='REFER') ">
      <clr-icon shape="floppy"></clr-icon> บันทึก
    </button>

    <button class="btn btn-success btn-block" *ngIf="modalDischargeType =='NEGATIVE'" (click)="onClickSave()" title="บันทึก"
      [disabled]="!admitDate || isSave || (!dateDischarge && modalDischargeType=='NEGATIVE')">
      <clr-icon shape="floppy"></clr-icon> บันทึก
    </button>
  </div>
</div>



<clr-modal [(clrModalOpen)]="modalCID">
  <h3 class="modal-title">ผู้ป่วยเก่าสำหรับผู้ป่วยที่ DISCHARGE ไปแล้ว</h3>
  <div class="modal-body">
    <clr-radio-container clrInline>
      <label>กรุณาเลือกประเภท</label>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="CID" name="modalCIDType" [(ngModel)]="modalCIDType" />
        <label>เลขที่บัตรประชาชน</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="PASSPORT" name="modalCIDType" [(ngModel)]="modalCIDType" />
        <label>เลขที่หนังสือเดินทาง</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="NO" name="modalCIDType" [(ngModel)]="modalCIDType" />
        <label>ไม่มี (ไม่แนะนำ)</label>
      </clr-radio-wrapper>
    </clr-radio-container>

    <!-- <form class="clr-form"> -->
    <div class="clr-form-control" *ngIf="modalCIDType == 'CID'">
      <label for="basic" class="clr-control-label">เลขที่บัตรประชาชน</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper" style="max-height: 3rem !important;">
          <input type="text" id="basic" class="clr-input" appNumberOnly maxlength="13"
            style="height:3rem !important;font-size: 1.3rem;" name="modalCIDCid" [(ngModel)]="modalCIDCid">
          <clr-icon shape="exclamation-circle" size="36" *ngIf="modalCIDCidError"></clr-icon>
        </div>
        <span *ngIf="modalCIDCidError" class="clr-subtext">เลขที่บัตรประชาชนผิด</span>
      </div>
    </div>
    <div class="clr-form-control" *ngIf="modalCIDType == 'PASSPORT'">
      <label for="basic" class="clr-control-label">เลขที่หนังสือเดินทาง</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper" style="max-height: 3rem;">
          <input type="text" id="basic" class="clr-input" style="height:3rem;font-size: 1.3rem;" name="modalCIDPassport"
            [(ngModel)]="modalCIDPassport">
          <clr-icon size="36" shape="exclamation-circle" *ngIf="!modalCIDPassport"></clr-icon>
        </div>
        <!-- <span class="clr-subtext">Helper Text</span> -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-block" (click)="onSearchModal()" [disabled]="isModelSearch">ตรวจสอบ
      <span class="spinner spinner-inline" *ngIf="modalCidLoading">
        Loading...
      </span></button>
  </div>
</clr-modal>
<app-loadding #loading></app-loadding>