<nav class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานผู้ป่วยรายสถานพยาบาล
    </span>
</nav>

<table style="border-collapse: collapse;" class="table table-compact">
    <thead>
        <th class="td-border"> เขตสุขภาพ </th>
        <th class="td-border"> จังหวัด </th>
        <th class="td-border"> รหัสสถานพยาบาล </th>
        <th class="td-border"> โรงพยาบาล </th>
        <th class="td-border"> ระดับขีดความสามารถ </th>
        <th class="td-border"> ผู้ป่วยทั้งหมด </th>
        <th class="td-border"> Servere </th>
        <th class="td-border"> Invasive Ventilator </th>
        <th class="td-border"> Non-Invasive Ventilator  </th>
        <th class="td-border"> High flow </th>
        <th class="td-border"> Moderate </th>
        <th class="td-border"> Mild </th>
        <th class="td-border"> Asymptomatic </th>
        <th class="td-border"> Dead </th>
        <th class="td-border"> PUI </th>
        <th> หน่วยรายงาน </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of [].constructor(13); let i = index">
            <td class="td-border"> 1 </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td class="td-border">  </td>
            <td>  </td>
        </tr>
    </tbody>
</table>
