<nav
    style="margin-bottom: 16px;"
    class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานผู้ป่วยรายจังหวัด
    </span>
</nav>

<div style="display: flex;">
    <label style="padding-top: 4px; margin-right: 16px;"> วันที่แสดงข้อมูล </label>
    <div style="width: 200px; margin-right: 16px;">
        <my-date-picker-th
            [(ngModel)]="date"
            [options]="myDatePickerOptions"
            name="datePatientsZone"
            (dateChanged)="selectDate($event)">
        </my-date-picker-th>
    </div>
</div>

<table style="border-collapse: collapse;" class="table table-compact">
    <thead>
        <tr>
            <th class="td-border"> เขตสุขภาพ </th>
            <th class="td-border"> จังหวัด </th>
            <th class="td-border"> ผู้ป่วยทั้งหมด </th>
            <th class="td-border"> Servere </th>
            <th class="td-border"> Invasive Ventilator </th>
            <th class="td-border"> Non-Invasive Ventilator  </th>
            <th class="td-border"> High flow </th>
            <th class="td-border"> Moderate </th>
            <th class="td-border"> Mild </th>
            <th class="td-border"> Asymptomatic </th>
            <th class="td-border"> Dead </th>
            <th> PUI </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index">
            <th class="td-border"> {{ item.zone_code }} </th>
            <th class="td-border"> {{ item.province_name }} </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th>  </th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" class="td-border"> กรุงเทพมหานคร </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th>  </th>
        </tr>
        <tr>
            <th colspan="2" class="td-border"> รวม 12 เขต </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th>  </th>
        </tr>
        <tr>
            <th colspan="2" class="td-border"> ทั่วประเทศ </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th class="td-border">  </th>
            <th>  </th>
        </tr>
    </tfoot>
</table>
