<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานการใช้เตียง</span>
</nav>
<br>
<div class="clr-row">
  <div class="clr-col-12" style="text-align: right;">
    <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button>
  </div>
</div>

<table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">

  <tr>
    <th rowspan="2" class="td-border">โรงพยาบาล</th>
    <th colspan="4" class="td-border">จำนวนเตียง (ไม่รวม Hospitel)</th>
    <th rowspan="2" class="td-border">หน่วยงาน</th>
  </tr>

  <tr>
    <th class="td-border">จำนวนเตียงทั้งหมด</th>
    <th class="td-border">Admit รวม</th>
    <th class="td-border">สำรองเตียงรอรับย้าย</th>
    <th class="td-border">ว่าง</th>
  </tr>


  <tr>
    <th class="right td-border" style="position: sticky; top: 0;">รวม</th>
    <th class="right td-border" style="position: sticky; top: 0;"></th>
    <th class="right td-border" style="position: sticky; top: 0;"></th>
    <th class="right td-border" style="position: sticky; top: 0;"></th>
    <th class="right td-border" style="position: sticky; top: 0;"></th>
    <th class="right td-border" style="position: sticky; top: 0;"></th>

  </tr>

  <tr *ngFor="let h of list; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
    <td class="left td-border">{{h.hospname}}<br>ข้อมูลล่าสุด: {{ h.updated_entry | dateTh:'DD/MM/YYYY hh:mm'}}</td>
    <td class="right td-border">{{h.aiir_qty || 0+h.modified_aiir_qty || 0+isolate_qty || 0+cohort_qty || 0}}</td>
    <td class="right td-border">{{h.aiir_usage_qty || 0+h.modified_aiir_usage_qty || 0+isolate_usage_qty || 0+cohort_usage_qty || 0}}</td>
    <td class="right td-border">{{h.aiir_spare_qty || 0+h.modified_aiir_spare_qty || 0+isolate_spare_qty || 0+cohort_spare_qty || 0}}</td>
    <td class="right td-border">{{(h.aiir_qty || 0+h.modified_aiir_qty || 0+isolate_qty || 0+cohort_qty || 0)-(h.aiir_usage_qty || 0+h.modified_aiir_usage_qty || 0+isolate_usage_qty || 0+cohort_usage_qty || 0)-(h.aiir_spare_qty || 0+h.modified_aiir_spare_qty || 0+isolate_spare_qty || 0+cohort_spare_qty || 0)}}</td>
    <td class="left td-border">{{h.sub_ministry_name}}</td>
  </tr>
</table>

<app-loadding #loading></app-loadding>
