<nav class="breadcrumb">
  <span class="breadcrumb-item active">Case COVID</span>
</nav>
<div class="clr-row">
  <!-- <div class="clr-col-2">
    <button class="btn btn-sm btn-success" (click)="onClickOpenModalCid()" style="padding-top: 0;">
      <clr-icon shape="plus"></clr-icon> ผู้ป่วยใหม่
    </button>
  </div> -->
  <!-- <div class="clr-col-1">
    ค้นหา :
  </div>
  <div class="clr-col-3">
    <input class="clr-input width-fit" (keyup)="doEnter($event)" name="query" [(ngModel)]="query"
      placeholder="Enter เพื่อค้นหา" />
  </div>
  <div class="clr-col-2">
    <my-date-picker-th name="startDate" [options]="myDatePickerOptions" [(ngModel)]="startDate" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-2">
    <my-date-picker-th name="endDate"  [options]="myDatePickerOptions" [(ngModel)]="endDate" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-2">
    <button class="btn btn-sm btn-primary">
      <clr-icon shape="search"></clr-icon> ค้นหา
    </button>
  </div> -->
</div>

<div class="clr-row">
  <div class="clr-col-5">
    <clr-datagrid [clrDgLoading]="isLoadding" [style.height.px]="800">
      <clr-dg-column>HN</clr-dg-column>
      <clr-dg-column>ชื่อ-นามสกุล</clr-dg-column>
      <clr-dg-column>วันที่ Admit</clr-dg-column>
      <clr-dg-column>สถานะ</clr-dg-column>
      <clr-dg-column  class="text-center">วันที่ d/c</clr-dg-column>
      <!-- <clr-dg-column></clr-dg-column> -->

      <clr-dg-row *clrDgItems="let l of list;let idx=index;" [clrDgItem]="l" (click)="getData(l)">
        <clr-dg-action-overflow>
          <button class="action-item" (click)="onClickOpenModalDateConfirm(l)"
            *ngIf="!l.confirm_date">บันทึกวันที่ตรวจพบ</button>
          <button class="action-item" (click)="onEdit(l)">แก้ไข</button>
          <button class="action-item" (click)="onDelete(l)">ลบ</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{l.hn}}</clr-dg-cell>
        <clr-dg-cell>{{l.title_name}}{{l.first_name}} {{l.last_name}}</clr-dg-cell>
        <clr-dg-cell>{{l.date_admit | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
        <clr-dg-cell>{{l.status }}</clr-dg-cell>
        <clr-dg-cell class="text-center">{{l.date_discharge | dateTh:'DD/MM/YYYY' }}</clr-dg-cell>
        <!-- <clr-dg-cell >
          <button class="btn btn-sm btn-success" style="margin:0" (click)="onClickEdit(l)">
            <clr-icon shape="search"></clr-icon> 
          </button>
        </clr-dg-cell> -->
      </clr-dg-row>

      <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="50">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} รายการ
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="clr-col-7">
    <div class="card">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-3">
            HN: {{data.hn || '-'}}
          </div>
          <div class="clr-col-6">
            ชื่อ: {{data.title_name || ''}}{{data.first_name || ''}} {{data.last_name || ''}}
            [{{data.gender_id == 1 ? 'ชาย' : data.gender_id == 2 ? 'หญิง' : '-'|| '-'}}]
          </div>
          <div class="clr-col-3" style="text-align: right;">
            สถานะ: {{data.status|| '-'}}
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-4">
              CID/PASSPORT: {{data.cid ? data.cid : data.passport || '-'}}
            </div>
            <div class="clr-col-4">
              วันเดือนปีเกิด: {{data.birth_date| dateTh:'DD/MM/YYYY' }}
            </div>
            <div class="clr-col-4">
              เบอร์โทรศัพท์: {{data.telephone || '-' }}
            </div>
          </div>
          <br>
          ประวัติการรักษา
          <clr-datagrid [clrDgLoading]="isLoadding">
            <clr-dg-column>AN</clr-dg-column>
            <clr-dg-column>วันที่ Admit</clr-dg-column>
            <clr-dg-column>วันที่ตรวจพบ</clr-dg-column>
            <clr-dg-column>โรงพยาบาล</clr-dg-column>
            <clr-dg-column>สถานะ</clr-dg-column>
            <clr-dg-column>วันที่ D/C</clr-dg-column>
            <clr-dg-column></clr-dg-column>
            <clr-dg-row *ngFor="let l of historys;let idx=index;">
              <clr-dg-cell>{{l.an}}</clr-dg-cell>
              <clr-dg-cell>{{l.date_admit | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
              <clr-dg-cell>{{l.confirm_date | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
              <clr-dg-cell>{{l.hospname }}</clr-dg-cell>
              <clr-dg-cell>{{l.status }}</clr-dg-cell>
              <clr-dg-cell>{{l.date_discharge | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
              <clr-dg-cell>
                <button type="button" class="btn btn-icon btn-primary" (click)="getDetails(l)" aria-label="settings">
                  <clr-icon shape="search"></clr-icon>
                </button>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
          </clr-datagrid>

        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalConfirmDate">
  <div class="modal-body">
    <my-date-picker-th name="confirmDate" [options]="myDatePickerOptions" [(ngModel)]="confirmDate" required>
    </my-date-picker-th>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-block" (click)="saevConfirmDate()">บันทึก</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalDetails" [clrModalSize]="'xl'">
  <h3 class="modal-title">
    <div class="clr-row">
      <div class="clr-col-3">
        HN: {{data.hn || '-'}}
      </div>
      <div class="clr-col-6">
        ชื่อ: {{data.title_name || ''}}{{data.first_name || ''}} {{data.last_name || ''}}
        [{{data.gender_id == 1 ? 'ชาย' : data.gender_id == 2 ? 'หญิง' : '-'|| '-'}}]
      </div>
      <div class="clr-col-3" style="text-align: right;">
        สถานะ: {{data.status|| '-'}}
      </div>
    </div>
  </h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">
        <clr-datagrid [clrDgLoading]="isLoadding">
          <clr-dg-column>วันที่บันทึก</clr-dg-column>
          <clr-dg-column>ความรุนแรง</clr-dg-column>
          <clr-dg-column>เตียง</clr-dg-column>
          <clr-dg-column>เครื่องช่วยหายใจ</clr-dg-column>
          <clr-dg-column>สถานะ</clr-dg-column>
          <clr-dg-column>ผู้บันทึก</clr-dg-column>
          <clr-dg-row *ngFor="let l of details;let idx=index;">
            <clr-dg-cell>{{l.entry_date | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
            <clr-dg-cell>{{l.gcs_name}}</clr-dg-cell>
            <clr-dg-cell>{{l.bed_name}}</clr-dg-cell>
            <clr-dg-cell>{{l.medical_supplie_name || '-'}}</clr-dg-cell>
            <clr-dg-cell>{{l.status}}</clr-dg-cell>
            <clr-dg-cell>{{l.fname}} {{l.lname}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>