<div class="main-container ">
  <header class="header color">
    <!-- <div> -->
    <a href="javascript://" class="nav-link">
      <img src="../../../assets/MOPH_logo_text.png" alt="logo" style="width: 200px;">
    </a>
    <!-- </div> -->
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row clr-align-items-center" style="height: 100%; display: flex;justify-content: center;">
        <div class="clr-col-lg-6 clr-col-md-8 clr-col-8">

          <div class="clr-row cardTemp">
            <div class="clr-col-lg-4 clr-col-md-4" style="padding-left: 0%;">
              <img src="../../../assets/login.png" class="login-img">
            </div>
            <div class="clr-col-lg-8 clr-col-md-8  clr-col-sm-12 ">
              <div class="clr-row clr-align-items-center" style="height: 100%; display: flex;justify-content: center;">
                <div class="clr-col-12">
                  <div class="clr-row clr-align-items-center"
                    style="height: 100%; display: flex;justify-content: center;">
                    <div class="clr-col-12" style="display: flex;justify-content: center;">
                      <h1>ระบบรายงานผลการบริหาร<br>ทรัพยากรทางการแพทย์<br>ในสถานการณ์ COVID-19
                      </h1>

                    </div>
                    
                  </div>
                </div>
                <div class="clr-col-12" style="display: flex;justify-content: center;">
                  <p class="fontErr">โปรดเข้าสู่ระบบเพื่อดูข้อมูล</p>
                </div>
                <div *ngIf="tellErr" class="clr-col-12 " style="display: flex;justify-content: center;">
                  <div class="clr-row">
                    <div class="clr-col-2">
                      <clr-icon class="is-error" shape="times-circle"></clr-icon>
                    </div>
                    <div class="clr-col-10">
                      <p class="fontErr" style="color: #e02200;">ไม่พบเบอร์โทรศัพท์</p>
                    </div>
                  </div>

                </div>
                <div *ngIf="loginErr" class="clr-col-12" style="display: flex;justify-content: center;">
                  <div class="clr-row ">
                    <div class="clr-col-3">
                      <clr-icon class="is-error" shape="times-circle"></clr-icon>
                    </div>
                    <div class="clr-col-9">
                      <p class="fontErr"style="color: #e02200;">OTP ไม่ถูกต้อง</p>
                    </div>
                  </div>
                </div>
                <div class="clr-col-12" style="display: flex;justify-content: center;">
                  <div class="clr-row clr-align-items-center"
                    style="height: 100%; display: flex;justify-content: center;">
                    <div class="clr-col-12" style="display: flex;justify-content: center;">
                      <div class="clr-row ">
                        <div class="clr-col-2">
                          <clr-icon *ngIf='!otpResp' shape="phone-handset"></clr-icon>
                          <clr-icon *ngIf='otpResp' shape="login"></clr-icon>
                        </div>
                        <div class="clr-col-10">
                          <input *ngIf='!otpResp' placeholder="เบอร์โทรศัพท์" class="clr-input" [(ngModel)]="tel"
                            name="tel" required />
                          <input *ngIf='otpResp' placeholder="กรุณากรอก OTP" class="clr-input" [(ngModel)]="otp"
                            name="otp" required />
                        </div>
                      </div>
                    </div>
                    <div *ngIf='!otpResp' class="clr-col-12" style="display: flex;justify-content: center;">
                      <button class="btn btn-primary btn-block" (click)="getOtp()">เข้าสู่ระบบ</button>
                    </div>
                    <div *ngIf='otpResp' class="clr-col-12" style="display: flex;justify-content: center;">
                      <p class="fontErr">ระบบได้ส่งหมายเลข OTP ไปยังหมายเลขโทรศัพท์ของท่านแล้ว (Ref. {{ref}})</p>
                    </div>
                    <div *ngIf='otpResp' class="clr-col-12 " style="display: flex;justify-content: center;">
                      <button class="btn btn-primary-outline btn-block buttomTop" (click)="back()">ย้อนกลับ</button>
                    </div>
                    <div *ngIf='otpResp' class="clr-col-12 " style="display: flex;justify-content: center;">
                      <button class="btn btn-primary btn-block buttomBottom" (click)="verifyOtp()">ยืนยัน</button>
                    </div>
                    <div *ngIf='otpResp' class="clr-col-12" style="display: flex;justify-content: left;">
                      <p class="fontErr">หากท่านไม่ได้รับ OTP ภายใน 5 นาที <br>
                        กรุณากดย้อนกลับและทำรายการใหม่อีกครั้ง</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="clr-footer color">
    <div class="row row0">
      <div class="col-2 row0">กระทรวงสาธารณะสุข </div>
    </div>
    <div class="row row0">
      <div class="col-2 row0"> Copyright © 2020</div>
    </div>

  </div>
</div>
