.result-lab {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-lab__card {
    width: 350px;
    display: flex;
    align-items: flex-end;
}


.result-lab__card .clr-form-control  {
    width: 100%;
}

.result-lab__card .clr-control-container {
    width: 100%;
}