<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงาน Local Quarantine</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">1. สรุปรายเขต</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <br>
      <h3 for="">
        1.1 ตารางผู้ป่วย LQ จำแนกรายเขต
      </h3>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">เขต</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้กักกันปัจจุบัน LQ.</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward สะสม</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward คงเหลือ</th>
        </tr>
        <tr *ngFor="let h of summaryZone; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border" style="text-align: right;">{{h.zone_code}}</td>
          <td class="right td-border" style="text-align: right;">{{h.local_q | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.person_total | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.admit | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="left td-border">รวม</td>
          <td class="right td-border" style="text-align: right;">{{sumLocal | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCoward | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCowardAdmit | number:'1.0-0'}}</td>
        </tr>
      </table>
      <br>
      <h3 for="">
        1.2 ตารางผู้ป่วย LQ จำแนกรายเขตและรายเดือน
      </h3>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th rowspan="2" class="right td-border" style="position: sticky; top: 0;">เขต</th>
          <th colspan="5" class="right td-border" style="position: sticky; top: 0;">ผู้กักกัน LQ.</th>
        </tr>
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">เมษายน</th>
          <th class="right td-border" style="position: sticky; top: 0;">พฤษภาคม</th>
          <th class="right td-border" style="position: sticky; top: 0;">มิถุนายน</th>
          <th class="right td-border" style="position: sticky; top: 0;">กรกฎาคม</th>
          <th class="right td-border" style="position: sticky; top: 0;">สิงหาคม</th>
        </tr>
        <tr *ngFor="let h of listL2; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border" style="text-align: right;">{{h.zone_code}}</td>
          <td class="right td-border" style="text-align: right;">{{h.m3 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.m4 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.m5 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.m6 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.m7 | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="left td-border">รวม</td>
          <td class="right td-border" style="text-align: right;">{{sum3 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sum4 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sum5 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sum6 | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sum7 | number:'1.0-0'}}</td>
        </tr>
      </table>
      <h3 for="">
        1.3 ตารางผู้ป่วย LQ รวมทุกประเภทจำแนกรายเขต
      </h3>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">เขต</th>
          <th class="right td-border" style="position: sticky; top: 0;">Local Quarantine<br>รวมทุกประเภท (แห่ง)</th>
          <th class="right td-border" style="position: sticky; top: 0;">รองรับได้ (คน)</th>
          <th class="right td-border" style="position: sticky; top: 0;">จำนวนผู้กักกัน (คน)</th>
        </tr>
        <tr *ngFor="let h of listPlace; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border" style="text-align: right;">{{h.zone_code}}</td>
          <td class="right td-border" style="text-align: right;">{{h.qty | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.total_capacity | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.person_qty | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="left td-border">รวม</td>
          <td class="right td-border" style="text-align: right;">{{sumPlace | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sumTotalCapacity | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sumPerson | number:'1.0-0'}}</td>
        </tr>
      </table>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>2. สรุปรายเขต, จังหวัด</button>
    <clr-tab-content *clrIfActive>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">เขต</th>
          <th class="right td-border" style="position: sticky; top: 0;">จังหวัด</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้กักกันปัจจุบัน LQ.</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward สะสม</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward คงเหลือ</th>
        </tr>
        <tr *ngFor="let h of summaryProvince; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border" style="text-align: right;">{{h.zone_code}}</td>
          <td class="right td-border" style="text-align: left;">{{h.last_quarantine_province}}</td>
          <td class="right td-border" style="text-align: right;">{{h.local_q | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.person_total | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{h.admit | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="left td-border">รวม</td>
          <td class="left td-border"></td>
          <td class="right td-border" style="text-align: right;">{{sumLocal | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCoward | number:'1.0-0'}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCowardAdmit | number:'1.0-0'}}</td>
        </tr>
      </table>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>3. รายบุคคล</button>
    <clr-tab-content *clrIfActive>
      <h4>รวม {{total}} คน</h4>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">ชื่อ</th>
          <th class="right td-border" style="position: sticky; top: 0;">เบอร์โทรศัพท์</th>
          <th class="right td-border" style="position: sticky; top: 0;">วันที่ Check In</th>
          <th class="right td-border" style="position: sticky; top: 0;">วันที่ Check Out</th>
          <th class="right td-border" style="position: sticky; top: 0;">สาเหตุที่ Check Out</th>
          <th class="right td-border" style="position: sticky; top: 0;">จังหวัดล่าสุด</th>
        </tr>
        <tr *ngFor="let h of listL; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border">{{h.thTitle}} {{h.thFullName}}</td>
          <td class="right td-border">{{h.tel}}</td>
          <td class="right td-border">{{h.checkInDate | dateTh:'D MMM YYYY'}}</td>
          <td class="right td-border">{{h.checkOutDate | dateTh:'D MMM YYYY'}}</td>
          <td class="right td-border">{{h.causeOfCheckOut | dateTh:'D MMM YYYY'}}</td>
          <td class="right td-border">{{h.lastQuarantineProvince}}</td>
        </tr>
      </table>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<app-loadding #modalLoading></app-loadding>