<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงาน Local Quarantine</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Local Quarantine (เขตสุขภาพ)</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">เขต</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้กักกันปัจจุบัน LQ.</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward สะสม</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward คงเหลือ</th>
        </tr>
        <tr *ngFor="let h of summaryZone; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border">{{h.zone_code}}</td>
          <td class="right td-border" style="text-align: right;">{{h.local_q}}</td>
          <td class="right td-border" style="text-align: right;">{{h.person_total}}</td>
          <td class="right td-border" style="text-align: right;">{{h.admit}}</td>
        </tr>
        <tr>
          <td class="left td-border">รวม</td>
          <td class="right td-border" style="text-align: right;">{{sumLocal}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCoward}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCowardAdmit}}</td>
        </tr>
      </table>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Local Quarantine (จังหวัด)</button>
    <clr-tab-content *clrIfActive>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">เขต</th>
          <th class="right td-border" style="position: sticky; top: 0;">จังหวัด</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้กักกันปัจจุบัน LQ.</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward สะสม</th>
          <th class="right td-border" style="position: sticky; top: 0;">ผู้ป่วย Coward คงเหลือ</th>
        </tr>
        <tr *ngFor="let h of summaryProvince; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border">{{h.zone_code}}</td>
          <td class="right td-border" style="text-align: left;">{{h.last_quarantine_province}}</td>
          <td class="right td-border" style="text-align: right;">{{h.local_q}}</td>
          <td class="right td-border" style="text-align: right;">{{h.person_total}}</td>
          <td class="right td-border" style="text-align: right;">{{h.admit}}</td>
        </tr>
        <tr>
          <td class="left td-border">รวม</td>
          <td class="left td-border"></td>
          <td class="right td-border" style="text-align: right;">{{sumLocal}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCoward}}</td>
          <td class="right td-border" style="text-align: right;">{{sumCowardAdmit}}</td>
        </tr>
      </table>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Local Quarantine (รายบุคคล)</button>
    <clr-tab-content *clrIfActive>
      <h4>รวม {{total}} คน</h4>
      <table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
        <tr>
          <th class="right td-border" style="position: sticky; top: 0;">ชื่อ</th>
          <th class="right td-border" style="position: sticky; top: 0;">เบอร์โทรศัพท์</th>
          <th class="right td-border" style="position: sticky; top: 0;">วันที่ Check In</th>
          <th class="right td-border" style="position: sticky; top: 0;">วันที่ Check Out</th>
          <th class="right td-border" style="position: sticky; top: 0;">สาเหตุที่ Check Out</th>
          <th class="right td-border" style="position: sticky; top: 0;">จังหวัดล่าสุด</th>
        </tr>
        <tr *ngFor="let h of listL; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
          <td class="left td-border">{{h.thTitle}} {{h.thFullName}}</td>
          <td class="right td-border">{{h.tel}}</td>
          <td class="right td-border">{{h.checkInDate | dateTh:'D MMM YYYY'}}</td>
          <td class="right td-border">{{h.checkOutDate | dateTh:'D MMM YYYY'}}</td>
          <td class="right td-border">{{h.causeOfCheckOut | dateTh:'D MMM YYYY'}}</td>
          <td class="right td-border">{{h.lastQuarantineProvince}}</td>
        </tr>
      </table>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<app-loadding #modalLoading></app-loadding>