<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานผู้ป่วยค้าง Admit จาก CO-Lab</span>
</nav>


<clr-datagrid [clrDgLoading]="loadings" [style.height.px]="500">
  <clr-dg-column>lab no</clr-dg-column>
  <clr-dg-column>ชื่อ</clr-dg-column>
  <clr-dg-column>อายุ</clr-dg-column>
  <clr-dg-column>ที่อยู่</clr-dg-column>
  <clr-dg-column>สถานที่ส่งตรวจ</clr-dg-column>
  <clr-dg-column>สถานะ</clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index" [ngClass]="{isWarning: idx % 2 === 0}">
    <!-- <clr-dg-cell></clr-dg-cell> -->

  </clr-dg-row>

  <!-- <clr-dg-footer>
     
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="totalList">
          <clr-dg-page-size [clrPageSizeOptions]="[10,100,500,1000,5000,10000,100000]" >
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{totalList}} rows
          </clr-dg-page-size>

      </clr-dg-pagination>
  </clr-dg-footer> -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="totalList" [clrDgPageSize]="limit">
      <clr-dg-page-size [clrPageSizeOptions]="[100,500,1000,5000]">จำนวนรายการต่อหน้า</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{totalList}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
