<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานจำนวนผู้ป่วย COVID ADMIT แยกรายโรงพยาบาล</span>
</nav>

<table class="table">
  <thead>
    <tr>
      <th colspan="2" class="center"></th>
      <th class="center">จำนวนผู้ป่วย</th>
      <th class="center">IP PUI</th>
      <th class="center">Severve</th>
      <th class="center">Moderate</th>
      <th class="center">Mild</th>
      <th class="center">Asymptomatic</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="2" class="right" style="font-weight: bold;">รวมทั้งสิ้น</th>
      <th class="right" style="font-weight: bold;">{{total}}</th>
      <th class="right" style="font-weight: bold;">{{ippui}}</th>
      <th class="right" style="font-weight: bold;">{{severe}}</th>
      <th class="right" style="font-weight: bold;">{{moderate}}</th>
      <th class="right" style="font-weight: bold;">{{mild}}</th>
      <th class="right" style="font-weight: bold;">{{asymptomatic}}</th>
    </tr>
  </thead>
</table>

<div class="clr-row" style="padding-bottom: 0rem;">
  <div class="clr-col-12">
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('01')">
      เขต 1
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('02')">
      เขต 2
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('03')">
      เขต 3
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('04')">
      เขต 4
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('05')">
      เขต 5
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('06')">
      เขต 6
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('07')">
      เขต 7
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('08')">
      เขต 8
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('09')">
      เขต 9
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('10')">
      เขต 10
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('11')">
      เขต 11
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('12')">
      เขต 12
    </button>
    <button class="btn btn-sm btn-primary btn-outline" (click)="click('13')">
      เขต 13
    </button>
  </div>
</div>

<clr-stack-view *ngFor="let l of list">
  <clr-stack-header>เขต {{l.name}}</clr-stack-header>

  <clr-stack-block>
    <clr-stack-label>จังหวัด</clr-stack-label>
  </clr-stack-block>

  <clr-stack-block [clrSbExpanded]="false" *ngFor="let p of l.provinces">
    <clr-stack-label>{{p.province_name}}</clr-stack-label>
    <clr-stack-content></clr-stack-content>
    <table class="table">
      <thead>
        <tr>
          <td></td>
          <td>Severe</td>
          <td>Moderate</td>
          <td>Mild</td>
          <td>Asymptomatic</td>
          <td>IP PUI</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of p.hospitals">
          <td>{{h.['hospname']}}</td>
          <td>{{h.['Severe']}}</td>
          <td>{{h.['Moderate']}}</td>
          <td>{{h.['Mild']}}</td>
          <td>{{h.['Asymptomatic']}}</td>
          <td>{{h.['IP PUI']}}</td>
        </tr>
      </tbody>
    </table>
  </clr-stack-block>
</clr-stack-view>
<!-- <div *ngFor="let l of list">
  <h4>เขต {{l.name}}</h4>
  <table class="table">
    <thead>
      <tr>
        <th class="left">จังหวัด</th>
        <th class="left">โรงพยาบาล</th>
        <th class="left">จำนวนผู้ป่วย</th>
        <th class="left">IP PUI</th>
        <th class="left">Severve</th>
        <th class="left">Moderate</th>
        <th class="left">Mild</th>
        <th class="left">Asymptomatic</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of l.hospital">
        <td class="left">{{h.province_name}}</td>
        <td class="left">{{h.hospname}}</td>
        <td class="right">{{h.count}}</td>
        <td class="right">{{h.ippui}}</td>
        <td class="right">{{h.severe}}</td>
        <td class="right">{{h.moderate}}</td>
        <td class="right">{{h.mild}}</td>
        <td class="right">{{h.asymptomatic}}</td>
      </tr>
      <tr>
        <td colspan="2" class="right" style="font-weight: bold;">รวม</td>
        <td class="right" style="font-weight: bold;">{{l.count}}</td>
        <td class="right" style="font-weight: bold;">{{l.ippui}}</td>
        <td class="right" style="font-weight: bold;">{{l.severe}}</td>
        <td class="right" style="font-weight: bold;">{{l.moderate}}</td>
        <td class="right" style="font-weight: bold;">{{l.mild}}</td>
        <td class="right" style="font-weight: bold;">{{l.asymptomatic}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<app-loadding #loading></app-loadding>