<nav class="breadcrumb">
  <div class="breadcrumb-item active">
    รายงาน ข้อมูลย้อนหลัง
  </div>
</nav>

<!-- <form clrForm>
  <clr-date-container>
    <label>Basic Demo</label>
    <input type="date" clrDate name="date" [(ngModel)]="date" />
  </clr-date-container>
</form> -->

<div class="clr-row">
  <div class="clr-offset-8 clr-col-4">
    <div class="d-flex align-end">
      <input type="date" clrDate name="date" [(ngModel)]="date" readonly />
      <button class="btn btn-primary btn-sm ma-0">
        ยืนยัน
      </button>
    </div>
  </div>
</div>

<clr-datagrid>
  <clr-dg-column>#</clr-dg-column>
  <clr-dg-column>cid</clr-dg-column>
  <clr-dg-column>ชื่อ นามสกุล</clr-dg-column>
  <clr-dg-column>passport</clr-dg-column>
  <clr-dg-column>sat code</clr-dg-column>

  <clr-dg-row *ngFor="let item of items;let i = index">
    <clr-dg-cell> {{ i + 1 }} </clr-dg-cell>
    <clr-dg-cell> {{ item.cid }} </clr-dg-cell>
    <clr-dg-cell> {{ item.first_name }} {{item.last_name}} </clr-dg-cell>
    <clr-dg-cell> {{ item.passport }} </clr-dg-cell>
    <clr-dg-cell> {{ item.sat_code }} </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>