<div class="main-container">
  <header class="header">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <!-- <img src="./assets/images/tt.png" alt="logo" style="width: 200px; padding-right: 10px;"> -->
        <span class="title">Co-Ward </span>
      </a>
    </div>
    <div class="header-nav">
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{fullname}}-{{hospname}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a href="javascript://" clrDropdownItem>เปลี่ยนรหัสผ่าน</a> -->
          <a href="javascript://" (click)="logout()" clrDropdownItem>ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse">
      <a *ngIf="covidCaseMenu" clrVerticalNavLink routerLink="/staff/covid-case" title="Case COVID"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="helix"></clr-icon>
        ผู้ป่วย COVID
      </a>
      <a *ngIf="covidCaseStatusMenu" clrVerticalNavLink routerLink="/staff/covid-case-status" title="Case COVID"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="wand"></clr-icon>
        สถานะผู้ป่วย COVID
      </a>
      <a *ngIf="covidCaseApprovedMenu" clrVerticalNavLink routerLink="/staff/covid-case-approved"
        title="อนุมัติรายการยาและเวชภัณฑ์ให้รพ.ลูกข่าย" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="book"></clr-icon>
        จ่ายยาและเวชภัณฑ์
      </a>
      <a *ngIf="covidCaseRequisitionMenu" clrVerticalNavLink routerLink="/staff/covid-case-requisition"
        title="รายการยาและเวชภัณฑ์" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="book"></clr-icon>
        รายการจ่ายยาและเวชภัณฑ์
      </a>
      <a clrVerticalNavLink routerLink="/staff/inventory-status" title="รายการยาและเวชภัณฑ์" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="store"></clr-icon>
        รายการคงคลัง
      </a>
      <a *ngIf="covidPayMenu" clrVerticalNavLink routerLink="/staff/pay" title="บันทึกการจ่าย Surgical Mask"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
        บันทึกการจ่าย Surgical Mask
      </a>
      <!-- <a *ngIf="stockDrugsMenu" clrVerticalNavLink routerLink="/staff/drugs" title="สถานะยา" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="flask"></clr-icon>
        สถานะยา
      </a>
      <a *ngIf="stockBedsMenu" clrVerticalNavLink routerLink="/staff/beds" title="เตียงผู้ป่วย" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="accessibility-2"></clr-icon>
        สถานะเตียงผู้ป่วย
      </a> -->
      <a *ngIf="stockSuppliesMenu" clrVerticalNavLink routerLink="/staff/supplies" title="สถานะเวชภัณฑ์"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="cursor-hand-open"></clr-icon>
        สถานะเวชภัณฑ์
      </a>
      <a *ngIf="trackingMenu" clrVerticalNavLink routerLink="/staff/tracking" title="สถานะของ"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        ติดตามสถานะสินค้า
      </a>
      <!-- <a *ngIf="checkSuppliesMenu" clrVerticalNavLink routerLink="/staff/check-supplie" title="ตรวจสอบการบันทึกข้อมูลเวชภัณฑ์"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        ตรวจสอบเวชภัณฑ์
      </a> -->
      <!-- <a *ngIf="checkBedsMenu" clrVerticalNavLink routerLink="/staff/check-bed" title="ตรวจสอบการบันทึกข้อมูลเตียง" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        ตรวจสอบเตียง
      </a> -->
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
        ตั้งค่า
        <clr-vertical-nav-group-children>
          <a *ngIf="settingBasicMenu" clrVerticalNavLink routerLink="/staff/setting/basic" routerLinkActive="active">
            ตั้งค่าพื้นฐาน
          </a>
          <a *ngIf="settingBedsMenu" clrVerticalNavLink routerLink="/staff/setting/beds" routerLinkActive="active">
            ตั้งค่าเตียง
          </a>
          <a *ngIf="settingBedsMenu" clrVerticalNavLink routerLink="/staff/setting/ventilators"
            routerLinkActive="active">
            ตั้งค่าเครื่องช่วยหายใจ
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</div>
