<div class="container">
  <div class="clr-row">
    <div class="clr-col-5 clr-offset-1">
      <button class="btn  btn-block" style="font-size: 1.5rem;height:3rem" [ngClass]="{'btn-success': province === 'IN','btn-outline-success':province != 'IN' }"
        (click)="province='IN'">ผู้ป่วยอยู่ในประเทศไทย</button>
    </div>
    <div class="clr-col-5 ">
      <button class="btn  btn-block" style="font-size: 1.5rem;height:3rem;" [ngClass]="{'btn-success': province === 'OUT','btn-outline-success':province != 'OUT' }"
        (click)="province='OUT'">ผู้ป่วยกลับจากต่างประเทศ</button>
    </div>

  </div>
  <br>
  <br>
  <div class="clr-row" [ngClass]="{hidden: !province}">
    <div class="clr-col-3 clr-offset-3">
      <button class="btn  btn-block" style="font-size: 1.5rem;height:3rem" [ngClass]="{'btn-success': peopleType === 'THAI','btn-outline-success':peopleType != 'THAI' }"
        (click)="changePeopleType('THAI')">คนไทย</button>
    </div>
    <div class="clr-col-3 ">
      <button class="btn  btn-block" style="font-size: 1.5rem;height:3rem;" [ngClass]="{'btn-success': peopleType === 'FOREIGN','btn-outline-success':peopleType != 'FOREIGN' }"
        (click)="changePeopleType('FOREIGN')">คนต่างชาติ</button>
    </div>
  </div>
  <br>
  <br>
  <div class="clr-row" [ngClass]="{hidden: !province,hidden:!peopleType}">
    <div class="clr-col-4">
      <button class="btn btn-outline-primary btn-block" style="font-size: 1.5rem;height:3rem" [ngClass]="{'btn-primary': caseType === 'IPPUI','btn-outline-primary':caseType != 'IPPUI' }"
        (click)="caseType='IPPUI'">IP PUI <span class="p4">(ผู้ป่วย admit รอผลตรวจ)</span></button>
    </div>
    <div class="clr-col-4">
      <button class="btn btn-outline-primary  btn-block" style="font-size: 1.5rem;height:3rem;" [ngClass]="{'btn-primary': caseType === 'COVID','btn-outline-primary':caseType != 'COVID' }"
        (click)="caseType='COVID'">COVID <span class="p4">(ผู้ป่วย admit ผลคอนเฟิร์มเป็น +)</span></button>
    </div>
    <div class="clr-col-4">
      <button class="btn btn-outline-primary  btn-block" style="font-size: 1.5rem;height:3rem;" [ngClass]="{'btn-primary': caseType === 'OBSERVE','btn-outline-primary':caseType != 'OBSERVE',hidden:province!='OUT' }"
        (click)="caseType='OBSERVE'">Observe <span class="p4">(ผู้ป่วยกลับจากตปท. กักตัว14วัน)</span></button>
    </div>
  </div>
  <br>
  <br>
  <div class="clr-row" [ngClass]="{hidden: !province,hidden:!peopleType,hidden:!caseType}">

    <div class="clr-col-3 clr-offset-2" *ngIf="peopleType=='THAI'">

      <div class="clr-form-control">
        <label for="basic" class="clr-control-label">เลขที่บัตรประชาชน</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper" style="max-height: 3rem !important;">
            <input type="text" id="basic" class="clr-input" appNumberOnly maxlength="13" style="height:3rem !important;font-size: 1.3rem;"
              (keyup)="onKeyCid($event)" name="cid" [(ngModel)]="cid">
            <clr-icon shape="exclamation-circle" size="36" *ngIf="cidError"></clr-icon>
          </div>
          <span *ngIf="cidError" class="clr-subtext">เลขที่บัตรประชาชนผิด</span>
        </div>
      </div>
    </div>
    <div class="clr-col-3 clr-offset-2" *ngIf="peopleType=='FOREIGN'">

      <div class="clr-form-control">
        <label for="basic" class="clr-control-label">เลขที่หนังสือเดินทาง</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper" style="max-height: 3rem !important;">
            <input type="text" id="basic" class="clr-input" appNumberOnly maxlength="13" style="height:3rem !important;font-size: 1.3rem;"
               name="passpost" [(ngModel)]="passpost">
            <clr-icon shape="exclamation-circle" size="36" *ngIf="passpostError"></clr-icon>
          </div>
          <span *ngIf="passpostError" class="clr-subtext">เลขที่หนังสือเดินทางผิด</span>
        </div>
      </div>
    </div>
    <div class="clr-col-2 clr-offset-1">
      <button class="btn btn-success btn-block" style="font-size: 1.2rem;height:2rem;" [ngClass]="{hidden: passpostError}"
        (click)="next()">ถัดไป</button>
    </div>
  </div>
</div>

<app-loadding #loading></app-loadding>