<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานจำนวนประเภทเครื่องช่วยหายใจ ณ. วันที่ {{date | dateTh:'D MMM YYYY'}}</span>
</nav>
<br>
<div class="clr-row">
  <div class="clr-col-4">
    <!-- <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th> -->
  </div>
  <div class="clr-col-1">
    <!-- <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button> -->
  </div>
  <div class="clr-col-7" style="text-align: right;">
    <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button>
  </div>
</div>

<table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
  <tr>
    <th rowspan="2" class="td-border">โรงพยาบาล</th>
    <th colspan="3" class="td-border">Non-invasive ventilator (NIV)</th>
    <th colspan="3" class="td-border">Invasive ventilator</th>
    <th rowspan="2">หน่วยงาน</th>
  </tr>
  <tr>
    <th class="td-border">ใช้กับผู้ป่วย Covid</th>
    <th class="td-border">ว่างพร้อมใช้งานทั้งโรงพยาบาล</th>
    <th class="td-border">ทั้งหมด</th>
    <th class="td-border">ใช้กับผู้ป่วย Covid</th>
    <th class="td-border">ว่างพร้อมใช้งานทั้งโรงพยาบาล</th>
    <th class="td-border">ทั้งหมด</th>
  </tr>
  <tr>
    <th class="left td-border" รวม></th>
    <th class="td-border">{{nivCovid}}</th>
    <th class="td-border">{{nivQty}}</th>
    <th class="td-border">{{nivAll}}</th>
    <th class="td-border">{{ivCovid}}</th>
    <th class="td-border">{{ivQty}}</th>
    <th class="td-border">{{ivAll}}</th>
    <th></th>
  </tr>
  <tr *ngFor="let i of list">
    <td class="left td-border">{{i.hospname}}
      <br>
      <label style="color: red;">
        ข้อมูลล่าสุด: {{ i.updated_entry | dateTh:'DD/MM/YYYY hh:mm'}}
      </label>
    </td>
    <td class="td-border">{{i.non_invasive_covid_qty}}</td>
    <td class="td-border">{{i.non_invasive_qty}}</td>
    <td class="td-border">{{i.non_invasive_qty+i.non_invasive_covid_qty}}</td>
    <td class="td-border">{{i.invasive_covid_qty}}</td>
    <td class="td-border">{{i.invasive_qty}}</td>
    <td class="td-border">{{i.invasive_qty+i.invasive_covid_qty}}</td>
    <td>{{i.sub_ministry_name}}</td>
  </tr>
</table>
<label>{{list.length}} รายการ</label>

<app-loadding #loading></app-loadding>