<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานผู้ป่วย DISCHARGE</span>
</nav>

<br>

<div class="clr-row">
  <div class="clr-col-2">วันที่แสดงข้อมูล</div>
  <div class="clr-col-2">
    <my-date-picker-th name="date" [options]="myDatePickerOptions" (dateChanged)="onChangeDate($event)"
      [(ngModel)]="date" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-8">
    <!-- <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button> -->
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <span class="required">*</span> หมายเหตุ หากดูรายงานวันปัจจุบัน ข้อมูลอาจเปลี่ยนแปลง
    เพราะรพ.สามารถแก้ไขข้อมูลได้ในวันปัจจุบัน
  </div>
</div>

<clr-datagrid>
  <clr-dg-column>เขต</clr-dg-column>
  <clr-dg-column>DISCHARGE</clr-dg-column>
  <clr-dg-column>NEGATIVE</clr-dg-column>
  <clr-dg-column>REFER</clr-dg-column>
  <clr-dg-column>DEATH</clr-dg-column>
  <clr-dg-column>รวม</clr-dg-column>
  <clr-dg-row *ngFor="let p of list">
    <clr-dg-cell>{{p.zone_code}}</clr-dg-cell>
    <clr-dg-cell>{{p.DISCHARGE}}</clr-dg-cell>
    <clr-dg-cell>{{p.NEGATIVE}}</clr-dg-cell>
    <clr-dg-cell>{{p.REFER}}</clr-dg-cell>
    <clr-dg-cell>{{p.DEATH}}</clr-dg-cell>
    <clr-dg-cell>{{p.DISCHARGE + p.NEGATIVE + p.REFER + p.DEATH}}</clr-dg-cell>

    <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
      <clr-dg-column>จังหวัด</clr-dg-column>
      <clr-dg-column>DISCHARGE</clr-dg-column>
      <clr-dg-column>NEGATIVE</clr-dg-column>
      <clr-dg-column>REFER</clr-dg-column>
      <clr-dg-column>DEATH</clr-dg-column>
      <clr-dg-column>รวม</clr-dg-column>
      <clr-dg-row *ngFor="let h of p.value">
        <clr-dg-cell>{{h.province_name}}</clr-dg-cell>
        <clr-dg-cell>{{h.DISCHARGE}}</clr-dg-cell>
        <clr-dg-cell>{{h.NEGATIVE}}</clr-dg-cell>
        <clr-dg-cell>{{h.REFER}}</clr-dg-cell>
        <clr-dg-cell>{{h.DEATH}}</clr-dg-cell>
        <clr-dg-cell>{{h.DISCHARGE + h.NEGATIVE + h.REFER + h.DEATH}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>

  </clr-dg-row>
</clr-datagrid>

<app-loadding #loading></app-loadding>