<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">ตรวจสอบการบันทึกข้อมูลเตียง</span>
</nav>

<clr-stack-view *ngFor="let b of data">
  <clr-stack-header>เขต {{b.zone_code}}</clr-stack-header>

  <clr-stack-block>
      <clr-stack-label>จังหวัด</clr-stack-label>
      <clr-stack-content>วันที่บันทึกล่าสุด</clr-stack-content>
  </clr-stack-block>

  <clr-stack-block [clrSbExpanded]="false"  *ngFor="let p of b.provinces">
      <clr-stack-label>{{p.province_name}}</clr-stack-label>
      <clr-stack-content></clr-stack-content>
      <clr-stack-block *ngFor="let h of p.hospitals"> 
          <clr-stack-label>{{h.hospname}}</clr-stack-label>
          <clr-stack-content>{{h.created_at | dateTh:'DD/MM/YYYY hh:mm'}}</clr-stack-content>
      </clr-stack-block>
  </clr-stack-block>

  <!-- <clr-stack-block>
      <clr-stack-label>Label 3</clr-stack-label>
      <clr-stack-content>Content 3</clr-stack-content>
      <clr-stack-block>
          <clr-stack-label>Sub-label 4</clr-stack-label>
          <clr-stack-content>Sub-content 4</clr-stack-content>
      </clr-stack-block>
      <clr-stack-block>
          <clr-stack-label>Sub-label 5</clr-stack-label>
          <clr-stack-content>Sub-content 5</clr-stack-content>
      </clr-stack-block>
  </clr-stack-block> -->
</clr-stack-view>


<table class="table  table-hover table-sm" *ngFor="let b of data">
  <thead class="thead-light">
    <tr>
      <th colspan="12">เขต {{b.zone_code}}</th>
    </tr>
  </thead>
  <tbody *ngFor="let p of b.provinces">
    <tr class="table-success">
      <td colspan="2">{{p.province_name}}</td>
    </tr>
    <tr>
      <th>จังหวัด</th>
      <th class="text-align-center">วันที่บันทึกล่าสุด</th>
    </tr>
    <tr *ngFor="let h of p.hospitals">
      <td>{{h.hospname}}</td>
      <td>{{h.created_at}}</td>

    </tr>
  </tbody>
</table>
