<div class="clr-row">
  <div class="clr-col-12">
    <div class="clr-col-12">
      <button class="btn btn-sm btn-success" (click)="onClickAdd()">
        <clr-icon shape="plus"></clr-icon> เพิ่มรายการ
      </button>
    </div>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-3">
    <div class="clr-row">
      <div class="clr-col-12">
        <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
          <clr-dg-column style="text-align: center;">วันที่</clr-dg-column>
          <clr-dg-column></clr-dg-column>

          <clr-dg-row *ngFor="let l of list; let idx=index;">
            <clr-dg-cell style="text-align: center;">9 เมษายน 2563</clr-dg-cell>
            <clr-dg-cell style="text-align: center;">
              <button class="btn btn-sm btn-success" (click)="onClickEdit()">
                <clr-icon shape="note"></clr-icon> แก้ไข
              </button>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <button type="button" class="btn btn-success" (click)="save()">
          บันทึก
        </button>
      </div>
    </div>
  </div>
  <div class="clr-col-9">
    <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
      <clr-dg-column>#</clr-dg-column>
      <clr-dg-column>รายการ</clr-dg-column>
      <clr-dg-column>จำนวนเตียง</clr-dg-column>
      <clr-dg-column>ใช้ไปแล้ว</clr-dg-column>
      <clr-dg-column>คงเหลือ</clr-dg-column>
      <clr-dg-column>หน่วย</clr-dg-column>

      <clr-dg-row *ngFor="let l of list; let idx=index;">
        <clr-dg-cell>{{idx+1}}</clr-dg-cell>
        <clr-dg-cell>{{l.name}}</clr-dg-cell>
        <clr-dg-cell>
          <input type="number" style="text-align: right;" name="total" [(ngModel)]="l.total" class="clr-col-9 clr-input width-fit"
            value="{{l.total}}">
        </clr-dg-cell>
        <clr-dg-cell>
          <input type="number" style="text-align: right;" name="usage_bed" [(ngModel)]="l.usage_bed" class="clr-col-9 clr-input width-fit"
            value="{{l.usage_bed}}">
        </clr-dg-cell>
        <clr-dg-cell>{{l.total - l.usage_bed}}</clr-dg-cell>
        <clr-dg-cell>{{l.unit_name}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>