<nav
    style="margin-bottom: 16px;"
    class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานผู้ป่วยรายเขต
    </span>
</nav>

<div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
        <label style="padding-top: 4px; margin-right: 16px;"> วันที่แสดงข้อมูล </label>
        <div style="width: 200px; margin-right: 16px;">
            <my-date-picker-th
                [(ngModel)]="date"
                [options]="myDatePickerOptions"
                name="datePatientsZone"
                (dateChanged)="selectDate($event)">
            </my-date-picker-th>
        </div>
    </div>
    <button class="btn btn-sm btn-primary" (click)="exportExcel()">
        <clr-icon shape="download"></clr-icon>export excel
    </button>
</div>

<table style="border-collapse: collapse;" class="table table-compact">
    <thead>
        <th class="td-border"> เขตสุขภาพ </th>
        <th class="td-border"> ผู้ป่วยทั้งหมด </th>
        <th class="td-border"> Severe </th>
        <th class="td-border"> Moderate </th>
        <th class="td-border"> Mild </th>
        <th class="td-border"> Asymptomatic </th>
        <th class="td-border"> Invasive Ventilator </th>
        <th class="td-border"> Non-Invasive Ventilator  </th>
        <th class="td-border"> High flow </th>
        <th class="td-border"> Dead</th>
        <th class="td-border"> Dead Covid</th>
        <th class="td-border"> Dead Non Covid</th>
        <th class="td-border"> PUI </th>
        <th> ATK </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index">
            <td class="td-border">
                <div *ngIf="item.zoneCode !== '13'"> รวมเขต {{ item.zoneCode }} </div>
                <div *ngIf="item.zoneCode === '13'"> กรุงเทพมหานคร </div>
            </td>
            <td class="td-border"> {{ cal.checkValue(item.total) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.severe) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.moderate) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.mild) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.asymptomatic) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.invasive_ventilator) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.non_invasive_ventilator) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.high_flow) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.death) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.death_covid) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.death_non) }} </td>
            <td class="td-border"> {{ cal.checkValue(item.pui) }} </td>
            <td> {{ cal.checkValue(item.atk) }} </td>
        </tr>
    </tbody>
    <tfoot *ngIf="items.length">
        <tr>
            <td class="td-border"> รวม 12 เขต </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'total')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'severe')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'moderate')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'mild')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'asymptomatic')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'invasive_ventilator')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'non_invasive_ventilator')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'high_flow')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'death')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'death_covid')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'death_non')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sum12Zone(items, 'pui')) }} </td>
            <td> {{ cal.checkValue(cal.sum12Zone(items, 'atk')) }} </td>
        </tr>
        <tr>
            <td class="td-border"> ทั่วประเทศ </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'total')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'severe')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'moderate')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'mild')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'asymptomatic')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'invasive_ventilator')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'non_invasive_ventilator')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'high_flow')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'death')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'death_covid')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'death_non')) }} </td>
            <td class="td-border"> {{ cal.checkValue(cal.sumAllZone(items, 'pui')) }} </td>
            <td> {{ cal.checkValue(cal.sumAllZone(items, 'atk')) }} </td>
        </tr>
    </tfoot>
</table>

<div
    *ngIf="isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    กำลังโหลดข้อมูล ...
</div>

<div
    *ngIf="!isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    ไม่พบข้อมูล
</div>

<app-loadding #loading></app-loadding>
