<nav
    style="margin-bottom: 16px;"
    class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานผู้ป่วยรายเขต
    </span>
</nav>

<div style="display: flex;">
    <label style="padding-top: 4px; margin-right: 16px;"> วันที่แสดงข้อมูล </label>
    <div style="width: 200px; margin-right: 16px;">
        <my-date-picker-th
            [(ngModel)]="date"
            [options]="myDatePickerOptions"
            name="datePatientsZone"
            (dateChanged)="selectDate($event)">
        </my-date-picker-th>
    </div>
</div>

<table style="border-collapse: collapse;" class="table table-compact">
    <thead>
        <th class="td-border"> เขตสุขภาพ </th>
        <th class="td-border"> ผู้ป่วยทั้งหมด </th>
        <th class="td-border"> Severe </th>
        <th class="td-border"> Invasive Ventilator </th>
        <th class="td-border"> Non-Invasive Ventilator  </th>
        <th class="td-border"> High flow </th>
        <th class="td-border"> Moderate </th>
        <th class="td-border"> Mild </th>
        <th class="td-border"> Asymptomatic </th>
        <th class="td-border"> Dead </th>
        <th> PUI </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index">
            <td class="td-border"> {{ item.zone_code }} </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td> 0 </td>
        </tr>
    </tbody>
    <tfoot *ngIf="items.length">
        <tr>
            <td class="td-border"> รวมทุกเขต </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td> 0 </td>
        </tr>
        <tr>
            <td class="td-border"> ทั่วประเทศ </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td class="td-border"> 0 </td>
            <td> 0 </td>
        </tr>
    </tfoot>
</table>

<div
    *ngIf="!items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    ไม่พบข้อมูล
</div>
