<div style="margin-bottom: 24px;">
  <h3> ผู้ป่วยแต่ละอาการ </h3>
</div>

<div style="display: flex; margin-bottom: 8px;">
  <div style="width: 160px; margin-right: 16px;">
    <label> วันที่เริ่ม </label>
    <my-date-picker-th
        [(ngModel)]="startDate"
        [options]="myDatePickerOptions"
        name="startDatePatientsCase"
        (dateChanged)="selectStartDate($event)">
    </my-date-picker-th>
  </div>
  <div style="width: 160px; margin-right: 16px;">
    <label> วันที่สิ้นสุด </label>
    <my-date-picker-th
        [(ngModel)]="endDate"
        [options]="myDatePickerOptions"
        name="endDatePatientsCase"
        (dateChanged)="selectEndDate($event)">
    </my-date-picker-th>
  </div>

  <div style="width: 160px; margin-right: 16px;">
      <label> หน่วยงาน </label>
      <div class="clr-select-wrapper" style="width: 100%;">
          <select
              [(ngModel)]="ministryCode"
              name="ministryPatientsCase"
              style="width: 100%;"
              class="clr-select"
              (change)="selectMinistry()">
              <option value=""> เลือกหน่วยงาน </option>
              <option *ngFor="let ministry of listMinistry; let i = index" [value]="ministry.code">
                  {{ ministry.name }}
              </option>
          </select>
      </div>
  </div>

  <div style="width: 160px; margin-right: 16px;">
      <label> เขตสุขภาพ </label>
      <div class="clr-select-wrapper" style="width: 100%;">
          <select
              [(ngModel)]="zone"
              name="zonePatientsCaseDashboard"
              style="width: 100%;"
              class="clr-select"
              (change)="selectZone()">
              <option value="">เลือกเขต</option>
              <option *ngFor="let zone of zones; let i = index" [value]="zone.value">
                  {{ zone.name }}
              </option>
          </select>
      </div>
  </div>
  <div style="width: 160px; margin-right: 16px;">
      <label> จังหวัด </label>
      <div class="clr-select-wrapper" style="width: 100%;">
          <select
              [(ngModel)]="displayProvince"
              name="provincePatientsCaseDashboard"
              style="width: 100%;"
              class="clr-select"
              readonly="true"
              (click)="setSelectMultiProvince()">
              <option style="display: none;" value=""> เลือกจังหวัด </option>
              <option
                  [selected]="provinceGroup.length"
                  style="display: none;">
                  <div *ngIf="provinceGroup.length === 1">
                      {{ provinceGroup[0] }}
                  </div>
                  <div *ngIf="provinceGroup.length > 1">
                      {{ provinceGroup[0] + ' + ' + ( provinceGroup.length - 1 ) }}
                  </div>
              </option>
          </select>
          <div
              *ngIf="isSelectProvince"
              class="patients-case__select-menu">
              <clr-checkbox-wrapper *ngFor="let province of provinces; let i = index">
                  <input
                      [value]="province"
                      [checked]="checkProvince(province)"
                      type="checkbox"
                      clrCheckbox
                      (change)="selectProvince($event.target.value)" />
                  <label> {{ province }} </label>
              </clr-checkbox-wrapper>
          </div>
      </div>
  </div>
  <div style="width: 160px;">
    <label> ประเภทเตียง </label>
    <div class="clr-select-wrapper" style="width: 100%;">
        <select
            [(ngModel)]="ministryCode"
            name="bedTypePatientsCase"
            style="width: 100%;"
            class="clr-select"
            (change)="selectBedType()">
            <option value=""> เลือกประเภทเตียง </option>
            <option *ngFor="let bedType of bedTypes; let i = index" [value]="bedType.id">
                {{ bedType.name }}
            </option>
        </select>
    </div>
  </div>
</div>

<div style="display: flex;">
  <div
    style="margin-right: 24px"
    class="card patients-case__card">
    <div class="card-block">
        <div  class="card-title">
          Severe Case
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          {{ formatNumber(items.severe_total) }}
        </div>
    </div>
  </div>
  <div
    style="margin-right: 24px"
    class="card patients-case__card">
    <div class="card-block">
        <div class="card-title">
          Moderate Case
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          {{ formatNumber(items.moderate_total) }}
        </div>
    </div>
  </div>
  <div
    style="margin-right: 24px"
    class="card patients-case__card">
    <div class="card-block">
        <div class="card-title">
          Mild Case
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          {{ formatNumber(items.mild_total) }}
        </div>
    </div>
  </div>
  <div
    style="margin-right: 24px"
    class="card patients-case__card">
    <div class="card-block">
        <div class="card-title">
          Asymptomatic
        </div>
        <div
          style="text-align: center;"
          class="card-text">
          {{ formatNumber(items.asymptomatic_total) }}
        </div>
    </div>
  </div>
</div>
<div
  style="width: 636px;"
  class="card">
  <div class="card-block">
    <highcharts-chart
        *ngIf="highcharts"
        [Highcharts] = "highcharts"
        [options] = "lineChartOptions">
    </highcharts-chart>
  </div>
</div>
