<div class="main-container">
  <header class="header">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <!-- <img src="./assets/images/tt.png" alt="logo" style="width: 200px; padding-right: 10px;"> -->
        <span class="title">COVID-SUPPLIES (STAFF)</span>
      </a>
    </div>
    <div class="header-nav">
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{fullname}}-{{hospname}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a href="javascript://" clrDropdownItem>เปลี่ยนรหัสผ่าน</a> -->
          <a href="javascript://" (click)="logout()" clrDropdownItem>ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse">
      <a *ngIf="checkBedMenu" clrVerticalNavLink routerLink="/staff/check-bed" title="ตรวจสอบการบันทึกข้อมูลเตียง"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        ตรวจสอบการบันทึกข้อมูลเตียง
      </a>
      <a *ngIf="checkSuppliesMenu" clrVerticalNavLink routerLink="/staff/check-supplie" title="ตรวจสอบการบันทึกข้อมูลเวชภัณฑ์"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        ตรวจสอบการบันทึกข้อมูลเวชภัณฑ์
      </a>
      <a *ngIf="balanceSuppliesMenu" clrVerticalNavLink routerLink="/staff/inventory" title="รายการเวชภัณฑ์คงเหลือ"
        routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        รายการเวชภัณฑ์คงเหลือ
      </a>
      <a *ngIf="balanceBedMeny" clrVerticalNavLink routerLink="/staff/drug" title="รายการยาคงเหลือ" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        รายการยาคงเหลือ
      </a>
      <!-- <a clrVerticalNavLink routerLink="/staff/beds" title="รายการเตียง" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        รายการเตียง
      </a> -->
      <a *ngIf="statusTrackingMenu" clrVerticalNavLink routerLink="/staff/tracking" title="สถานะของ" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        สถานะการส่งเวชภัณฑ์
      </a>
      <a *ngIf="balanceBedMeny" clrVerticalNavLink routerLink="/staff/bed" title="เตียงผู้ป่วย" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        สถานะเตียงผู้ป่วย
      </a>
      <a *ngIf="settingMenu" clrVerticalNavLink routerLink="/staff/setting" title="ตั้งค่าโรงพยาบาล" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        ตั้งค่าโรงพยาบาล
      </a>
      <!-- <a *ngIf="requisitionMenu" clrVerticalNavLink routerLink="/staff/requisition" title="เบิก" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        เบิก
      </a> -->
      <a *ngIf="requisitionMenu" clrVerticalNavLink routerLink="/staff/requisition-supplies" title="เบิกเวชภัณฑ์" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        เบิกเวชภัณฑ์
      </a>
    </clr-vertical-nav>
  </div>
</div>