<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานจำนวนเตียงผู้ป่วย</span>
</nav>

<br>
<div class="clr-row">
  <!-- <div class="clr-col-3">
    <my-date-picker-th name="dateset" [options]="myDatePickerOptions" [(ngModel)]="dateset" required>
    </my-date-picker-th>
  </div> -->
  <div class="clr-col-12">
    <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button>
    <button class="btn btn-sm btn-success" (click)="doExportCsv()">
      <clr-icon shape="download"></clr-icon>export csv
    </button>
  </div>
</div>

<table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
  <thead>
    <tr>
      <th class="right" style="position: sticky; top: 0;">โรงพยาบาล</th>
      <th class="right" style="position: sticky; top: 0;">AIIR ทั้งหมด</th>
      <th class="right" style="position: sticky; top: 0;">AIIR ใช้ไปแล้ว</th>
      <th class="right" style="position: sticky; top: 0;">Modified AIIR ทั้งหมด</th>
      <th class="right" style="position: sticky; top: 0;">Modified AIIR ใช้ไปแล้ว</th>
      <th class="right" style="position: sticky; top: 0;">Isolate ทั้งหมด</th>
      <th class="right" style="position: sticky; top: 0;">Isolate ใช้ไปแล้ว</th>
      <th class="right" style="position: sticky; top: 0;">Cohort ทั้งหมด</th>
      <th class="right" style="position: sticky; top: 0;">Cohort ใช้ไปแล้ว</th>
      <th class="right" style="position: sticky; top: 0;">Hospitel ทั้งหมด</th>
      <th class="right" style="position: sticky; top: 0;">Hospitel ใช้ไปแล้ว</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of list">
      <td class="left">{{h.hospname}}</td>
      <td class="right">{{h['AIIR_qty'] }}</td>
      <td class="right">{{h['AIIR_usage_qty'] }}</td>
      <td class="right">{{h['Modified AIIR_qty'] }}</td>
      <td class="right">{{h['Modified AIIR_usage_qty'] }}</td>
      <td class="right">{{h['Isolate_qty'] }}</td>
      <td class="right">{{h['Isolate_usage_qty'] }}</td>
      <td class="right">{{h['Cohort_qty'] }}</td>
      <td class="right">{{h['Cohort_usage_qty'] }}</td>
      <td class="right">{{h['Hospitel_qty'] }}</td>
      <td class="right">{{h['Hospitel_usage_qty'] }}</td>
    </tr>
  </tbody>
</table>

<app-loadding #loading></app-loadding>