<nav class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานเตียงรายเขต
    </span>
</nav>

<div style="overflow: auto;">
    <table style="border-collapse: collapse;" class="table table-compact">
        <thead>
            <tr>
                <th rowspan="2" class="td-border"> เขตสุขภาพ </th>
                <th colspan="3" class="td-border"> ระดับ 3 </th>
                <th colspan="3" class="td-border"> ระดับ 2.2 </th>
                <th colspan="3" class="td-border"> ระดับ 2.1 </th>
                <th colspan="3" class="td-border"> ระดับ 1 </th>
                <th colspan="3" class="td-border"> ระดับ 0 </th>
                <th colspan="3" class="td-border"> Home Isolation </th>
                <th colspan="3"> Community Isolation </th>
            </tr>
            <tr>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th> คงเหลือ </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of [].constructor(12); let i = index">
                <td class="td-border"> รวมเขต {{ i + 1 }} </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="td-border"> กรุงเทพมหานคร </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
            </tr>
            <tr>
                <td class="td-border"> รวม 12 เขต </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
            </tr>
            <tr>
                <td class="td-border"> ทั่วประเทศ </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
                <td class="td-border"> 1 </td>
            </tr>
        </tfoot>
    </table>
</div>