<nav
    style="margin-bottom: 16px;"
    class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานเตียงรายเขต
    </span>
</nav>

<div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
        <label style="padding-top: 4px; margin-right: 16px;"> วันที่แสดงข้อมูล </label>
        <div style="width: 200px; margin-right: 16px;">
            <my-date-picker-th
                [(ngModel)]="date"
                [options]="myDatePickerOptions"
                name="dateBedsZone"
                (dateChanged)="selectDate($event)">
            </my-date-picker-th>
        </div>
    </div>
    <button class="btn btn-sm btn-primary" (click)="exportExcel()">
        <clr-icon shape="download"></clr-icon>export excel
    </button>
</div>

<div style="overflow: auto;">
    <table style="border-collapse: collapse;" class="table table-compact">
        <thead>
            <tr>
                <th rowspan="2" class="td-border"> เขตสุขภาพ </th>
                <th colspan="3" class="td-border"> ระดับ 3 ใส่ท่อและเครื่องช่วยหายใจได้ </th>
                <th colspan="3" class="td-border"> ระดับ 2.2 Oxygen high flow </th>
                <th colspan="3" class="td-border"> ระดับ 2.1 Oxygen low flow </th>
                <th colspan="3" class="td-border"> ระดับ 1 ไม่ใช้ Oxygen </th>
                <th colspan="3" class="td-border"> ระดับ 0 Home Isolation (stepdown) </th>
                <th colspan="3" class="td-border">  Home Isolation (New case) </th>
                <th colspan="3"> Community Isolation (New case) </th>
            </tr>
            <tr>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th> คงเหลือ </th>
            </tr>
        </thead>
        <tbody>
            <ng-container >
                <tr *ngFor="let item of items; let i = index">
                    <td class="td-border">
                        <div *ngIf="item.zone_code !== '13'"> รวมเขต {{ item.zone_code }} </div>
                        <div *ngIf="item.zone_code === '13'"> กรุงเทพมหานคร </div>
                    </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> {{ item.high_flow_covid_qty }} </td>
                    <td class="td-border"> {{ item.high_flow_usage_qty }} </td>
                    <td class="td-border"> {{ item.high_flow_covid_qty - item.high_flow_usage_qty }} </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> 0 </td>
                    <td class="td-border"> {{ item.home_isolation_covid_qty }} </td>
                    <td class="td-border"> {{ item.home_isolation_usage_qty }} </td>
                    <td class="td-border"> {{ item.home_isolation_covid_qty - item.home_isolation_usage_qty }} </td>
                    <td class="td-border"> {{ item.community_isolation_covid_qty }} </td>
                    <td class="td-border"> {{ item.community_isolation_usage_qty }} </td>
                    <td> {{ item.community_isolation_covid_qty - item.community_isolation_usage_qty }} </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot *ngIf="items.length">
            <tr>
                <td class="td-border"> รวม 12 เขต </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'high_flow_covid_qty') }} </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'high_flow_usage_qty') }} </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'high_flow_covid_qty') - cal.sum12Zone(items, 'high_flow_usage_qty') }} </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'home_isolation_covid_qty') }} </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'home_isolation_usage_qty') }} </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'home_isolation_covid_qty') - cal.sum12Zone(items, 'home_isolation_usage_qty') }} </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'community_isolation_covid_qty') }} </td>
                <td class="td-border"> {{ cal.sum12Zone(items, 'community_isolation_usage_qty') }} </td>
                <td> {{ cal.sum12Zone(items, 'community_isolation_covid_qty') - cal.sum12Zone(items, 'community_isolation_usage_qty') }} </td>
            </tr>
            <tr>
                <td class="td-border"> ทั่วประเทศ </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'high_flow_covid_qty') }} </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'high_flow_usage_qty') }} </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'high_flow_covid_qty') - cal.sumAllZone(items, 'high_flow_usage_qty') }} </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'home_isolation_covid_qty') }} </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'home_isolation_usage_qty') }} </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'home_isolation_covid_qty') - cal.sumAllZone(items, 'home_isolation_usage_qty') }} </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'community_isolation_covid_qty') }} </td>
                <td class="td-border"> {{ cal.sumAllZone(items, 'community_isolation_usage_qty') }} </td>
                <td> {{ cal.sumAllZone(items, 'community_isolation_covid_qty') - cal.sumAllZone(items, 'community_isolation_usage_qty') }} </td>
            </tr>
        </tfoot>
    </table>
</div>

<div
    *ngIf="isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    กำลังโหลดข้อมูล ...
</div>

<div
    *ngIf="!isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    ไม่พบข้อมูล
</div>

<app-loadding #loading></app-loadding>
