<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-restock">เติมเวชภัณฑ์</a>
</nav>
<div class="clr-row">
  <div class="clr-col-3">
    <button class="btn btn-sm btn-success" (click)="clickCreate()" title="สร้าง">
      <clr-icon shape="add"></clr-icon> สร้างรายการเติมของ
    </button>
    <button class="btn btn-sm btn-success" (click)="payNow()" title="จ่ายด่วน">
      <clr-icon shape="fast-forward"></clr-icon> จ่ายด่วน
    </button>
  </div>
  <div class="clr-col-9">
    <button style="float: right;" class="btn btn-lg btn-success btn-outline" (click)="approved()"
      [disabled]="!selected.length || isSave" title="อนุมัติ">
      <clr-icon shape="check"></clr-icon> อนุมัติ
    </button>
  </div>
</div>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1" (click)="getRestock()">รายการเติม</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800" [(clrDgSelected)]="selected"
        [clrDgRowSelection]="true">
        <clr-dg-column>#</clr-dg-column>
        <clr-dg-column>วันที่สร้าง</clr-dg-column>
        <clr-dg-column>เลขที่</clr-dg-column>
        <!-- <clr-dg-column>สถานะการส่ง</clr-dg-column> -->
        <clr-dg-column></clr-dg-column>

        <clr-dg-row *clrDgItems="let l of list; let idx=index;" [clrDgItem]="l">
          <clr-dg-cell>{{idx+1}}</clr-dg-cell>
          <clr-dg-cell>{{l.created_at | dateTh:'DD/MM/YYYY hh:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{l.code}}</clr-dg-cell>
          <!-- <clr-dg-cell>{{l.status}}</clr-dg-cell> -->
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group">
              <button class="btn btn-sm btn-success" (click)="onClickEdit(l)" title="แก้ไข">
                <clr-icon shape="note"></clr-icon>
              </button>
              <button class="btn btn-sm btn-warning" (click)="onClickDeleted(l)" title="ลบ">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="limit">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink (click)="getRestockApproved()">รายการอนุมัติเติม</button>
    <clr-tab-content *clrIfActive>
      <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
        <clr-dg-column>#</clr-dg-column>
        <clr-dg-column>วันที่สร้าง</clr-dg-column>
        <clr-dg-column>เลขที่</clr-dg-column>
        <clr-dg-column>สถานะการส่ง</clr-dg-column>

        <clr-dg-row *ngFor="let l of listApproved; let idx=index;">
          <clr-dg-cell>{{idx+1}}</clr-dg-cell>
          <clr-dg-cell>{{l.created_at | dateTh:'DD/MM/YYYY hh:mm'}}</clr-dg-cell>
          <clr-dg-cell>{{l.code}}</clr-dg-cell>
          <clr-dg-cell>
            <button class="btn btn-sm btn-icon btn-primary" style="margin: 0;" (click)="export(l.id)">
              <clr-icon shape="download"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgTotalItems]="totalApproved" [clrDgPageSize]="limit">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
