<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/staff/requisition-supplies">การใช้เวชภัณฑ์</a> -->
  <span class="breadcrumb-item active">ตั้งค่าเครื่องมือทางการแพทย์</span>
</nav>

<clr-datagrid [clrDgLoading]="isLoading">
  <clr-dg-column>ประเภทเครื่องมือทางการแพทย์</clr-dg-column>
  <clr-dg-column>จำนวนเครื่องมือทางการแพทย์ทั้งหมด</clr-dg-column>
  <clr-dg-column>สำหรับผู้ป่วย Covid</clr-dg-column>
  <clr-dg-column>จำนวนเครื่องมือทางการแพทย์ที่ใช้</clr-dg-column>

  <clr-dg-row *clrDgItems="let l of list; let idx=index;">
    <clr-dg-cell>{{l.name}}</clr-dg-cell>
    <clr-dg-cell><input class="clr-input width-fit" style="text-align: right;" type="text" appNumberOnly
        name="{{l.qty}}" [(ngModel)]="l.qty">
    </clr-dg-cell>
    <clr-dg-cell><input class="clr-input width-fit" style="text-align: right;" type="text" appNumberOnly
        name="{{l.qty}}" [(ngModel)]="l.covid_qty"></clr-dg-cell>
    <clr-dg-cell style="float: right;">
      <label for="" style="float: right;">{{l.usage_qty}}</label>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination>
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<br>
<button class="btn btn-success btn-block" (click)="onClickSave()" [disabled]="isSave">บันทึก</button>