<nav
    style="margin-bottom: 16px;"
    class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานเตียงรายสถานพยาบาล
    </span>
</nav>

<div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
        <div style="width: 200px; margin-right: 24px;">
            <label> วันที่แสดงข้อมูล </label>
            <my-date-picker-th
                [(ngModel)]="date"
                [options]="myDatePickerOptions"
                name="dateBedsHospital"
                (dateChanged)="selectDate($event)">
            </my-date-picker-th>
        </div>
        <div style="width: 200px; margin-right: 24px;">
            <label> เขตสุขภาพ </label>
            <div class="clr-select-wrapper" style="width: 100%;">
                <select
                    [(ngModel)]="zone"
                    name="zoneBedsHospital"
                    style="width: 100%;"
                    class="clr-select"
                    (change)="selectZone()">
                    <option value="">เลือกเขต</option>
                    <option *ngFor="let item of [].constructor(13); let i = index" [value]="i + 1">
                        เขต {{ i + 1 }}
                    </option>
                </select>
            </div>
        </div>
        <div style="width: 200px;">
            <label> จังหวัด </label>
            <div class="clr-select-wrapper" style="width: 100%;">
                <select
                    [(ngModel)]="displayProvince"
                    name="provinceBedsHospital"
                    style="width: 100%;"
                    class="clr-select"
                    readonly="true"
                    (click)="setSelectMultiProvince()">
                    <option style="display: none;" value=""> เลือกจังหวัด </option>
                    <option
                        [selected]="provinceGroup.length"
                        style="display: none;">
                        <div *ngIf="provinceGroup.length === 1">
                            {{ provinceGroup[0] }}
                        </div>
                        <div *ngIf="provinceGroup.length > 1">
                            {{ provinceGroup[0] + ' + ' + '( ' + ( provinceGroup.length - 1 ) + ' )' }}
                        </div>
                    </option>
                </select>
                <div
                    *ngIf="isSelectProvince"
                    class="beds-hospital__select-menu">
                    <clr-checkbox-wrapper *ngFor="let province of provinces; let i = index">
                        <input
                            [value]="province"
                            [checked]="checkProvince(province)"
                            type="checkbox"
                            clrCheckbox
                            (change)="selectProvince($event.target.value)" />
                        <label> {{ province }} </label>
                    </clr-checkbox-wrapper>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 16px;">
        <button class="btn btn-sm btn-primary" (click)="exportExcel()">
            <clr-icon shape="download"></clr-icon>export excel
        </button>
    </div>
</div>

<div style="overflow: auto;">
    <table style="border-collapse: collapse;" class="table table-compact">
        <thead>
            <tr>
                <th rowspan="2" class="td-border"> เขตสุขภาพ </th>
                <th rowspan="2" class="td-border"> จังหวัด </th>
                <th rowspan="2" class="td-border"> รหัสโรงพยาบาล </th>
                <th rowspan="2" class="td-border">
                    <div style="min-width: 200px;">
                        โรงพยาบาล
                    </div>
                </th>
                <th rowspan="2" class="td-border"> ระดับขีดความสามารถ </th>
                <th colspan="3" class="td-border"> ระดับ 3 ใส่ท่อและเครื่องช่วยหายใจได้ </th>
                <th colspan="3" class="td-border"> ระดับ 2.2 Oxygen high flow </th>
                <th colspan="3" class="td-border"> ระดับ 2.1 Oxygen low flow </th>
                <th colspan="3" class="td-border"> ระดับ 1 ไม่ใช้ Oxygen </th>
                <th colspan="3" class="td-border"> ระดับ 0 Home Isolation (stepdown) </th>
                <th colspan="3" class="td-border"> Home Isolation (New case) </th>
                <th colspan="3" class="td-border"> Community Isolation (New case) </th>
                <th rowspan="2"> หน่วยงาน </th>
            </tr>
            <tr>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
                <th class="td-border"> ทั้งหมด </th>
                <th class="td-border"> ใช้ไป </th>
                <th class="td-border"> คงเหลือ </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <td class="td-border"> {{ item.zone_code }} </td>
                <td class="td-border"> {{ item.province_name }} </td>
                <td class="td-border"> {{ item.hospcode }} </td>
                <td class="td-border"> {{ item.hospname }} </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td class="td-border"> 0 </td>
                <td> 0 </td>
            </tr>
        </tbody>
    </table>
</div>

<div
    *ngIf="isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    กำลังโหลดข้อมูล ...
</div>

<div
    *ngIf="!isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    ไม่พบข้อมูล
</div>

<app-loadding #loading></app-loadding>
