<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/staff/requisition-supplies">การใช้เวชภัณฑ์</a> -->
  <span class="breadcrumb-item active">บันทึกความต้องการสินค้า</span>
</nav>
<div class="clr-row">
  <div class="clr-col-3">
    <div class="clr-row">
      <div class="clr-col-12">
        <button class="btn btn-sm btn-success" [routerLink]="['/staff/request-products/new']" routerLinkActive="router-link-active"  [disabled]="isSave">
          <clr-icon shape="plus"></clr-icon> เพิ่มรายการ
        </button>
      </div>
    </div>
  </div>
  <div class="clr-col-9">
    <h4 *ngIf="date != null">บันทึกข้อมูลประจำวันที่ {{date | dateTh:'DD/MM/YYYY'}}</h4>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <clr-datagrid [clrDgLoading]="loading" [style.height.px]="700">
      <clr-dg-column>วันที่</clr-dg-column>
      <clr-dg-column>ชื่อผู้บันทึก</clr-dg-column>

      <clr-dg-row *ngFor="let l of list; let idx=index;" (click)="getListDetail(l.id);listId=l.id;"
        [ngClass]="{ 'isSuccess': l.id == listId }">
        <clr-dg-cell>
          <label for="" *ngIf="l.update_date == null">
            {{l.create_date | dateTh:'DD/MM/YYYY hh:mm'}}
          </label>
          <label for="" *ngIf="l.update_date != null">
            {{l.update_date | dateTh:'DD/MM/YYYY hh:mm'}}
          </label>
        </clr-dg-cell>
        <clr-dg-cell>{{l.name}}{{l.fname}} {{l.lname}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>

  </div>

</div>

<app-loadding #loading></app-loadding>