<div class="clr-row">
  <div class="clr-col-2">
    <button class="btn btn-sm btn-success" (click)="onClickAdd()">
      <clr-icon shape="plus"></clr-icon> เพิ่มรายการ
    </button>
  </div>
  <div class="clr-col-1">
    ค้นหา :
  </div>
  <div class="clr-col-3">
    <input class="clr-input width-fit" (keyup)="doEnter($event)" name="query" [(ngModel)]="query" placeholder="Enter เพื่อค้นหา" />
  </div>
</div>

<clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
  <clr-dg-column>#</clr-dg-column>
  <clr-dg-column>รหัสเวชภัณฑ์</clr-dg-column>
  <clr-dg-column>รายการ</clr-dg-column>
  <clr-dg-column>หน่วย</clr-dg-column>
  <clr-dg-column>หมายเหตุ</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index;">
    <clr-dg-cell>{{idx+1}}</clr-dg-cell>
    <clr-dg-cell>{{l.code}}</clr-dg-cell>
    <clr-dg-cell>{{l.name}}</clr-dg-cell>
    <clr-dg-cell>{{l.unit}}</clr-dg-cell>
    <clr-dg-cell>{{l.remark}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group">
        <button class="btn btn-sm btn-success" (click)="onClickEdit(l)" title="แก้ไข">
          <clr-icon shape="note"></clr-icon>
        </button>
        <button class="btn btn-sm btn-danger" (click)="onClickRemove(l)" title="ลบ">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="limit">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="modal" [clrModalClosable]="false">
  <h3 class="modal-title">เพิ่ม/แก้ไข เวชภัณฑ์</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">
        <div class="clr-form clr-form-compact clr-row">
          <label class="clr-control-label clr-col-3">รหัสเวชภัณฑ์</label>
          <input type="text" name="code" [(ngModel)]="code" class="clr-col-9 clr-input width-fit">
        </div>
      </div>
      <div class="clr-col-12">
        <div class="clr-form clr-form-compact clr-row">
          <label class="clr-control-label clr-col-3">ชื่อเวชภัณฑ์</label>
          <input type="text" name="name" [(ngModel)]="name" class="clr-col-9 clr-input width-fit">
        </div>
      </div>
      <div class="clr-col-12">
        <div class="clr-form clr-form-compact clr-row">
          <label class="clr-control-label clr-col-3">หน่วย</label>
          <input type="text" name="unit" [(ngModel)]="unit" class="clr-col-9 clr-input width-fit">
        </div>
      </div>
      <div class="clr-col-12">
        <div class="clr-form clr-form-compact clr-row">
          <label class="clr-control-label clr-col-3">หมายเหตุ</label>
          <input type="text" name="remark" [(ngModel)]="remark" class="clr-col-9 clr-input width-fit">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="!name || !code || !unit" (click)="save()" [disabled]="isSave">
      บันทึก
    </button>
    <button type="button" class="btn btn-danger" (click)="modal = false">
      ปิด
    </button>
  </div>
</clr-modal>