<nav class="breadcrumb">
    <span class="breadcrumb-item active">รายงานผู้ป่วย ADMIT ทั้งหมด</span>
</nav>
<div class="clr-row">
    <div class="clr-col-12" style="text-align: right;">
        <button class="btn btn-sm btn-success" (click)="doExportExcel()">
      Export
    </button>
    </div>
</div>
<!-- ข้อมูล ณ​ {{dataDate1 | dateTh:'DD/MM/YYYY hh:mm'}} -->
<table class="table table-compact" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th class="text-left td-border">เขต</th>
            <th class="text-left td-border">รวม</th>
            <th class="text-left td-border">pui</th>
            <th class="text-left td-border">atk</th>
            <th class="text-left td-border">ระดับ 3 ใส่ท่อและเครื่องช่วยหายใจได้</th>
            <th class="text-left td-border">ระดับ 2.2 Oxygen high flow</th>
            <th class="text-left td-border">ระดับ 2.1 Oxygen low flow</th>
            <th class="text-left td-border">ระดับ 1 ไม่ใช้ Oxygen</th>
            <th class="text-left td-border">ระดับ 0 Home Isolation (stepdown)</th>
            <th class="text-left td-border">Home Isolation (New case)</th>
            <th class="text-left td-border">Community Isolation (New case)</th>
            <th class="text-left td-border">invasive</th>
            <th class="text-left td-border">noninvasive</th>
            <th class="text-left td-border">high flow</th>
            <th class="text-left td-border">Favipiravir</th>
            <th class="text-left td-border">Casirivimab and imdevimab</th>
            <th class="text-left td-border">Molnupiravir</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of summary; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
            <td class="text-left td-border">{{+l.zone_code}}</td>
            <td class="text-right td-border">{{+l.pui+ +l.atk || 0}}</td>
            <td class="text-right td-border">{{l.pui || 0}}</td>
            <td class="text-right td-border">{{l.atk || 0}}</td>
            <td class="text-right td-border"> {{l.lv3 || 0}}</td>
            <td class="text-right td-border"> {{l.lv22 || 0}}</td>
            <td class="text-right td-border"> {{l.lv21 || 0}}</td>
            <td class="text-right td-border"> {{l.lv1 || 0}}</td>
            <td class="text-right td-border"> {{l.lv0 || 0}}</td>
            <td class="text-right td-border"> {{l.home_isolation || 0}}</td>
            <td class="text-right td-border"> {{l.community_isolation || 0}}</td>
            <td class="text-right td-border"> {{l.invasive || 0}}</td>
            <td class="text-right td-border"> {{l.noninvasive || 0}}</td>
            <td class="text-right td-border"> {{l.high_flow || 0}}</td>
            <td class="text-right td-border">{{l.d8 || 0}}</td>
            <td class="text-right td-border">{{l.d26 || 0}}</td>
            <td class="text-right td-border">{{l.d27 || 0}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-left td-border">รวม</td>
            <td class="text-right td-border">{{total}}</td>
            <td class="text-right td-border"> {{lv3}}</td>
            <td class="text-right td-border"> {{lv22}}</td>
            <td class="text-right td-border"> {{lv21}}</td>
            <td class="text-right td-border"> {{lv1}}</td>
            <td class="text-right td-border"> {{lv0}}</td>
            <td class="text-right td-border"> {{homeIsolation}}</td>
            <td class="text-right td-border"> {{communityIsolation}}</td>
            <td class="text-right td-border"> {{invasive || 0}}</td>
            <td class="text-right td-border"> {{noninvasive || 0}}</td>
            <td class="text-right td-border"> {{highFlow || 0}}</td>
            <td class="text-right td-border">{{d8 || 0}}</td>
            <td class="text-right td-border">{{d26 || 0}}</td>
            <td class="text-right td-border">{{d27 || 0}}</td>

        </tr>
    </tfoot>
</table>
<br>
<div style="overflow-y:auto;height:700px">
    ข้อมูล ณ​ {{dataDate2 | dateTh:'DD/MM/YYYY hh:mm'}}
    <table class="table table-compact" style="position: relative; border-collapse: collapse;">
        <thead>
            <tr>
                <th class="text-left td-border" style="position: sticky; top: 0;">เขต</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">จังหวัด</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">โรงพยาบาล</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">HN/AN</th>
                <th class="text-left td-border" *ngIf='showPersons' style="position: sticky; top: 0;">CID</th>
                <th class="text-left td-border" *ngIf='showPersons' style="position: sticky; top: 0;">ชื่อ</th>
                <th class="text-left td-border" *ngIf='showPersons' style="position: sticky; top: 0;">นามสกุล</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">SAT ID</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">วันที่ ADMIT</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">ความรุนแรง</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">เตียง</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">เครื่องช่วยหายใจ</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">วันที่บันทึกล่าสุด</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">ไม่ได้บันทึกมา</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">Favipiravi</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">Casirivimab and imdevimab</th>
                <th class="text-left td-border" style="position: sticky; top: 0;">Molnupiravir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of list; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
                <td class="text-left td-border">{{+l.zone_code}}</td>
                <td class="text-left td-border">{{l.province_name}}</td>
                <td class="text-left td-border">{{l.hospname}}</td>
                <td class="text-left td-border"> {{l.hn}}/{{l.an}}</td>
                <td class="text-left td-border" *ngIf='showPersons'> {{l.cid}}</td>
                <td class="text-left td-border" *ngIf='showPersons'> {{l.first_name}}</td>
                <td class="text-left td-border" *ngIf='showPersons'> {{l.last_name}}</td>
                <td class="text-left td-border"> {{l.sat_id}}</td>
                <td class="text-left td-border"> {{l.date_admit | dateTh:'DD/MM/YYYY'}}</td>
                <td class="text-left td-border"> {{l.gcs_name}}</td>
                <td class="text-left td-border"> {{l.bed_name}}</td>
                <td class="text-left td-border"> {{l.medical_supplies_name}}</td>
                <td class="text-left"> {{l.updated_entry_last| dateTh:'DD/MM/YYYY'}}</td>
                <td class="text-right td-border"> {{l.days}} วัน</td>
                <!-- <td class="text-right td-border">
          <clr-icon shape="times" class="is-error" *ngIf='!l.d1 || l.d1 == 0'></clr-icon>
          <clr-icon shape="check" class="is-success" *ngIf='l.d1 > 0'></clr-icon>
        </td>
        <td class="text-right td-border">
          <clr-icon shape="times" class="is-error" *ngIf='!l.d2 || l.d2 == 0'></clr-icon>
          <clr-icon shape="check" class="is-success" *ngIf='l.d2 > 0'></clr-icon>
        </td> -->
               
            
                <td class="text-right td-border">
                    <clr-icon shape="times" class="is-error" *ngIf='!l.d8 || l.d8 == 0'></clr-icon>
                    <clr-icon shape="check" class="is-success" *ngIf='l.d8 > 0'></clr-icon>
                </td>
                <td class="text-right td-border">
                    <clr-icon shape="times" class="is-error" *ngIf='!l.d26 || l.d26 == 0'></clr-icon>
                    <clr-icon shape="check" class="is-success" *ngIf='l.d26 > 0'></clr-icon>
                </td>
                <td class="text-right td-border">
                    <clr-icon shape="times" class="is-error" *ngIf='!l.d27 || l.d27 == 0'></clr-icon>
                    <clr-icon shape="check" class="is-success" *ngIf='l.d27 > 0'></clr-icon>
                </td>
            </tr>
            <!-- <tr>
        <td class="text-left td-border">รวม</td>
        <td class="text-left td-border">{{l.province_name}}</td>
        <td class="text-left td-border">{{l.hospname}}</td>
        <td class="text-left td-border"> {{l.hn}}</td>
        <td class="text-left td-border"> {{l.date_admit | dateTh:'DD/MM/YYYY'}}</td>
        <td class="text-left td-border"> {{l.gcs_name}}</td>
        <td class="text-left td-border"> {{l.bed_name}}</td>
        <td class="text-left td-border"> {{l.medical_supplies_name}}</td>
        <td class="text-left"> {{l.updated_entry_last| dateTh:'DD/MM/YYYY'}}</td>
        <td class="text-right td-border"> {{l.days}} วัน</td>
      </tr> -->
        </tbody>
        <tfoot>
            <tr>
                <td colspan="15">{{list.length | number:'1.0-0' }} รายการ</td>
            </tr>
        </tfoot>
    </table>
</div>
<app-loadding #loading></app-loadding>