<!-- <iframe width="100%" height="1000" *ngIf="url" [src]="url"></iframe> -->

<div class="clr-row">
	<div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
		<div class="card">
			<div class="card-header">

			</div>
			<div class="card-block">
				<div class="card-title">
				</div>
				<div class="card-text" style="text-align:center;">
					<h2 *ngIf="alertBed">โรงพยาบาลของคุณยังไม่ตั้งค่าเตียง!!!</h2>
					<h3 *ngIf="alertBed" (click)="goToBed()"><a>ไปที่เมนูตั้งค่าเตียงทันที</a></h3>

						<br>
					<img src="https://sv1.picz.in.th/images/2021/01/07/l3KKd9.jpg" style="width:70%" alt="">
					<h4>ระบบมีการปรับปรุงเมนู "บันทึกผู้ป่วยใหม่" เพื่อรองรับสถานการณ์ COVID-19 ในระยะที่ 2 ดังนี้</h4>

					<h4>การบันทึกผู้ป่วยใหม่ ก่อนเข้าสู่หน้าจอบันทึกข้อมูลผู้ป่วยจะมีการแบ่งผู้ป่วยออกเป็น 2 ประเภท คือ</h4>
					<h4>1.ผู้ป่วยอยู่ในประเทศ</h4>
					<h4>2.ผู้ป่วยกลับจากต่างประเทศ</h4>

					<h4>หลังจากนั้นจะเป็นการเลือกว่าเป็นผู้ป่วยคนไทย หรือคนต่างชาติ และ เลือกสถานะ โดยจะมี</h4>
					<h4>1. IP_PUI = ผู้ป่วย admit รอผลตรวจ</h4>
					<h4>2.COVID = ผู้ป่วย admit ผลคอนเฟิร์มเป็น +</h4>
					<h4>3.HQ/AHQ = ผู้ป่วยโรคอื่น ต้องการมารักษาในไทย (กรณีเป็นผู้ป่วยกลับจากต่างประเทศ)</h4>

					<h4>กรณีเป็นผู้ป่วยกลับจากต่างประเทศ หน้าจอการบันทึกข้อมูลผู้ป่วย จะมีการเพิ่มเติม "ข้อมูลการกลับจากต่างประเทศ"
						<br>โดยเลือกว่า ซึ่งสามารถคีย์อาการของผู้ป่วย และคีย์ค้นหารหัส ICD10 ได้</h4>

						<h2>ระบบจะประมวลผลทุก 23:00น กรุณาบันทึกก่อน 23.00น.</h2>
					<h2 *ngIf="list.length > 0" style="color: red;">โรงพยาบาลของท่านมีผู้ป่วยที่ข้อมูลไม่ครบถ้วน {{list.length || 0}}
						ราย <a href="javascript://" routerLink="/staff/covid-case-update">คลิกเพื่อกรอกข้อมูล</a></h2>
					<h3>คู่มือ </h3>
					<a href="https://drive.google.com/drive/folders/13C86_2bF7jYdkpx_u0r0mAgSfGX3Pak9?usp=sharing">https://drive.google.com/drive/folders/13C86_2bF7jYdkpx_u0r0mAgSfGX3Pak9?usp=sharing</a>
					<h3>คำถามที่พบบ่อย </h3>
					<a href="https://ops.moph.go.th/public/uploads/files/pdf/Q-A_COward.pdf">https://ops.moph.go.th/public/uploads/files/pdf/Q-A_COward.pdf</a>
					<br>
					<br>
					<br>
					<br>
					<img src="./assets/qrcode.jpg" alt="" width="10%;">
					สแกน QRCODE สำหรับติดต่อสอบถามแจ้งปัญหา
					<br>
					<!-- <a href="https://line.me/ti/g2/Tu4N72FlOK24W6miKYwg5g?utm_source=invitation&utm_medium=link_copy&utm_campaign=default">
                        https://line.me/ti/g2/Tu4N72FlOK24W6miKYwg5g?utm_source=invitation&utm_medium=link_copy&utm_campaign=default
                    </a> -->
					<br>
					<h3>*** กรุณาตั้งชื่อไลน์ Open chat ตามรูปแบบให้ถูกต้อง รหัสโรงพยาบาล-ชื่อ เช่น 41124-ป๊อด</h3>
					<!-- <h2>ระบบจะเคลียข้อมูลที่ทดสอบทั้งหมดวันอาทิตย์ที่ 19 เมษายน 63 เวลา 23:59น.</h2> -->
					<!-- 1.Severe คือ มีอาการรุนแรงที่ต้องช่วยการหายใจชั้นสูง (HFNC, NIV, invasive mechanical ventilation)
                    หรือ ต้องได้รับ other organs support
                    <br>
                    2.Moderate คือ มีอาการรุนแรงปานกลาง มีปัจจัยเสี่ยงโรครุนแรง และ ลักษณะทางคลินิกรุนแรง
                    <br>
                    3.Mild คือ มีอาการไม่รุนแรง ไม่มีปัจจัยเสี่ยงโรครุนแรง และ ไม่ลักษณะทางคลินิกรุนแรง
                    <br>
                    4.Asymptomatic คือ ผู้ป่วยติดเชื้อที่ไม่มีอาการ
                    <br>
                    5.IP_PUI คือ ผู้สงสัยติดเชื้อที่เข้าเกณฑ์สอบสวนโรค

                    <br>
                    <br>
                    1.AIIR คือ negative pressure room ที่พร้อมเป็น ICU
                    <br>
                    2.mAIIR คือ negative pressure room ที่ไม่มี anti-room ไม่พร้อมปรับเป็น ICU
                    <br>
                    3.Isolate คือ ห้องแยกโรคทั่วไป
                    <br>
                    4.Cohort คือ ห้องรวมที่รับผู้ป่วยยืนยันพบเชื้อไวรัส (นับจำนวนเตียง)
                    <br>
                    5.hospitel (สำหรับ รพ สนามเท่านั้น) คือ ห้องพักเดี่ยวในสถานที่ที่จัดไว้นอกโรงพยาบาล

                    <br>
                    <br>
                    1.Invasive ventilator คือ เครื่องช่วยหายใจปรับความดันโดยการใส่ท่อหายใจ เช่น volume ventilator หรือ
                    Bird ventilator
                    <br>
                    2.Non invasive ventilator คือ เครื่องช่วยหายใจปรับความดันโดยไม่ใส่ท่อช่วยหายใจ เช่น CPAP, BIPAP
                    <br>
                    3.High Flow คือเครื่องมือที่ให้ออกซิเจน อัตราไหลสูง -->
				</div>
			</div>
			<div class="card-footer">
				<!-- <button class="btn btn-sm btn-link">Footer Action 1</button>
                <button class="btn btn-sm btn-link">Footer Action 2</button> -->
			</div>
		</div>
	</div>
</div>