<nav
    style="margin-bottom: 16px;"
    class="breadcrumb">
    <span class="breadcrumb-item active">
        รายงานผู้ป่วย สะสม + วันนี้
    </span>
</nav>

<div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
        <label style="padding-top: 4px; margin-right: 16px;"> วันที่แสดงข้อมูล </label>
        <div style="width: 200px;">
            <my-date-picker-th
                [(ngModel)]="date"
                [options]="myDatePickerOptions"
                name="dateSumDaily">
            </my-date-picker-th>
        </div>
    </div>
    <button class="btn btn-sm btn-primary" (click)="exportExcel()">
        <clr-icon shape="download"></clr-icon>export excel
    </button>
</div>

<div style="overflow-x: auto;">
    <table style="border-collapse: collapse;" class="table table-compact">
        <thead>
            <tr>
                <th rowspan="2" class="td-border"> เขตสุขภาพ </th>
                <th rowspan="2" class="td-border"> จังหวัด </th>
                <th rowspan="2" class="td-border"> รหัสโรงพยาบาล </th>
                <th rowspan="2" class="td-border"> โรงพยาบาล </th>
                <th colspan="4" class="td-border"> Positive ยอดสะสม </th>
                <th colspan="4" class="td-border"> PUI ยอดสะสม </th>
                <th colspan="4" class="td-border"> Positive วันนี้ </th>
                <th colspan="4" class="td-border"> PUI วันนี้ </th>
                <th rowspan="2"> หน่วยงาน </th>
            </tr>
            <tr>
                <th class="td-border"> Admit </th>
                <th class="td-border"> Discharge รวมสะสม </th>
                <th class="td-border"> Discharge ส่ง Hospital </th>
                <th class="td-border"> Discharge ตายสะสม </th>
                <th class="td-border"> Admit </th>
                <th class="td-border"> Discharge รวมสะสม </th>
                <th class="td-border"> Discharge ส่ง Hospital </th>
                <th class="td-border"> Discharge ตายสะสม </th>
                <th class="td-border"> Admit </th>
                <th class="td-border"> Discharge รวมสะสม </th>
                <th class="td-border"> Discharge ส่ง Hospital </th>
                <th class="td-border"> Discharge ตายสะสม </th>
                <th class="td-border"> Admit </th>
                <th class="td-border"> Discharge รวมสะสม </th>
                <th class="td-border"> Discharge ส่ง Hospital </th>
                <th class="td-border"> Discharge ตายสะสม </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td class="td-border"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div
    *ngIf="isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    กำลังโหลดข้อมูล ...
</div>

<div
    *ngIf="!isLoading && !items.length"
    style="display: flex; justify-content: center; padding: 24px;">
    ไม่พบข้อมูล
</div>

<app-loadding #loading></app-loadding>
