<nav class="breadcrumb">
  <span class="breadcrumb-item active">รายงานการแจ้งจำนวนผู้ป่วยเพื่อเบิกเวชภัณฑ์​สิ้นเปลืองประจำวัน</span>
</nav>
<br>
<div class="clr-row">
  <div class="clr-col-4">
    <!-- รายงานจำนวนเตียงผู้ป่วย ณ วันที่ {{date | dateTh:'D MMM YYYY'}} -->
    <my-date-picker-th name="date" [options]="myDatePickerOptions" [(ngModel)]="date" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-1">
    <button class="btn btn-sm btn-primary" (click)="doEnter()">
      <clr-icon shape="search"></clr-icon>
    </button>
  </div>
  <div class="clr-col-7" style="text-align: right;">
    <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button>
    <!-- <button class="btn btn-sm btn-success" (click)="doExportCsv()">
          <clr-icon shape="download"></clr-icon>export csv
        </button> -->
  </div>
</div>

<table class="table table-compact" style="position: relative; border-collapse: collapse; font-size: 5rem;">
  <tr>
    <th rowspan="2" class="right" style="position: sticky; top: 0; border-right: 1px gray solid;">โรงพยาบาล</th>
    <th colspan="4" class="right" style="position: sticky; top: 0; border-right: 1px gray solid;">ผู้ป่วยยืนยัน (Confirm Case)</th>
    <th rowspan="2" class="right" style="position: sticky; top: 0; border-right: 1px gray solid;">ผู้ป่วยเข้าเกณฑ์สงสัย PUI</th>
    <th rowspan="2" class="right" style="position: sticky; top: 0;">หน่วยงาน</th>
  </tr>
  <tr>
    <th class="right" style="position: sticky; top: 0; border-right: 1px gray solid;">อาการรุนแรง <br> (Severe Case)</th>
    <th class="right" style="position: sticky; top: 0; border-right: 1px gray solid;">อาการรุนแรงปานกลาง <br> (Moderate Case)</th>
    <th class="right" style="position: sticky; top: 0; border-right: 1px gray solid;">อาการไม่รุนแรง <br> (Mild Case)</th>
    <th class="right" style="position: sticky; top: 0;">ผู้ป่วยผลบวกไม่มีอาการ <br> (Asymptomatic)</th>
  </tr>
  <tr>
    <td class="left" style="border-right: 1px gray solid;">รวม</td>
    <td class="right" style="border-right: 1px gray solid;">{{sum['severe']}}</td>
    <td class="right" style="border-right: 1px gray solid;">{{sum['moderate']}}</td>
    <td class="right" style="border-right: 1px gray solid;">{{sum['mild']}}</td>
    <td class="right" style="border-right: 1px gray solid;">{{sum['asymptomatic']}}</td>
    <td class="right" style="border-right: 1px gray solid;">{{sum['ip_pui']}}</td>
    <td class="right"></td>
  </tr>
  <tr *ngFor="let h of list; let idx=index;" [ngClass]="{isWarning: idx % 2 === 0}">
    <td class="left" style="border-right: 1px gray solid;">{{h.hospname}}</td>
    <td class="right" style="border-right: 1px gray solid;">{{h['severe'] }}</td>
    <td class="right" style="border-right: 1px gray solid;">{{h['moderate'] }}</td>
    <td class="right" style="border-right: 1px gray solid;">{{h['mild'] }}</td>
    <td class="right" style="border-right: 1px gray solid;">{{h['asymptomatic'] }}</td>
    <td class="right" style="border-right: 1px gray solid;">{{h['ip_pui'] }}</td>
    <td class="right">{{h['hosp_sub_min_name'] }}</td>
  </tr>
</table>

<app-loadding #loading></app-loadding>