<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานจำนวนเวชภัณฑ์</span>
</nav>

<br>

<div class="clr-row">
  <div class="clr-col-2">วันที่แสดงข้อมูล</div>
  <div class="clr-col-2">
    <my-date-picker-th name="date" [options]="myDatePickerOptions" (dateChanged)="onChangeDate($event)" [(ngModel)]="date"
      required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-8">
    <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-8"><span class="required">*</span> หมายเหตุ หากดูรายงานวันปัจจุบัน ข้อมูลอาจเปลี่ยนแปลง
    เพราะรพ.สามารถแก้ไขข้อมูลในวันปัจจุบันได้
  </div>
</div>

<div *ngFor="let l of list">
  <h4> {{l.provinces == 1 ? '' : 'เขต '+l.name}}</h4>
  <table class="table" *ngFor="let p of l.provinces">
    <thead>
      <tr>
        <th colspan="12" style="text-align: left;">
          <h3>{{p.province_name}}</h3>
        </th>
      </tr>
      <tr>
        <th class="right">โรงพยาบาล</th>
        <th class="right">วันที่บันทึกล่าสุด</th>
        <th class="right">Surgical Gown</th>
        <th class="right">Cover All-1</th>
        <th class="right">Cover All-2</th>
        <th class="right">N95</th>
        <th class="right">Shoe Cover</th>
        <th class="right">Surgical hood</th>
        <th class="right">Long glove</th>
        <th class="right">Face shield</th>
        <th class="right">Surgical Mask</th>
        <th class="right">Powered air-purifying respirator</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of p.hospitals">
        <td class="left">{{h.hospname}}</td>
        <td class="left">{{h.date | dateTh:'DD/MM/YYYY'}}</td>
        <td class="right">{{h['9'] }}</td>
        <td class="right">{{h['10']}}</td>
        <td class="right">{{h['11']}}</td>
        <td class="right">{{h['12']}}</td>
        <td class="right">{{h['13']}}</td>
        <td class="right">{{h['14']}}</td>
        <td class="right">{{h['15']}}</td>
        <td class="right">{{h['16']}}</td>
        <td class="right">{{h['17']}}</td>
        <td class="right">{{h['18']}}</td>
      </tr>
      <!-- <tr>
        <td class="right" style="font-weight: bold;">รวม</td>
        <td class="right" style="font-weight: bold;">{{l.sum}}</td>
        <td class="right" style="font-weight: bold;">{{l.ippui}}</td>
        <td class="right" style="font-weight: bold;">{{l.severe}}</td>
        <td class="right" style="font-weight: bold;">{{l.moderate}}</td>
        <td class="right" style="font-weight: bold;">{{l.mild}}</td>
        <td class="right" style="font-weight: bold;">{{l.asymptomatic}}</td>
      </tr> -->
    </tbody>
  </table>
</div>


<app-loadding #loading></app-loadding>