<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/requisition-min-max">ตั้งค่า MIN-MAX</a> -->
  <span>เติมยา</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1" (click)="getProducts()">เติมยา</button>
    <clr-tab-content id="content1" *clrIfActive>

      คงคลัง GPO
      <table class="table" style="width:100%">
        <tr>
          <td>Hydroxychloroquine 200 mg.<br>0 Tab</td>
          <td>Chloroquine 250 mg.<br>0 Tab</td>
          <td>Darunavir 600mg<br>0 Tab</td>
          <td>Lopinavir 200 mg/Ritonavir 50 mg.<br>0 Tab</td>
          <td>Ritonavir 100 mg.<br>0 Tab</td>
          <td>Azithromycin 250 mg.<br>0 Tab</td>
        </tr>
      </table>
      ยอดเติม
      <table class="table" style="width:100%">
        <tr>
          <td>Hydroxychloroquine 200 mg.<br>{{hcqFill}} Tab</td>
          <td>Chloroquine 250 mg.<br>{{cqFill}} Tab</td>
          <td>Darunavir 600mg<br>{{drvFill}} Tab</td>
          <td>Lopinavir 200 mg/Ritonavir 50 mg.<br>{{lpvFill}} Tab</td>
          <td>Ritonavir 100 mg.<br>{{rtvFill}} Tab</td>
          <td>Azithromycin 250 mg.<br>{{azitFill}} Tab</td>
        </tr>
      </table>
      <div style="overflow-x: scroll;width: 100%;">
        <table class="table table-compact" style="width:max-content;max-width: max-content;border-collapse: collapse;">
          <thead>
            <tr>
              <th class="td-border" rowspan="2" (click)="sort('zone_code')"><span class="pointer"> เขต<clr-icon shape="sort-by"></clr-icon></span></th>
              <th class="td-border" rowspan="2" (click)="sort('hospital_name')"><span class="pointer"> โรงพยาบาล<clr-icon
                    shape="sort-by"></clr-icon></span></th>
              <th class="td-border" colspan="4">HCQ (100)</th>
              <th class="td-border" colspan="4">CQ (1000)</th>
              <th class="td-border" colspan="4">DRV (60)</th>
              <th class="td-border" colspan="4">LPV/r (120)</th>
              <th class="td-border" colspan="4">RTV (30)</th>
              <th class="td-border" colspan="4">Azithromycin (60)</th>
            </tr>
            <tr>
              <th class="td-border">รับเข้า</th>
              <th class="td-border" (click)="sort('hydroxy_chloroquine_req_qty')"><span class="pointer"> ใช้ไป<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('hydroxy_chloroquine_qty')"><span class="pointer"> คงเหลือ<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('hydroxy_chloroquine_recomment_qty')"><span class="pointer"> เติมยา<clr-icon
                    shape="sort-by"></clr-icon></span></th>
              <th class="td-border">รับเข้า</th>
              <th class="td-border" (click)="sort('chloroquine_req_qty')"><span class="pointer"> ใช้ไป<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('chloroquine_qty')"><span class="pointer"> คงเหลือ<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('chloroquine_recomment_qty')"><span class="pointer"> เติมยา<clr-icon
                    shape="sort-by"></clr-icon></span></th>
              <th class="td-border">รับเข้า</th>
              <th class="td-border" (click)="sort('darunavir_req_qty')"><span class="pointer"> ใช้ไป<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('darunavir_qty')"><span class="pointer"> คงเหลือ<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('darunavir_recomment_qty')"><span class="pointer"> เติมยา<clr-icon
                    shape="sort-by"></clr-icon></span></th>
              <th class="td-border">รับเข้า</th>
              <th class="td-border" (click)="sort('lopinavir_req_qty')"><span class="pointer"> ใช้ไป<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('lopinavir_qty')"><span class="pointer"> คงเหลือ<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('lopinavir_recomment_qty')"><span class="pointer"> เติมยา<clr-icon
                    shape="sort-by"></clr-icon></span></th>
              <th class="td-border">รับเข้า</th>
              <th class="td-border" (click)="sort('ritonavir_req_qty')"><span class="pointer"> ใช้ไป<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('ritonavir_qty')"><span class="pointer"> คงเหลือ<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('ritonavir_recomment_qty')"><span class="pointer"> เติมยา<clr-icon
                    shape="sort-by"></clr-icon></span></th>
              <th class="td-border">รับเข้า</th>
              <th class="td-border" (click)="sort('azithromycin_req_qty')"><span class="pointer"> ใช้ไป<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('azithromycin_qty')"><span class="pointer"> คงเหลือ<clr-icon
                shape="sort-by"></clr-icon></span></th>
              <th class="td-border" (click)="sort('azithromycin_recomment_qty')"><span class="pointer"> เติมยา<clr-icon
                    shape="sort-by"></clr-icon></span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of products">
              <td class="td-border">{{i.zone_code}}</td>
              <td class="td-border text-left">{{i.hospital_name}}</td>

              <td class="td-border text-left" [ngClass]="{isError: i.hydroxy_chloroquine_qty+i.hydroxy_chloroquine_reserve_qty < i.hydroxy_chloroquine_min_qty,isWarning: i.hydroxy_chloroquine_qty >= i.hydroxy_chloroquine_min_qty}">
                {{i.hydroxy_chloroquine_total_qty ||0}}(+{{i.hydroxy_chloroquine_reserve_qty ||0}})</td>
              <td class="td-border text-left" [ngClass]="{isError: i.hydroxy_chloroquine_qty < i.hydroxy_chloroquine_min_qty,isWarning: i.hydroxy_chloroquine_qty >= i.hydroxy_chloroquine_min_qty}">
                {{i.hydroxy_chloroquine_req_qty || 0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.hydroxy_chloroquine_qty < i.hydroxy_chloroquine_min_qty,isWarning: i.hydroxy_chloroquine_qty >= i.hydroxy_chloroquine_min_qty}">
                {{i.hydroxy_chloroquine_qty ||0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.hydroxy_chloroquine_qty < i.hydroxy_chloroquine_min_qty,isWarning: i.hydroxy_chloroquine_qty >= i.hydroxy_chloroquine_min_qty}">
                <input type="number" (keyup)="sumProduct()" class="clr-input" appNumberOnly style="width: 50px;"
                  [value]="i.hydroxy_chloroquine_recomment_qty" [(ngModel)]="i.hydroxy_chloroquine_recomment_qty"></td>

              <td class="td-border text-left" [ngClass]="{isError: i.chloroquine_qty+i.chloroquine_reserve_qty < i.chloroquine_min_qty}">
                {{i.chloroquine_total_qty ||0}}(+{{i.chloroquine_reserve_qty ||0}})</td>
              <td class="td-border text-left" [ngClass]="{isError: i.chloroquine_qty < i.chloroquine_min_qty}">
                {{i.chloroquine_req_qty || 0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.chloroquine_qty < i.chloroquine_min_qty}">
                {{i.chloroquine_qty ||0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.chloroquine_qty < i.chloroquine_min_qty}"><input
                  type="number" (keyup)="sumProduct()" class="clr-input" appNumberOnly style="width: 50px;" [value]="i.chloroquine_recomment_qty"
                  [(ngModel)]="i.chloroquine_recomment_qty"></td>

              <td class="td-border text-left" [ngClass]="{isError: i.darunavir_qty+i.darunavir_reserve_qty < i.darunavir_min_qty,isWarning: i.darunavir_qty >= i.darunavir_min_qty}">
                {{i.darunavir_total_qty ||0}}(+{{i.darunavir_reserve_qty ||0}})</td>
              <td class="td-border text-left" [ngClass]="{isError: i.darunavir_qty < i.darunavir_min_qty,isWarning: i.darunavir_qty >= i.darunavir_min_qty}">
                {{i.darunavir_req_qty || 0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.darunavir_qty < i.darunavir_min_qty,isWarning: i.darunavir_qty >= i.darunavir_min_qty}">
                {{i.darunavir_qty ||0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.darunavir_qty < i.darunavir_min_qty,isWarning: i.darunavir_qty >= i.darunavir_min_qty}">
                <input type="number" (keyup)="sumProduct()" class="clr-input" appNumberOnly style="width: 50px;"
                  [value]="i.darunavir_recomment_qty" [(ngModel)]="i.darunavir_recomment_qty"></td>

              <td class="td-border text-left" [ngClass]="{isError: i.lopinavir_qty+i.lopinavir_reserve_qty < i.lopinavir_min_qty}">
                {{i.lopinavir_total_qty ||0}}(+{{i.lopinavir_reserve_qty ||0}})</td>
              <td class="td-border text-left" [ngClass]="{isError: i.lopinavir_qty < i.lopinavir_min_qty}">
                {{i.lopinavir_req_qty || 0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.lopinavir_qty < i.lopinavir_min_qty}">
                {{i.lopinavir_qty ||0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.lopinavir_qty < i.lopinavir_min_qty}"><input type="number"
                  (keyup)="sumProduct()" class="clr-input" appNumberOnly style="width: 50px;" [value]="i.lopinavir_recomment_qty"
                  [(ngModel)]="i.lopinavir_recomment_qty"></td>

              <td class="td-border text-left" [ngClass]="{isError: i.ritonavir_qty +i.ritonavir_reserve_qty< i.ritonavir_min_qty,isWarning: i.ritonavir_qty >= i.ritonavir_min_qty}">
                {{i.ritonavir_total_qty ||0}}(+{{i.ritonavir_reserve_qty ||0}})</td>
              <td class="td-border text-left" [ngClass]="{isError: i.ritonavir_qty < i.ritonavir_min_qty,isWarning: i.ritonavir_qty >= i.ritonavir_min_qty}">
                {{i.ritonavir_req_qty || 0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.ritonavir_qty < i.ritonavir_min_qty,isWarning: i.ritonavir_qty >= i.ritonavir_min_qty}">
                {{i.ritonavir_qty ||0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.ritonavir_qty < i.ritonavir_min_qty,isWarning: i.ritonavir_qty >= i.ritonavir_min_qty}">
                <input type="number" (keyup)="sumProduct()" class="clr-input" appNumberOnly style="width: 50px;"
                  [value]="i.ritonavir_recomment_qty" [(ngModel)]="i.ritonavir_recomment_qty"></td>

              <td class="td-border text-left" [ngClass]="{isError: i.azithromycin_qty+i.azithromycin_reserve_qty < i.azithromycin_min_qty}">
                {{i.azithromycin_total_qty ||0}}(+{{i.azithromycin_reserve_qty ||0}})</td>
              <td class="td-border text-left" [ngClass]="{isError: i.azithromycin_qty < i.azithromycin_min_qty}">
                {{i.azithromycin_req_qty || 0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.azithromycin_qty < i.azithromycin_min_qty}">
                {{i.azithromycin_qty ||0}}</td>
              <td class="td-border text-left" [ngClass]="{isError: i.azithromycin_qty < i.azithromycin_min_qty}"><input
                  type="number" (keyup)="sumProduct()" class="clr-input" appNumberOnly style="width: 50px;" [value]="i.azithromycin_recomment_qty"
                  [(ngModel)]="i.azithromycin_recomment_qty"></td>

            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-success btn-sm btn-block" (click)="onClickFulFill()">บันทึกเติมยา</button>
    </clr-tab-content>
  </clr-tab>
  <!-- <clr-ta 
    <button clrTabLink id="link1" (click)="getProducts()">เติมยา(รายรพ.)</button>
    <clr-tab-content id="content1" *clrIfActive>
      <div class="clr-row">
        <div class="clr-col-3">
          <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
            <clr-dg-column>โรงพยาบาล</clr-dg-column>
            <clr-dg-row *clrDgItems="let i of nodes" [clrDgItem]="i" [ngClass]="{isSuccess: hospitalId==i.hospital_id}"
              (click)="getBalanceDrugs(i.hospital_id);hospitalId=i.hospital_id">
              <clr-dg-cell>{{i.hospname}}</clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </div>
        <div class="clr-col-9">
          <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
            <clr-dg-column>ชื่อยา</clr-dg-column>
            <clr-dg-column>คงคลัง</clr-dg-column>
            <clr-dg-column>min/max</clr-dg-column>
            <clr-dg-column>safety stock</clr-dg-column>
            <clr-dg-column>ยอดแนะนำ</clr-dg-column>
            <clr-dg-column>ยอดเติม</clr-dg-column>
            <clr-dg-row *clrDgItems="let i of generics" [clrDgItem]="i">
              <clr-dg-cell>{{i.generic_name}}</clr-dg-cell>
              <clr-dg-cell>{{i.qty ||0}} {{i.reserve_qty? '(+'+i.reserve_qty+')' : ''}}</clr-dg-cell>
              <clr-dg-cell>{{i.min}}/{{i.max}}</clr-dg-cell>
              <clr-dg-cell>{{i.safety_stock}}</clr-dg-cell>
              <clr-dg-cell>{{i.recommend_fill_qty ||0}}</clr-dg-cell>
              <clr-dg-cell>
                <input type="text" appNumberOnly name="{{i.fill_qty ||0}}" [(ngModel)]="i.fill_qty">
              </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab> -->
  <clr-tab>
    <button clrTabLink>รายการเติมยา</button>
    <clr-tab-content *clrIfActive>
      <button class="btn btn-success btn-sm" (click)="onClickApprove()">อนุมัติ {{countApprove+' รายการ'}}</button>
      <button class="btn btn-primary btn-sm right" (click)="onClickExport1()">ส่งออกรายงานที่ 1 ({{countExport+'
        รายการ'}})</button>
      <button class="btn btn-primary btn-sm right" (click)="onClickExport2()">ส่งออกรายงานที่ 2 ({{countExport+'
        รายการ'}})</button>
      <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800" [(clrDgSelected)]="selectedFulfills"
        (clrDgSelectedChange)="selectionChanged($event)">
        <clr-dg-column>ใบเติม</clr-dg-column>
        <clr-dg-column>วันที่เติม</clr-dg-column>
        <clr-dg-column>ผู้เติม</clr-dg-column>
        <clr-dg-column>สถานะ</clr-dg-column>
        <!-- <clr-dg-column></clr-dg-column> -->

        <clr-dg-row *clrDgItems="let i of fulfills" [clrDgItem]="i" [ngClass]="{isProblem: i.is_approved == 'Y'}">
          <clr-dg-cell>{{i.code}}</clr-dg-cell>
          <clr-dg-cell>{{i.created_date | dateTh:'D MMM YYYY'}}</clr-dg-cell>
          <clr-dg-cell>{{i.fname}} {{i.lname}}</clr-dg-cell>
          <clr-dg-cell>{{i.is_approved == 'Y' ? 'อนุมัติแล้ว':'รออนุมัติ'}}</clr-dg-cell>
          <app-fulfill-drug-details [id]="i.id" *clrIfExpanded ngProjectAs="clr-dg-row-detail">
          </app-fulfill-drug-details>
          <!-- <clr-dg-cell>
            <input type="text" appNumberOnly name="{{i.fill_qty ||0}}" [(ngModel)]="i.fill_qty">
          </clr-dg-cell> -->
        </clr-dg-row>
        <!-- <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="limit">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
            </clr-dg-pagination>
          </clr-dg-footer> -->
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<app-loadding #modalLoading></app-loadding>