<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a> -->
  <span class="breadcrumb-item active">รายงานการบันทึกผู้ป่วยใหม่ประจำวัน</span>
</nav>

<!-- <table class="table">
  <thead>
    <tr>
      <th colspan="2" class="left"></th>
      <th class="left">จำนวนผู้ป่วย</th>
      <th class="left">IP PUI</th>
      <th class="left">Severve</th>
      <th class="left">Moderate</th>
      <th class="left">Mild</th>
      <th class="left">Asymptomatic</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="2" class="right" style="font-weight: bold;">รวมทั้งสิ้น</th>
      <th class="right" style="font-weight: bold;">{{total}}</th>
      <th class="right" style="font-weight: bold;">{{ippui}}</th>
      <th class="right" style="font-weight: bold;">{{severe}}</th>
      <th class="right" style="font-weight: bold;">{{moderate}}</th>
      <th class="right" style="font-weight: bold;">{{mild}}</th>
      <th class="right" style="font-weight: bold;">{{asymptomatic}}</th>
    </tr>
  </thead>
</table> -->
<br>

<div class="clr-row">
  <div class="clr-col-2">วันที่แสดงข้อมูล</div>
  <div class="clr-col-2">
    <my-date-picker-th name="date" [options]="myDatePickerOptions" (dateChanged)="onChangeDate($event)"
      [(ngModel)]="date" required>
    </my-date-picker-th>
  </div>
  <div class="clr-col-8">
    <button class="btn btn-sm btn-primary" (click)="doExportExcel()">
      <clr-icon shape="download"></clr-icon>export excel
    </button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <span class="required">*</span> หมายเหตุ หากดูรายงานวันปัจจุบัน ข้อมูลอาจเปลี่ยนแปลง
    เพราะรพ.สามารถแก้ไขข้อมูลได้ในวันปัจจุบัน
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <span class="required">*</span> หมายเหตุ จำนวนผู้ป่วย(ราย)ที่บันทึกในวันที่ที่เลือก หากต้องการทราบวันที่ admit ให้
    click ที่ชื่อโรงพยาบาล
  </div>
</div>


<clr-datagrid *ngIf="providerType == 'ZONE'">
  <clr-dg-column>จังหวัด</clr-dg-column>
  <clr-dg-column>รวม</clr-dg-column>
  <clr-dg-column>Severe</clr-dg-column>
  <clr-dg-column>Moderate</clr-dg-column>
  <clr-dg-column>Mild</clr-dg-column>
  <clr-dg-column>Asymptomatic</clr-dg-column>
  <clr-dg-column>IP PUI</clr-dg-column>
  <clr-dg-row *ngFor="let p of list">
    <clr-dg-cell>{{p.province_name}}</clr-dg-cell>
    <clr-dg-cell>{{p.count}}</clr-dg-cell>
    <clr-dg-cell>{{p.severe}}</clr-dg-cell>
    <clr-dg-cell>{{p.moderate}}</clr-dg-cell>
    <clr-dg-cell>{{p.mild}}</clr-dg-cell>
    <clr-dg-cell>{{p.asymptomatic}}</clr-dg-cell>
    <clr-dg-cell>{{p.ip_pui}}</clr-dg-cell>

    <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
      <clr-dg-column>โรงพยาบาล</clr-dg-column>
      <clr-dg-column>Severe</clr-dg-column>
      <clr-dg-column>Moderate</clr-dg-column>
      <clr-dg-column>Mild</clr-dg-column>
      <clr-dg-column>Asymptomatic</clr-dg-column>
      <clr-dg-column>IP PUI</clr-dg-column>

      <clr-dg-row *ngFor="let h of p.hospitals">
        <clr-dg-cell>{{h.hospname}}</clr-dg-cell>
        <clr-dg-cell>{{h.severe}}</clr-dg-cell>
        <clr-dg-cell>{{h.moderate}}</clr-dg-cell>
        <clr-dg-cell>{{h.mild}}</clr-dg-cell>
        <clr-dg-cell>{{h.asymptomatic}}</clr-dg-cell>
        <clr-dg-cell>{{h.ip_pui}}</clr-dg-cell>
        <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
          <clr-dg-column>HN</clr-dg-column>
          <clr-dg-column>AN</clr-dg-column>
          <clr-dg-column>Admit Date</clr-dg-column>
          <clr-dg-column>ความรุนแรง</clr-dg-column>
          <!-- <clr-dg-column>Moderate</clr-dg-column>
          <clr-dg-column>Mild</clr-dg-column>
          <clr-dg-column>Asymptomatic</clr-dg-column>
          <clr-dg-column>IP PUI</clr-dg-column> -->
          <clr-dg-row *ngFor="let d of h.details">
            <clr-dg-cell>{{d.hn}}</clr-dg-cell>
            <clr-dg-cell>{{d.an}}</clr-dg-cell>
            <clr-dg-cell>{{d.date_admit | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
            <clr-dg-cell>{{d.gcs_name}}</clr-dg-cell>
            <!-- <clr-dg-cell>{{h.moderate}}</clr-dg-cell>
            <clr-dg-cell>{{h.mild}}</clr-dg-cell>
            <clr-dg-cell>{{h.asymptomatic}}</clr-dg-cell>
            <clr-dg-cell>{{h.ip_pui}}</clr-dg-cell> -->
          </clr-dg-row>
        </clr-datagrid>
      </clr-dg-row>
    </clr-datagrid>
  </clr-dg-row>
</clr-datagrid>


<clr-datagrid *ngIf="providerType == 'SSJ'">
  <clr-dg-column>โรงพยาบาล</clr-dg-column>
  <clr-dg-column>Severe</clr-dg-column>
  <clr-dg-column>Moderate</clr-dg-column>
  <clr-dg-column>Mild</clr-dg-column>
  <clr-dg-column>Asymptomatic</clr-dg-column>
  <clr-dg-column>IP PUI</clr-dg-column>
  <clr-dg-row *ngFor="let h of list[0].hospitals">
    <clr-dg-cell>{{h.hospname}}</clr-dg-cell>
    <clr-dg-cell>{{h.severe}}</clr-dg-cell>
    <clr-dg-cell>{{h.moderate}}</clr-dg-cell>
    <clr-dg-cell>{{h.mild}}</clr-dg-cell>
    <clr-dg-cell>{{h.asymptomatic}}</clr-dg-cell>
    <clr-dg-cell>{{h.ip_pui}}</clr-dg-cell>

    <clr-datagrid ngProjectAs="clr-dg-row-detail" *clrIfExpanded>
      <clr-dg-column>HN</clr-dg-column>
      <clr-dg-column>AN</clr-dg-column>
      <clr-dg-column>Admit Date</clr-dg-column>
      <clr-dg-column>ความรุนแรง</clr-dg-column>
      <clr-dg-row *ngFor="let d of h.details">
        <clr-dg-cell>{{d.hn}}</clr-dg-cell>
        <clr-dg-cell>{{d.an}}</clr-dg-cell>
        <clr-dg-cell>{{d.date_admit | dateTh:'DD/MM/YYYY'}}</clr-dg-cell>
        <clr-dg-cell>{{d.gcs_name}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </clr-dg-row>
</clr-datagrid>




<app-loadding #loading></app-loadding>