<clr-datagrid>
  <clr-dg-column>ลำดับ</clr-dg-column>
  <clr-dg-column>ชื่อเวช</clr-dg-column>
  <clr-dg-column>คงคลังปัจจุบัน</clr-dg-column>

  <clr-dg-row *ngFor="let l of history">
    <clr-dg-cell>{{l.id}}</clr-dg-cell>
    <clr-dg-cell> <input clrInput placeholder="My input" name="input" [(ngModel)]="input" /></clr-dg-cell>
    <clr-dg-cell>{{l.creation | date}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="50">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>