<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/manage-min-max">รายการสังกัด</a>
  <span class="breadcrumb-item active">รายการโรงพยาบาล</span>
</nav>

<div class="clr-row">
  <div class="clr-col-1">
    ค้นหา :
  </div>
  <div class="clr-col-3">
    <input class="clr-input width-fit" (keyup)="doEnter($event)" name="query" [(ngModel)]="query" placeholder="Enter เพื่อค้นหา" />
  </div>
  <div class="clr-col-8" style="text-align: right;">
    <button class="btn btn-md btn-outline btn-primary">
      <clr-icon shape="file"></clr-icon> Export
    </button>
    <button class="btn btn-md btn-primary" (click)="fill()">
      <clr-icon shape="repeat"></clr-icon> เติม
    </button>
  </div>
</div>

<clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
  <clr-dg-column>#</clr-dg-column>
  <clr-dg-column>รหัส 5 หลัก</clr-dg-column>
  <!-- <clr-dg-column>รหัส 10 หลัก</clr-dg-column> -->
  <clr-dg-column>รายการ</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *ngFor="let l of list; let idx=index;">
    <clr-dg-cell>{{idx+1}}</clr-dg-cell>
    <clr-dg-cell>{{l.hospcode}}</clr-dg-cell>
    <!-- <clr-dg-cell>{{l.hospcode_new}}</clr-dg-cell> -->
    <clr-dg-cell>{{l.hospname}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group">
        <button class="btn btn-sm btn-success" (click)="onClickEdit(l.hospcode)" title="แก้ไข">
          <clr-icon shape="note"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="limit">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">จำนวนรายการต่อหน้า</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="modal" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">รายละเอียดการส่งสินค้า</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">
        <clr-datagrid [clrDgLoading]="loading" [style.height.px]="800">
          <clr-dg-column>#</clr-dg-column>
          <clr-dg-column>รหัสเวชภัณฑ์</clr-dg-column>
          <clr-dg-column>รายการ</clr-dg-column>
          <clr-dg-column>หน่วย</clr-dg-column>
          <!-- <clr-dg-column>หมายเหตุ</clr-dg-column> -->
          <clr-dg-column>MIN</clr-dg-column>
          <clr-dg-column>MAX</clr-dg-column>
          <clr-dg-column>จำนวนคงเหลือ</clr-dg-column>
          <clr-dg-column>จำนวนเติม</clr-dg-column>

          <clr-dg-row *ngFor="let l of listDetail; let idx=index;">
            <clr-dg-cell>{{idx+1}}</clr-dg-cell>
            <clr-dg-cell>{{l.code}}</clr-dg-cell>
            <clr-dg-cell>{{l.name}}</clr-dg-cell>
            <clr-dg-cell>{{l.unit_name}}</clr-dg-cell>
            <!-- <clr-dg-cell>{{l.remark}}</clr-dg-cell> -->
            <clr-dg-cell style="color: red; text-align: right;">{{l.min | number:'1.0-0'}}</clr-dg-cell>
            <clr-dg-cell style="color: blue; text-align: right;">{{l.max | number:'1.0-0'}}</clr-dg-cell>
            <clr-dg-cell style="color: maroon; text-align: right;">{{l.qty | number:'1.0-0'}}</clr-dg-cell>
            <clr-dg-cell style="color: green; text-align: right;">{{l.max - l.qty | number:'1.0-0'}}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-success" (click)="save()">
      บันทึก
    </button> -->
    <button type="button" class="btn btn-danger" (click)="modal = false">
      ปิด
    </button>
  </div>
</clr-modal>