<div class="clr-row">
  <div class="clr-col-lg-6 clr-col-md-6 clr-col-6 clr-offset-sm-3">
    <div class="card">
      <div class="card-header">
        ลงทะเบียนสำหรับเจ้าที่โรงพยาบาลจัดสรรเวชภัณฑ์
      </div>
      <div class="card-block">
        <div class="card-title">

        </div>
        <div class="card-text">
          <form clrForm>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                ชื่อสถานบริการ :
              </div>
              <div class="clr-col-6">
                <app-autocomplete-hospital style="padding: 0px" #hospital (onselect)="onSelectHosp($event)">
                </app-autocomplete-hospital>
                <!-- <input type="text" maxlength="5" (keyup)="enterHopsCord()" id="hospCode" placeholder="รหัสสถานบริการ" -->
                <!-- name="hospCode" class="clr-input clr-col-12" [(ngModel)]="hospCode"> -->
              </div>
              <div class="clr-col-3">
                <div *ngIf="!checkHospCode && hospCode.length == 5" class="alert alert-danger alert-sm" role="alert"
                  style="margin: 0rem;">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        ไม่พบรหัสสถานบริการ
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="checkHospCode && hospCode.length == 5" class="alert alert-success alert-sm" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">{{hospName}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                รหัสโรงพยาบาล :
              </div>
              <div class="clr-col-6">
                <input type="text" maxlength="5" id="hospcodeConfirm" placeholder="ระบุรหัสโรงพยาบาล"
                  name="hospcodeConfirm" class="clr-input clr-col-12" [(ngModel)]="hospcodeConfirm">
              </div>
              <div class="clr-col-3">
                <div *ngIf="onSelectHospcode != hospcodeConfirm && hospcodeConfirm == 5" class="alert alert-danger alert-sm" role="alert"
                  style="margin: 0rem;">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        รหัสโรงพยาบาลไม่ถูกต้อง
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="onSelectHospcode == hospcodeConfirm" class="alert alert-success alert-sm" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">รหัสโรงพยาบาลถูกต้อง</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                เลขบัตรประชาชน :
              </div>
              <div class="clr-col-6">
                <input type="text" (keyup)="enterCid()" maxlength="13" id="cid" placeholder="เลขบัตรประชาชน 13 หลัก"
                  name="cid" class="clr-input clr-col-12" [(ngModel)]="cid">
              </div>
              <div class="clr-col-3">
                <div *ngIf="checkCid == false && cid.length == 13" class="alert alert-danger alert-sm" role="alert"
                  style="margin: 0rem;">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        เลขบัตรประชาชนไม่ถูกต้อง
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="checkCid" class="alert alert-success alert-sm" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">เลขบัตรประชาชนถูกต้อง</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                ตำแหน่ง :
              </div>
              <div class="clr-col-6">
                <input type="text" id="position" placeholder="ระบุตำแหน่ง" name="position" class="clr-input clr-col-12"
                  [(ngModel)]="position">
              </div>
              <div class="clr-col-3">

              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                คำนำหน้า :
              </div>
              <div class="clr-col-6">
                <input type="text" id="prename" placeholder="คำนำหน้า" name="prename" class="clr-input clr-col-12"
                  [(ngModel)]="prename">
              </div>
              <div class="clr-col-3">

              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                ชื่อ :
              </div>
              <div class="clr-col-6">
                <input type="text" id="firstName" placeholder="ชื่อ" name="firstName" class="clr-input clr-col-12"
                  [(ngModel)]="firstName">
              </div>
              <div class="clr-col-3">

              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                นามสกุล :
              </div>
              <div class="clr-col-6">
                <input type="text" id="lastName" placeholder="นามสกุล" name="lastName" class="clr-input clr-col-12"
                  [(ngModel)]="lastName">
              </div>
              <div class="clr-col-3">

              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                Username :
              </div>
              <div class="clr-col-6">
                <input type="text" id="username" placeholder="username" name="username" class="clr-input clr-col-12"
                  [(ngModel)]="username">
              </div>
              <div class="clr-col-3">

              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                Password :
              </div>
              <div class="clr-col-6">
                <input type="password" (keyup)="enterPassword()" id="password" placeholder="password" name="password"
                  class="clr-input clr-col-12" [(ngModel)]="password">
              </div>
              <div class="clr-col-3">
                <div *ngIf="!checkPassword && password != ''" class="alert alert-danger alert-sm" role="alert" style="margin: 0rem;">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        8 หลักขึ้นไป มี a-z และ 0-9
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="checkPassword" class="alert alert-success alert-sm" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        รูปแบบถูกต้อง
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                Confirm Password :
              </div>
              <div class="clr-col-6">
                <input type="password" (keyup)="enterPasswordConfirm()" id="passwordConfirm" placeholder="Confirm Password"
                  name="passwordConfirm" class="clr-input clr-col-12" [(ngModel)]="passwordConfirm">
              </div>
              <div class="clr-col-3">
                <div *ngIf="!checkPasswordConfirm && this.passwordConfirm != ''" class="alert alert-danger alert-sm"
                  role="alert" style="margin: 0rem;">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        รหัสไม่ตรงกัน
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="checkPasswordConfirm && this.passwordConfirm != ''" class="alert alert-success alert-sm"
                  role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        ยืนยันสำเร็จ
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                Email :
              </div>
              <div class="clr-col-6">
                <input type="email" (keyup)="enterEmail()" id="email" placeholder="Email" name="email" class="clr-input clr-col-12"
                  [(ngModel)]="email">
              </div>
              <div class="clr-col-3">
                <div *ngIf="!checkEmail && this.email != ''" class="alert alert-danger alert-sm" role="alert" style="margin: 0rem;">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        รูปแบบไม่ถูกต้อง
                      </span>
                    </div>
                  </div>
                </div>
                <div *ngIf="checkEmail && this.email != ''" class="alert alert-success alert-sm" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">
                        รูปแบบถูกต้อง
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-3" style="text-align: right;">
                เบอร์มือถือ :
              </div>
              <div class="clr-col-6">
                <input type="text" (keyup)="enterPhone()" maxlength="10" id="phoneNumber" placeholder="เบอร์มือถือ"
                  name="phoneNumber" class="clr-input clr-col-12" [(ngModel)]="phoneNumber">
              </div>
              <div class="clr-col-3">

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="save()">บันทึก</button>
        <button class="btn btn-danger-outline">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>